<ngx-componentsheader *ngIf="pageNo == 1"
  pageName="Loan Request"
  [requiredButton]="[]"
></ngx-componentsheader>

<ngx-componentsheader *ngIf="pageNo == 2"
  pageName="Loan Request"
  [requiredButton]="[{name:'submit', label:'Submit'}]" (buttonClick)="addRole()"
></ngx-componentsheader>

<div *ngIf="pageNo == 1">
  <nb-card>
    <ngx-default-content [pageHeader]="myHeader" [pageDescription]="myDescription" [buttonValue]="button" (buttonClick) = "gotoNext()">
    </ngx-default-content>
  </nb-card>
</div>

<!-- <div>
  <nb-card>
    <nb-card-body>
      <ngx-tableheader></ngx-tableheader>
      <ngx-tablecomponent [loading]='loading' [tableColum]="loanRequestTable" [userData]='data' [actions]='tableActions' (actionClick)="tableActionClicked($event)"></ngx-tablecomponent>
    </nb-card-body>
  </nb-card>
</div> -->

<div *ngIf="pageNo == 2" class="row">
  <div class="col-lg-3 col-md-3 col-xxl-3">
    <nb-card>
    <div>
        <div #linklist style="display: flex;flex-direction: column;" *ngFor="let requestlist of requestChecklist; let i = index">

        <div (click)="selectPanel(requestlist,i)" [ngClass]="{'wizardlistactive': requestlist.status == 'Active','wizardlistinactive': requestlist.status != 'Active'}" style="display: flex;flex-direction: row;margin: .5rem 0 .5rem 0; align-items: center;cursor: pointer;">
        <div style="padding-left: 1rem;"><nb-icon icon="checkmark-circle-2" status="{{requestlist.status == 'Active'? 'primary': 'none'}}"></nb-icon></div>
        <div style="padding-left: 0.625rem;"><span [ngClass]="{'listtextActive': requestlist.status == 'Active','listtextInactive': requestlist.status != 'Active'}" >{{requestlist.label}} </span> </div>
        </div>

      </div>
    </div>

    </nb-card>
    </div>

  <div *ngIf="selectedCase=='request'" class="col-lg-9 col-md-9 col-xxl-9" style="background-color: transparent;">
        <nb-card>
            <nb-card-body>
              <form name="loanForm" #loanForm="ngForm">

                <div class="form-group row">
                  <div class="col-sm-3">
                    <label for="">Employee Name</label>
                  </div>

                  <div class="col-sm-6">
                    <ngx-employee-master-search></ngx-employee-master-search>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-3">
                    <label for="">Loan Type</label>
                  </div>

                  <div class="col-sm-6">
                    <select class="form-control" name="loanType" [(ngModel)]="loanModel.loanTypeName">
                      <option value="">--Select Loan Type--</option>
                      <option *ngFor="let myType of allloanTypes" [value]="myType.code">{{ myTpe.name }}</option>
                    </select>
                  </div>
                </div>

                  <!-- <div class="form-group row">
                    <div class="col-sm-3">
                      <label for="">Interest Type</label>
                    </div>

                    <div class="col-sm-6">
                      <select class="form-control" name="loanType" [(ngModel)]="loanModel.">
                        <option value="">--Select Interest Type--</option>
                      </select>
                    </div>
                </div> -->

                <div class="form-group row">
                  <div class="col-sm-3">
                    <label for="">Effective Date</label>
                  </div>
                  <div class="col-sm-6">
                    <ngx-date [(value)]="loanModel.effectiveDate"></ngx-date>
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-sm-3">
                    <label for="">Requested Amount</label>
                  </div>
                  <div class="col-sm-6">
                    <app-amount-input [(value)]="loanModel.requestedAmount"></app-amount-input>
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-sm-3">
                    <label for="">Requested Tenor (Months)</label>
                  </div>

                  <div class="col-sm-6">
                    <input class="form-control" type="number" name="tenor" #tenor="ngModel" [(ngModel)]="loanModel.requestedTenor" placeholder="12">
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-sm-3">
                    <label for="">Maturity Date</label>
                  </div>
                  <div class="col-sm-6">
                    <ngx-date [(value)]="loanModel.strMaturityDate"></ngx-date>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-3">
                    <label for="">Custom Question</label>
                  </div>

                  <div class="col-sm-6">
                    <ngx-wysisyg-input [(value)]="loanModel.customAnswer" style="padding-left: -10px;" ></ngx-wysisyg-input>
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-sm-3">
                    <label for="">Custom Answer</label>
                  </div>

                  <div class="col-sm-6">
                    <ngx-wysisyg-input [(value)]="loanModel.customAnswer" style="padding-left: -10px;" ></ngx-wysisyg-input>
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-sm-3">
                    <label for="">Loan Justification</label>
                  </div>

                  <div class="col-sm-6">
                    <ngx-wysisyg-input [(value)]="loanModel.justification" style="padding-left: -10px;" ></ngx-wysisyg-input>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-sm-3">
                    <label for=""></label>
                  </div>
                </div>
              </form>

            </nb-card-body>
        </nb-card>
  </div>


  <div *ngIf="selectedCase=='guarantor'" class="col-lg-9 col-md-9 col-xxl-9">
    <nb-card>
      <nb-card-body>
          <div class="form-group row">
            <div class="col-sm-3">
              <label for="">Add Guarantor(s)</label>
            </div>
            <div class="col-sm-6">
              <ngx-employee-master-search></ngx-employee-master-search>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label for=""></label>
            </div>
            <div class="col-sm-6">
              <button nbButton status="primary" (click)="addGuarantor()">Add Guarrantor</button>
            </div>
          </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div *ngIf="selectedCase=='documents'" class="col-lg-9 col-md-9 col-xxl-9">
    <nb-card>
      <nb-card-body>

          <div class="form-group row">
            <div class="col-sm-3">
              <label>Documnt Title</label>
            </div>
            <div class="col-sm-6">
              <input class="form-control" itype="text" name="docTitle" placeholder="Enter Document Title">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label>Attach File</label>
            </div>
            <div class="col-sm-6">
              <ngx-file-upload></ngx-file-upload>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label></label>
            </div>
            <div class="col-sm-6">
              <button nbButton status="primary" (click)="uploadFile()">Upload</button>
            </div>
          </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>


<!-- <ngx-side-modal [(show)]='viewLoanModal' style="width: 500px;">
  <div modal-header>Update Loan Request</div>
  <div modal-body>

  </div>

  <div modal-actions class="d-flex mb-5">
      <button nbButton status="primary" class="d-flex column">Submit</button>
      <button nbButton outline status="primary" class="d-flex column">Discard</button>
      <button class="d-flex column Attach">
          <img class="icon" src="assets/icons/attach.jpg" style="height: 30px; margin-left: 20px;margin-right: 10px;">
          Attach</button>

  </div>
  <div style="margin-top: 15px;"></div>
</ngx-side-modal> -->
