<ngx-tableheader *ngIf="showFilter" [filterFields]="tableColum" (filterDataChange)="filterUpdated($event)">
</ngx-tableheader>

<div class="table-responsive">
  <table class="table table-hover" [class]="{'table-2': table2}">
    <thead>
      <tr>
        <th *ngIf="showCheckBox"></th>
        <th scope="col" *ngFor="let col of tableColum">{{ col.title }}</th>
        <th *ngIf="showActions"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="loading">
        <td colspan="1000">Loading......</td>
      </tr>
      <ng-container *ngIf="!loading">
        <tr *ngFor="let data of userData; let i = index">
          <td *ngIf="showCheckBox">
            <div style="padding: 10px">
              <nb-checkbox></nb-checkbox>
            </div>
          </td>
          <td *ngFor="let col of tableColum">
            <span *ngIf="col.type === COLUMN_TYPES.Text || col.type === NULL">{{ data[col.name] }}</span>
            <ngx-status *ngIf="col.type === COLUMN_TYPES.Status" [data]="data"></ngx-status>
            <span *ngIf="col.type === COLUMN_TYPES.Date"> {{ data[col.name] | date }} </span>
            <span *ngIf="col.type === COLUMN_TYPES.Link">
              <button nbButton status='primary' outline
                style="background-color: transparent; border: none; text-decoration: underline; padding: 0%; min-width: unset !important;"
                (click)='customActionClicked(col, data)'>{{ col.link_name }}</button>
            </span>
          </td>
          <td *ngIf="showActions">
            <ng-template #card>
              <div class="row">
                <div class="col-sm-12">
                  <nb-list>
                    <nb-list-item *ngFor="let act of actions" (click)='customActionClicked(act, data)' style="cursor: pointer;">
                      {{ act.label }}
                    </nb-list-item>
                  </nb-list>
                </div>
              </div>
            </ng-template>
            <button nbButton outline status="primary" [nbPopover]="card" style="
                min-width: unset !important;
                background: transparent;
                border: none;
                padding: 0px;
              ">
              <nb-icon icon="more-horizontal-outline"></nb-icon>
            </button>
          </td>
        </tr>
      </ng-container>

      <tr *ngIf="userData.length == 0 && !loading">
        <td colspan="10000">no record found</td>
      </tr>
      <tr *ngIf="loading">
        <td colspan="5">
          <nb-card [nbSpinner]="true" nbSpinnerSize="medium" nbSpinnerStatus="primary">
            <nb-card-body> Loading... </nb-card-body>
          </nb-card>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div style="display: flex;padding-top: 10px;" *ngIf="!table2">
  <div style="flex: auto;">
  <div style="padding-top: 7px;">
    Showing {{currentPage}} - {{pageSize}} of {{totalNoOfPages}}
  </div>
  </div>
  <div>
    <div class="paginator">
      <nb-actions size="medium">
        <nb-action [disabled]="currentPage <= 1" (click)="pageClicked(currentPage - 1)" icon="arrow-ios-back-outline"></nb-action>
      <nb-action>{{currentPage}}</nb-action>
    
        <nb-action icon="arrow-ios-forward-outline" [disabled]="currentPage <= totalNoOfPages" (click)="pageClicked(currentPage + 1)"></nb-action>
      </nb-actions>
 
 
    </div>
  </div>

</div>