table{
    border: 1px solid #F5F5FA;
}
thead{
    border: 1px solid #F5F5FA !important;
    background-color: #F5F5FA;
}
th{
    text-align: center;
}
td{
    text-align: center;
}
td, th{
    text-align: left;
}

.paginator{
 border: solid #86828D 1px;
 display: flex;
 flex-direction: row;
 padding: .3rem;
 border-radius: 4px;
}

.paginator > span{
    padding: 5px;
    cursor: pointer;
}

.table-2 thead{
    background: transparent;
    border: none;
    text-align: left;
    font: normal normal normal 16px/22px Rubik;
    color: #86828D;
}

.table-2 *{
    border: none;
}
