<ngx-componentsheader [pageName]='pageName' [requiredButton]="topActionButtons" (buttonClick)='modal($event)'>

</ngx-componentsheader>

<nb-card>
    <nb-card-body>
      <ngx-default-content
      *ngIf="showEmpty"
      pageHeader="Capacity Planning"
      pageDescription="Click on the button to create a Capacity Plan"
      buttonValue="Create Plan"
      [loading]="loading"
      (buttonClick)="showAddPlanModal = true"
    >
    </ngx-default-content>
      <ngx-tablecomponent  
      *ngIf="!showEmpty"
      (filterChange)="filterUpdated($event)"
      [showActions]="true"
      [showFilter]="true"
      (actionClick)="tableActionClicked($event)"
      [actions]="tableActions" 
      [userData]="allCapacityPlan" 
      [tableColum]="tableColumns"
      [totalItems]="totalItems"
      [currentPage]="currentPage"
      [loading]="loading"
      >
  </ngx-tablecomponent>
 
 
  <ngx-side-modal [(show)]='showAddPlanModal' style="width: 500px; height: 1000px;">
    <div modal-header>Add Plan</div>
    <div modal-body>
 <form id="caplanForm" name="caplanForm" #caplanForm="ngForm" >
     <div *ngIf="submitRequirementError">
        <div class="error" style="padding: 10px 0;">
            <div>{{submitRequirementError}}</div>
        </div> 
     </div>
    <div class="form-group">
        <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Activity Name:</label>
        <input type="text" class="form-control" placeholder="Enter Activity Name" name="activityName"
          #activityName="ngModel" [(ngModel)]="newcaplan.activityName" required>

        <div *ngIf="activityName.invalid && (activityName.dirty || activityName.touched)" class="error">
          <div *ngIf="activityName.errors.required">Leave Year name is required</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
            <label>Task Type</label>
            <select class="form-control" name="activityTypeId" id="activityTypeId" [(ngModel)]="newcaplan.activityTypeId" #activityTypeId="ngModel" required (change)="getdate($event)">
                <option value="">--select--</option>
                <option value="1">Task</option>
                <option value="2">Project</option>
    
              </select>
              <div *ngIf="activityTypeId.invalid && (activityTypeId.dirty || activityTypeId.touched) " class="error">
                <div *ngIf="(activityTypeId.errors.required || activityTypeId.errors)">
                  Task type is required
                </div>
              </div>
    
       
        </div>        
        <div class="col-md-6" *ngIf="projecttask">
            <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">Start Date:</label>
            <ngx-date  [(value)]='newcaplan.startDate'  #startDate [max]="newcaplan.endDate" name="startDate" id="startDate"></ngx-date>
            <div *ngIf="!validateStartdate" class="error">
                <div>Plan Start Date is required</div>
            </div>  
          </div>
          <div class="col-md-6" *ngIf="projecttask">
            <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">End Date:</label>
            <ngx-date (valueChange)="onDateSelection($event)"  [(value)]='newcaplan.endDate'  #endDate [min]="newcaplan.startDate" name="endDate" id="endDate"></ngx-date>
            <div *ngIf="!validateEnddate" class="error">
                <div>Plan End Date is required</div>
            </div>  
          </div>

          <div class="col-md-12">
            <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">Justification</label>
            <textarea rows="5"  id="description" name="description" [(ngModel)]="newcaplan.description" nbInput fullWidth   placeholder="Enter Justification"></textarea>
          </div> 
          <div class="col-md-12">
            <label style="font-size: small;font-weight: bold;">Requirements:</label>
            <div *ngIf="addRequirementError" class="error">
                <div>{{addRequirementError}}</div>
            </div> 
          </div> 
          <div class="col-md-6" >
            <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">Select Job Category</label>
            <select class="form-control" name="jobCategory" id="jobCategory" [(ngModel)]="planrequirement.jobCategory" #jobCategory="ngModel" (change)="loadselected($event)">
                <option value="">--select--</option>
                <option value="Job Role">Job Role</option>
                <option value="Position">Position</option>
           
              </select>
          </div>
          <div class="col-md-6" >
            <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">Select {{planrequirement.jobCategory}} type</label>
            <select class="form-control" name="categoryType" id="categoryType" [(ngModel)]="planrequirement.categoryType" #categoryType="ngModel">
                <option value="">--select--</option>
            <option *ngFor="let cty of JcategoryType;let i = index" value="{{i}}">{{cty.name}}</option>
            </select>
          </div>
          <div class="col-md-6" >
            <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">Required Numb of staff:</label>
            <input   name="numberOfStaff" id="numberOfStaff" [(ngModel)]="planrequirement.numberOfStaff" #numberOfStaff="ngModel" type="number" class="form-control" placeholder="number of staff">
          </div>
          <div class="col-md-6" >
            <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">Cost per Resource:</label>
            <input type="text" #costPerResource (keyup)="validatenumber(costPerResource.value)" class="form-control" name="costPerResource" id="costPerResource" [(ngModel)]="planrequirement.costPerResource" #costPerResource="ngModel" required placeholder="Resource Cost">      
            <div *ngIf="staffCostError" class="error">
                <div>{{staffCostError}}</div>
            </div> 
            
        </div>
        <div class="offset-md-6 col-md-12" style="padding:10px 0 ;" >
            <button (click)="addrequirement(planrequirement)" nbButton outline status="primary" class="d-flex column" style="background-color: white;">Add Requirement</button>
        </div>
        <div style="padding-top: 5px;" *ngIf="allreqPlan.length">
            <div class="row">
  <div class="col-sm-12" style="padding-top: 10px;"  *ngFor="let req of allreqPlan;let i = index">
  <div class="cbadge">
    {{req.Ctype}}&nbsp;|&nbsp;{{req.cJtypeName}} - {{req.Nstaff}}&nbsp;
    <i class="fa fa-times" (click)="removerequirement(i)" style="color:#EB5757;cursor: pointer;"></i>
</div>
  </div>
            </div>
           
          </div>

          <div class="col-md-12" >
            <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">Calendar Year</label>
            <div  *ngIf="newcaplan.activityTypeId == 1">
                <select name="year" id="year" [(ngModel)]="newcaplan.year" #year="ngModel" class="form-control" >
                  <option value="">select calendar year</option>
                  <option *ngFor="let yr of CustomService.nextTenYears;" value="{{yr}}">{{yr}}</option>
      
                </select>
                <div *ngIf="year.invalid && (year.dirty || year.touched) " class="error">
                    <div *ngIf="(year.errors.required || year.errors)">
                      calendar year is required
                    </div>
                  </div>
            </div>
            <div *ngIf="newcaplan.activityTypeId == 2">
                {{newcaplan.year}}
           </div>
          </div>
      </div>
 </form>
    </div>
    <div modal-actions class="d-flex"
      style="display: flex; flex-direction: row; justify-content: center; margin-top: 10px; margin-bottom: 20px;">
      <ngx-loadable-button [loading]="loading"  (click)="submitnewplan(newcaplan,allreqPlan)">
        Submit 
      </ngx-loadable-button>  
      <div style="padding-left: 15px;">
        <button nbButton outline status="primary" class="d-flex column" style="background-color: white;">Discard</button>
      </div>
     
    </div>
    <div style="margin-top: 10px;"></div>
  </ngx-side-modal>


   
  <ngx-side-modal [(show)]='showEditPlanModal' [position]="'Center'" style="width: 500px; height: 1000px;">
    <div modal-header>Edit Plan</div>
    <div modal-body>
      <nb-card>
        <nb-card-body>
          <form id="caplanForm" name="caplanForm" #caplanForm="ngForm" >
            <div *ngIf="submitRequirementError">
               <div class="error" style="padding: 10px 0;">
                   <div>{{submitRequirementError}}</div>
               </div> 
            </div>
           <div class="form-group">
               <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Activity Name:</label>
               <input type="text" class="form-control" placeholder="Enter Activity Name" name="activityName"
                 #activityName="ngModel" [(ngModel)]="newcaplan.activityName" required>
       
               <div *ngIf="activityName.invalid && (activityName.dirty || activityName.touched)" class="error">
                 <div *ngIf="activityName.errors.required">Leave Year name is required</div>
               </div>
             </div>
             <div class="row">
               <div class="col-sm-12 form-group">
                   <label>Task Type</label>
                   <select class="form-control" name="activityTypeId" id="activityTypeId" [(ngModel)]="newcaplan.activityTypeId" #activityTypeId="ngModel" required (change)="getdate($event)">
                       <option value="">--select--</option>
                       <option value="1">Task</option>
                       <option value="2">Project</option>
           
                     </select>
                     <div *ngIf="activityTypeId.invalid && (activityTypeId.dirty || activityTypeId.touched) " class="error">
                       <div *ngIf="(activityTypeId.errors.required || activityTypeId.errors)">
                         Task type is required
                       </div>
                     </div>
           
              
               </div>        
               <div class="col-md-6" *ngIf="projecttask">
                   <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">Start Date:</label>
                   <ngx-date  [(value)]='newcaplan.startDate'  #startDate [max]="newcaplan.endDate" name="startDate" id="startDate"></ngx-date>
                   <div *ngIf="!validateStartdate" class="error">
                       <div>Plan Start Date is required</div>
                   </div>  
                 </div>
                 <div class="col-md-6" *ngIf="projecttask">
                   <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">End Date:</label>
                   <ngx-date (valueChange)="onDateSelection($event)"  [(value)]='newcaplan.endDate'  #endDate [min]="newcaplan.startDate" name="endDate" id="endDate"></ngx-date>
                   <div *ngIf="!validateEnddate" class="error">
                       <div>Plan End Date is required</div>
                   </div>  
                 </div>
       
                 <div class="col-md-12">
                   <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">Justification</label>
                   <textarea rows="5"  id="description" name="description" [(ngModel)]="newcaplan.description" nbInput fullWidth   placeholder="Enter Justification"></textarea>
                 </div> 
               
       
                 <div class="col-md-12" >
                   <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">Calendar Year</label>
                   <div  *ngIf="newcaplan.activityTypeId == 1">
                       <select name="year" id="year" [(ngModel)]="newcaplan.year" #year="ngModel" class="form-control" >
                         <option value="">select calendar year</option>
                         <option *ngFor="let yr of CustomService.nextTenYears;" value="{{yr}}">{{yr}}</option>
             
                       </select>
                       <div *ngIf="year.invalid && (year.dirty || year.touched) " class="error">
                           <div *ngIf="(year.errors.required || year.errors)">
                             calendar year is required
                           </div>
                         </div>
                   </div>
                   <div *ngIf="newcaplan.activityTypeId == 2">
                       {{newcaplan.year}}
                  </div>
                 </div>
    <div style="padding:10px"></div>
  </div>
    <div class="row">
<div class="col-sm-8">

</div>
<div class="col-sm-4">
  <div style="display:flex;justify-content:  flex-end;align-items: flex-end;">
    <ngx-loadable-button [loading]="loading"  (click)="openAddRequirementtoplan()" >
      Add Requirement
    </ngx-loadable-button>  
   
  </div>
</div>
    </div>

    <div style="padding:10px"></div>
                 <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr style="background-color: #d7d0e6;">
                      <th scope="col" style="font-size: 12px; font-weight: normal">Job Category Name</th>
                      <th scope="col" style="font-size: 12px; font-weight: normal">Job Type Name</th>
                      <th scope="col" style="font-size: 12px; font-weight: normal">Requested Resource</th>
                      <th scope="col" style="font-size: 12px; font-weight: normal">Cost Per Resource</th>
                      <th scope="col" style="font-size: 12px; font-weight: normal">Total Cost</th>
                      <th scope="col" style="font-size: 12px; font-weight: normal">
                        Approved Resource
                      </th>
                      <th scope="col" style="font-size: 12px; font-weight: normal">
                        Approved Resource Cost
                      </th>
                      <th scope="col" style="font-size: 12px; font-weight: normal">Comment</th>
                      <th scope="col" style="font-size: 12px; font-weight: normal">Approved By</th>
                      <th scope="col" style="font-size: 12px; font-weight: normal">Approved Date</th>
                      <th scope="col" style="font-size: 12px; font-weight: normal">Status</th>
                      <th></th>
                      <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let req of allreqPlan;let i = index">
                      <td>{{req.Ctype}}</td>
                      <td>
                        {{req.cJtypeName}}
                      </td>
                      <td><span>{{req.Nstaff}}</span></td>
                      <td><span>{{req.costPerResource | number}}</span></td>
                      <td><span>{{req.Nstaff * req.costPerResource | number}}</span></td>
                      <td>
                        {{req.ApprovedR}}
                     </td>
                     <td><span>{{req.ApprovedR * req.costPerResource | number}}</span></td>
                      <td>     
                        <span >{{req.HRComment}}</span>
                      </td>
                      <td>{{req.ApprovedByName}}</td>
                      <td>{{req.ApporvedDate | date}}</td>
                      <td>
                        <span class="mb-0" >
                          <span class="cbadge" style="background-color: #494948;width: 80px;" *ngIf="req.Status == 'Returned'">
                            {{req.Status}}
                          </span>
                          <span class="cbadge" style="background-color: #d99700;width: 80px;" *ngIf="req.Status == 'Pending'">
                            {{req.Status}}
                          </span>
                          <span class="cbadge" style="background-color: #EF5350;width: 80px;" *ngIf="req.Status == 'Rejected'">
                            {{req.Status}}
                          </span>
                          <span class="cbadge" style="background-color: #1e8300;width: 80px;" *ngIf="req.Status == 'Approved'">
                            {{req.Status}}
                          </span>
                        </span> 
                        </td>
                        <td colspan="2">
                          <i *ngIf="req.Status == 'Approved' || req.Status == 'Rejected'" class="fa fa-check-square" style="color: #1e8300;font-size: 22px;"></i>
                                            
                          <ng-template #card>
                            <div class="row">
                              <div class="col-sm-12">
                                <nb-list >
                                  <nb-list-item *ngIf="req.Status == 'Pending' || req.Status == 'Returned'"  style="cursor: pointer;" (click)="openEditRequirement(req)">
                                    Edit
                                  </nb-list-item>
                                  <nb-list-item  *ngIf="req.Status == 'Pending'" style="cursor: pointer;" (click)="deleteRequirement(req.ID,i)">
                                    Delete
                                  </nb-list-item>
                                </nb-list>
                              </div>
                            </div>
                          </ng-template>
                          <button *ngIf="req.Status != 'Approved' || req.Status != 'Rejected'" nbButton outline status="primary" [nbPopover]="card" style="
                              min-width: unset !important;
                              background: transparent;
                              border: none;
                              padding: 0px;
                            ">
                            <nb-icon icon="more-horizontal-outline"></nb-icon>
                          </button>
                          
                        </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
      
    
        </form>
        </nb-card-body>
      </nb-card>
  
  </div>
  <div modal-actions class="d-flex"
  style="display: flex; flex-direction: row; justify-content: center; margin-top: 10px; margin-bottom: 20px;">
  <ngx-loadable-button [loading]="loading"  (click)="submitnewplan(newcaplan,allreqPlan)">
    Submit 
  </ngx-loadable-button>  
  <div style="padding-left: 15px;">
    <button nbButton outline status="primary" class="d-flex column" style="background-color: white;">Discard</button>
  </div>
 
</div>
<div style="margin-top: 10px;"></div>
  </ngx-side-modal>



     
  <ngx-side-modal [(show)]='showAddRequirementModal' [position]="'Center'" style="width: 500px; height: 1000px;">
    <div modal-header>Add Requirement</div>
    <div modal-body>
      <form class="form-horizontal" name="caplanForm" id="caplanForm" #caplanForm="ngForm">    
          <div class="form-group row">     
            <div class="col-md-3">
              <span class="help-block"><small>Select Job Category</small></span>
              <select class="form-control" name="jobCategory" id="jobCategory" [(ngModel)]="planrequirement.jobCategory" #jobCategory="ngModel" (change)="loadselected($event)">
                <option value="">--select--</option>
                <option value="Job Role">Job Role</option>
                <option value="Position">Position</option>
          
              </select>
              
    
            </div>
            <div class="col-md-3">
              <span class="help-block"><small>Select {{planrequirement.jobCategory}} type</small></span>
              <select class="form-control" name="categoryType" id="categoryType" [(ngModel)]="planrequirement.categoryType" #categoryType="ngModel">
                <option value="">--select--</option>
                <option *ngFor="let cty of JcategoryType;let i = index" value="{{i}}">{{cty.name}}</option>
              </select>
              
    
            </div>
            <div class="col-md-3">
              <span class="help-block"><small>Required number of staff</small></span>
              <div style="width: 150px;">
                <div class="form-group" >
                  <input   name="numberOfStaff" id="numberOfStaff" [(ngModel)]="planrequirement.numberOfStaff" #numberOfStaff="ngModel" type="number" class="form-control" placeholder="number of staff">
  
                </div>
              </div>
            
            </div>
            <div class="col-md-3">
              <span class="help-block"><small>Cost per Resource</small></span>
              <input type="text" #costPerResource (keyup)="validatenumber(costPerResource.value)" class="form-control" name="costPerResource" id="costPerResource" [(ngModel)]="planrequirement.costPerResource" #costPerResource="ngModel" required placeholder="Resource Cost">      
            </div>
           
          </div>
      
      </form>
    </div>
    <div modal-actions class="d-flex"
    style="display: flex; flex-direction: row; justify-content: center; margin-top: 10px; margin-bottom: 20px;">
    <ngx-loadable-button [loading]="loading"  (click)="addexistplanRequirement(planrequirement)">
      Add Requirement 
    </ngx-loadable-button>  
    <div style="padding-left: 15px;">
      <button nbButton outline status="primary" class="d-flex column" style="background-color: white;">Discard</button>
    </div>
   
  </div>
  </ngx-side-modal>

  <ngx-side-modal [(show)]='showEditRequirementModal' [position]="'Center'" style="width: 500px; height: 1000px;">
    <div modal-header>Edit Requirement</div>
    <div modal-body>
      <form class="form-horizontal" name="caplanForm" id="caplanForm" #caplanForm="ngForm">
        <div class="form-group row">
       
          <div class="col-md-3">
            <span class="help-block"><small>Select Job Category</small></span>
            <select class="form-control" name="jobCategory" id="jobCategory" [(ngModel)]="planrequirement.jobCategory" #jobCategory="ngModel" (change)="loadselected($event)">
              <option value="">--select--</option>
              <option value="Job Role">Job Role</option>
              <option value="Position">Position</option>
              <option value="Grade">Grade</option>
            </select>
            
  
          </div>
          <div class="col-md-3">
            <span class="help-block"><small>Select {{planrequirement.jobCategory}} type</small></span>
            <select class="form-control" name="categoryType" id="categoryType" [(ngModel)]="planrequirement.categoryType" #categoryType="ngModel">
              <option value="">--select--</option>
              <option *ngFor="let cty of JcategoryType;let i = index" value="{{i}}">{{cty.name}}</option>
            </select>
            
  
          </div>
          <div class="col-md-3">
            <span class="help-block"><small>Required number of staff</small></span>
            <div style="width: 150px;">
              <div class="form-group" >
                <input   name="numberOfStaff" id="numberOfStaff" min="1" [(ngModel)]="planrequirement.numberOfStaff" #numberOfStaff="ngModel" type="number" class="form-control" placeholder="number of staff">
  
              </div>
            </div>
          
          </div>
          <div class="col-md-3">
            <span class="help-block"><small>Cost per Resource</small></span>
            <input type="number" min="1" #costPerResource (keyup)="validatenumber(costPerResource.value)" class="form-control" name="costPerResource" id="costPerResource" [(ngModel)]="planrequirement.costPerResource" #costPerResource="ngModel" required placeholder="Resource Cost">      
          </div>
         
        </div>
        </form>
      </div>
      <div modal-actions class="d-flex"
      style="display: flex; flex-direction: row; justify-content: center; margin-top: 10px; margin-bottom: 20px;">
      <ngx-loadable-button [loading]="loading"  (click)="addexistplanRequirement(planrequirement)">
        Save 
      </ngx-loadable-button>  
      <div style="padding-left: 15px;">
        <button nbButton outline status="primary" class="d-flex column" style="background-color: white;">Discard</button>
      </div>
     
    </div>
    <div style="margin-top: 10px;"></div>
    </ngx-side-modal>


    <ngx-side-modal [(show)]='showViewRequirementModal' [position]="'Center'" style="width: 500px; height: 1000px;">
      <div modal-header>View Requirement</div>
      <div modal-body>
        <div class="form-group row">
          <label class="col-md-2 control-label" for="example-text-input">Date Created:</label>
          <div class="col-md-10">
          {{viewplan?.dateCreated | date}}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-2 control-label" for="example-text-input">Logged By:</label>
          <div class="col-md-10">
          {{viewplan?.LoggedByUserName}}
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr style="background-color: #d7d0e6;">
              <th scope="col" style="font-size: 12px; font-weight: normal">Job Category Name</th>
              <th scope="col" style="font-size: 12px; font-weight: normal">Job Type Name</th>
              <th scope="col" style="font-size: 12px; font-weight: normal">Requested Resource</th>
              <th scope="col" style="font-size: 12px; font-weight: normal">Cost Per Resource</th>
              <th scope="col" style="font-size: 12px; font-weight: normal">Total Cost</th>
              <th scope="col" style="font-size: 12px; font-weight: normal">
                Approved Resource
              </th>
              <th scope="col" style="font-size: 12px; font-weight: normal">
                Approved Resource Cost
              </th>
            
              <th scope="col" style="font-size: 12px; font-weight: normal">Comment</th>
              <th scope="col" style="font-size: 12px; font-weight: normal">Approved By</th>
              <th scope="col" style="font-size: 12px; font-weight: normal">Approved Date</th>
              <th scope="col" style="font-size: 12px; font-weight: normal">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let req of allreqPlan;let i = index">
              <td>{{req.Ctype}}</td>
              <td>
                {{req.cJtypeName}}
              </td>
              <td><span>{{req.Nstaff}}</span></td>
              <td><span>{{req.costPerResource | number}}</span></td>
              <td><span>{{req.Nstaff * req.costPerResource | number}}</span></td>
              <td>
                {{req.ApprovedR}}
             </td>
             <td><span>{{req.ApprovedR * req.costPerResource | number}}</span></td>
    
              <td>     
                <span >{{req.HRComment}}</span>
              </td>
              <td>{{req.ApprovedByName}}</td>
              <td>{{req.ApporvedDate | date}}</td>
              <td>
                <span class="mb-0" >
                  <span class="badge" style="background-color: #494948;width: 80px;" *ngIf="req.Status == 'Returned'">
                    {{req.Status}}
                  </span>
                  <span class="badge" style="background-color: #d99700;width: 80px;" *ngIf="req.Status == 'Pending'">
                    {{req.Status}}
                  </span>
                  <span class="badge" style="background-color: #EF5350;width: 80px;" *ngIf="req.Status == 'Rejected'">
                    {{req.Status}}
                  </span>
                  <span class="badge" style="background-color: #1e8300;width: 80px;" *ngIf="req.Status == 'Approved'">
                    {{req.Status}}
                  </span>
                </span> 
                </td>
                
            </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div modal-actions class="d-flex"
        style="display: flex; flex-direction: row; justify-content: center; margin-top: 10px; margin-bottom: 20px;">

        <div style="padding-left: 15px;">
          <button nbButton outline status="primary" (click)="showViewRequirementModal = false" class="d-flex column" style="background-color: white;">Discard</button>
        </div>
       
      </div>
      <div style="margin-top: 10px;"></div>
      </ngx-side-modal>
  </nb-card-body>
  </nb-card>