<ngx-componentsheader pageName="Email Log" >
    <div headerButton>
        <button (click)="pageActionClicked()"   nbButton status="primary" >
            <nb-icon  icon="plus"></nb-icon>&nbsp;Create new
        </button>
    </div>
</ngx-componentsheader>
<nb-tabset (changeTab)="selectTab($event)">
    <nb-tab tabTitle="DRAFT" [tabId]="TABS.DRAFT">
      <!-- Tab content 1 -->
    </nb-tab>
    <nb-tab tabTitle="SENT" [tabId]="TABS.SENT">
      <!-- Tab content 2 -->
    </nb-tab>
    <nb-tab tabTitle="TRASH" [tabId]="TABS.TRASH">
        <!-- Tab content 2 -->
      </nb-tab>
</nb-tabset>

<ngx-tablecomponent [tableColum]="columns" [userData]="emails"></ngx-tablecomponent>

<ngx-side-modal [(show)]="showCreateModel">
    <div modal-header>New Mail</div>
    <div modal-body>
        <div class="form-group">
            <label>Template</label>
            <select class="form-control">
                <option value="5">Complaint</option>
                <option value="6">Request</option>
            </select>
        </div>
        <div class="form-group">
            <label>Reciepent</label>
            <input class="form-control"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <ngx-wysisyg-input></ngx-wysisyg-input>
        </div>
    </div>
    <div modal-actions>
        <button nbButton status="primary">Submit</button>
        <button nbButton outline status="primary">Discard</button>
        <button>Attach</button>
    </div>
</ngx-side-modal>