.check{
    display: block;
    position: absolute;
    width: 174px;
    height: 284px;
    margin-bottom: 10rem;
}
.Attach{
    
        background-color: white;
        border: none;
        color: #4847E0;
        padding-left: 5px;
        padding-top: 7px;
        margin-left: 13px;
}
.icon{
    font-size: x-small!important;
}