<ngx-componentsheader pageName='Leave History' [requiredButton]="topActionButtons" (buttonClick)='modal($event)'>

</ngx-componentsheader>

<nb-card>
  <nb-card-body>
    <ngx-default-content
    *ngIf="showEmpty"
    pageHeader="No Leave History Record"
    pageDescription=""
    buttonValue=""
    [loading]="loading"

  >
  </ngx-default-content>
    <ngx-tablecomponent  
    *ngIf="!showEmpty"
    (filterChange)="filterUpdated($event)"
    [showActions]="false"
    [showFilter]="true"
    [userData]="allleaveHistory" 
    [tableColum]="tableColumns"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    [loading]="loading"
    >
</ngx-tablecomponent>




<ngx-createleave-request [showModalRequest]="showAddPlanModal"></ngx-createleave-request>

<ngx-createleave-plan [showModal]="showLeavePlanModal"></ngx-createleave-plan>

  </nb-card-body>
</nb-card>
