
<ngx-componentsheader pageName="Settings"></ngx-componentsheader>
<div class="row">
    <div class="col-sm-3">
        <div style="margin-right: 1rem" class="card main-page-container">
            <div class="grey-2" style="font-size: 0.8rem;">DISCIPLINE</div>
            <div class="items">
                <div>Warning</div>
                <div>Warning</div>
                <div>Warning</div>
                <div>Warning</div>
                <div>Warning</div>
                <div>Warning</div>
                <div>Warning</div>
                <div>Warning</div>
                <div>Warning</div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <ngx-discipline-edit *ngFor="let disc of [1,2,3,4,5,5,6,7]"></ngx-discipline-edit>
    </div>
</div>