
  <ngx-componentsheader [pageName]='pageName' [requiredButton]="topActionButtons" (buttonClick)='modal($event)'>
  </ngx-componentsheader>



<nb-card style="margin-top: 20px;">
  <nb-card-body>

    <nb-card-header>
      <div style="display: flex;flex-direction: column;">
        <span> Iniate <span *ngIf="pageName != 'Retirement'">Involuntary exit</span>
        <span *ngIf="pageName == 'Retirement'">Retirement request</span> </span>
        <small><span *ngIf="pageName != 'Retirement'">Let's commence Exit process</span>
          <span *ngIf="pageName == 'Retirement'">Let's commence Retirement process</span> </small>
      </div>

   
  </nb-card-header>
    <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 5px;"></div>




  <div class="container" style="margin-top: 3rem;">

      <form id="exitForm" name="exitForm" #exitForm="ngForm">
 
        <div class="form-group row">
          <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Reason For 
            <span *ngIf="pageName != 'Retirement'">Termination</span>
            <span *ngIf="pageName == 'Retirement'">Retirement</span> </label>
          <div class="col-sm-8">
      <select class="form-control" fullWidth name="retirementTypeId" id="retirementTypeId" #retirementTypeId="ngModel" [(ngModel)]="RetirmentBody.retirementTypeId">
        <option value="undefined">--Select Reetirement Type--</option>
        <option *ngFor="let reType of allRetirementType" [value]="reType.id">{{reType.name}}</option>
      </select>
      <div *ngIf="retirementTypeId.invalid && (retirementTypeId.dirty || retirementTypeId.touched)" class="error">
        <div *ngIf="retirementTypeId.errors.required">
          Exit Reason is required
        </div>
    </div>
          </div>
        </div>


        <div class="form-group row">
          <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Sub-Reason</label>
          <div class="col-sm-8">
            <input name="subReason" id="subReason" #subReason="ngModel" [(ngModel)]="RetirmentBody.subReason" type="text" nbInput fullWidth placeholder="Enter Sub-Reason"
             >
            <div>
       
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Source of initiation</label>
          <div class="col-sm-8">
            <input name="sourceofInitiation" id="sourceofInitiation" #sourceofInitiation="ngModel" [(ngModel)]="RetirmentBody.sourceofInitiation" type="text" nbInput fullWidth placeholder="Enter Source of initiation">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Date of Exit</label>
          <div class="col-sm-8">
            <ngx-date [(value)]='RetirmentBody.effectiveDate'   #effectiveDate name="effectiveDate" id="effectiveDate"></ngx-date>
          </div>
        </div>
        <!-- <hr>jj-{{selectedOption}}=uuuu -->
        <div class="form-group row" style="margin-top: 15px;">
          <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Upload Affected Employee</label>
          <div class="col-sm-8">
            <nb-radio-group  name="selectedOption" [(ngModel)]="uploadOption" class="d-flex">
              <nb-radio [value]="1">Bulk Upload</nb-radio>
              <nb-radio [value]="2">Individual Upload</nb-radio>

            </nb-radio-group>
          </div>
        </div>
         <div class="form-group row">
          <div class="col-md-4" style="display: flex;align-items:center">
            <label for="" *ngIf="uploadOption == 1">Upload Employee CSV File</label>
            <label for="" *ngIf="uploadOption == 2">Employee Master</label>
          </div>
          <div class="col-md-8 col-xxl-8 ">
            <div style="display: flex;flex-direction: row;" *ngIf="uploadOption == 1">
              <div>
                <ngx-file-upload   class="form-control" >
                </ngx-file-upload>
              </div>
              <div style="padding-left: 10px;display: flex;align-items: center;flex: auto;">
                <img (click)="downloadSampleFile()" style="height: 20px; margin-right: 10px;cursor: pointer;" src="assets/icons/download.jpg" alt=""><span
                  style="color: blue;">Download Sample file</span>
              </div>
             
            </div>
          
            <ngx-employee-master-search *ngIf="uploadOption == 2" (masterSubmitted)="getSelectedEmployee($event)" [allowmultipleselection]="allowmultipleselection" [selectionHeader]="selectionHeader" [addbtnText]="addbtnText"></ngx-employee-master-search>
     
          </div>
        </div>
        <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 5px;"></div>
<div style="padding:5px"></div>
        <div class="form-group row">
          <div class="col-md-4" style="display: flex;align-items:center">
            <label for="">Upload Supporting Document</label>
          </div>
          <div class="col-md-8 col-xxl-8 ">
            <div style="display: flex;flex-direction: row;">
              <div>
                <ngx-file-upload  class="form-control">
                </ngx-file-upload>
              </div>
              <div style="padding-left: 10px;display: flex;align-items: center;flex: auto;">
                Not More than 1 mb
              </div>
            </div>


          </div>
        </div>


        <div class="form-group row">
          <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Additional comment</label>
          <div class="col-sm-8">

            <textarea rows="5" nbInput fullWidth placeholder="Enter Additional comment here"
               name="AdditionalComment" required></textarea>

          </div>

        </div>

        <div class="row">
          <div class="col-sm-4 col-form-label listsubheader"></div>
          <div class="col-sm-8" style=" display: flex;justify-content: center; margin-top: 3rem;margin-bottom: 2rem;">

            <button nbButton status="primary" style="display: flex; justify-content: center;">Proceed</button>
          </div>

        </div>
      </form>


  </div>
  
</nb-card-body>
</nb-card>