<ngx-componentsheader [pageName]="title">

    <div headerButton>
<div style="display: flex;flex-direction: row;">
    <div style="padding-top:10px; padding-right: 5px;">
        <h6 class="header4-bold">00:00:00</h6>
    </div>
    <button  nbButton status="primary" >
      Start Shift
    </button>
</div>
    </div>
</ngx-componentsheader>

<nb-card>
    <nb-card-body>
        <ngx-tableheader></ngx-tableheader>
        <ngx-tablecomponent [tableColum]="tableColumns"></ngx-tablecomponent>
        
    </nb-card-body>
</nb-card>