<ngx-componentsheader [pageName]="title">
</ngx-componentsheader>

<nb-card *ngIf="noOnbordingOfferString">
  <nb-card-body class="retire">
      <div class="container">
        <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
          <img src="assets/icons/warning.jpg" alt="" style="margin-top: 1.9rem; height: 85px;">
          <div style="margin-top: 2rem;margin-bottom: 1.5rem;">
              <p style="font-weight: bolder; font-size: large; ">Warning !</p>
          </div>
          
          <div style="margin-top: 1rem;text-align: center;">
            <p>
              {{noOnbordingOfferString}}

            </p>
          
        </div>
        </div>
        
   
      </div>


  </nb-card-body>
</nb-card>



<div class="row" *ngIf="!noOnbordingOfferString">
  <div class="col-md-4 col-xxl-4">
    <nb-card>
      <nb-card-body style="padding: 1.5rem 1rem 0 1rem !important;">
        <div class="fmContainer">
          <div style="padding-bottom: 0;">
            <!-- <p class="header6-medium" style="margin-bottom: 1rem !important;">Hiring Checklist</p> -->
          </div>


        </div>
      </nb-card-body>
      <div style.height="{{(scase.offsetHeight < 402)?402 : scase.offsetHeight }}px">
        <div #linklist style="display: flex;flex-direction: column;"
          *ngFor="let hiringlist of hiringChecklist; let i = index">

          <div (click)="selectPanel(hiringlist,i)"
            [ngClass]="{'wizardlistactive': hiringlist.status == 'Active','wizardlistinactive': hiringlist.status != 'Active'}"
            style="display: flex;flex-direction: row;margin: .5rem 0 .5rem 0; align-items: center;cursor: pointer;">
            <div style="padding-left: 1rem;">
              <nb-icon icon="checkmark-circle-2" status="{{hiringlist.status == 'Active'? 'primary': 'none'}}">
              </nb-icon>
            </div>
            <div style="padding-left: 0.625rem;"><span
                [ngClass]="{'listtextActive': hiringlist.status == 'Active','listtextInactive': hiringlist.status != 'Active'}">{{hiringlist.label}}
              </span> </div>
          </div>

        </div>
      </div>

    </nb-card>
  </div>
  <div class="col-md-8 col-xxl-8">
    <nb-card>
      <nb-card-body>
        <div #scase [ngSwitch]="selectedCase">
          <!--Personal Info-->
          <div class="fmContainer" *ngSwitchCase="'personal_Info'">
            <div style="padding-bottom: 5px; display: flex;flex-direction: row;">
              <p class="header6-medium" style="flex: auto;">{{selectedPanel.label}}</p>
              <div>
                <!-- <nb-select selected="1" status="primary">
                  <nb-option value="1">Actions</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                </nb-select> -->
              </div>
            </div>

            <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 5px;">
              <p class="smalltext">Input required Information in the fields below</p>
            </div>
            <div style="padding-top:1rem;">
              <form id="AdminForm" #AdminForm='ngForm' name="AdminForm">
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">First Name</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="First Name" name="Firstname" #firstName="ngModel"
                      [(ngModel)]="UserData.firstName" required>
                    <div *ngIf="firstName.invalid && (firstName.dirty ||firstName.touched)" class="error">
                      <div *ngIf="firstName.errors.required">Firstname name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Last Name</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Last Name" name="lastName" #lastName="ngModel"
                      [(ngModel)]="UserData.lastName" required>
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error">
                      <div *ngIf="lastName.errors.required">Lastname is required</div>
                    </div>
                  </div>

                </div>


                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Phone Number</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="phoneNumber" name="phoneNumber"
                      #phoneNumber="ngModel" [(ngModel)]="UserData.phoneNumber" required>
                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="error">
                      <div *ngIf="phoneNumber.errors.required">phone number is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Date of Birth</label>
                  <div class="col-sm-8">
                    <ngx-date [(value)]='UserData.dateOfBirth' #dateOfBirth name="dateOfBirth" id="dateOfBirth">
                    </ngx-date>
                    <div *ngIf="!validated" class="error">
                      <div> Date is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Default Mobile</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="defaultMobile" name="defaultMobile"
                      #defaultMobile="ngModel" [(ngModel)]="UserData.defaultMobile" required>
                    <div *ngIf="defaultMobile.invalid && (defaultMobile.dirty || defaultMobile.touched)" class="error">
                      <div *ngIf="defaultMobile.errors.required"> Default phone number is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Marital Status</label>
                  <div class="col-sm-8">

                    <select  class="form-control" placeholder="Select martialStatus" name="martialStatusId" #martialStatusId="ngModel"
                      [(ngModel)]="UserData.martialStatusId" required>
                      <option value="">--Select Marital Status---</option>
                      <option *ngFor="let stat of Marital" [value]="stat.option_value">{{stat.option_text}}
                      </option>
                    </select>
                    <div *ngIf="martialStatusId.invalid && (martialStatusId.dirty || martialStatusId.touched)"
                      class="error">
                      <div *ngIf="martialStatusId.errors.required">Marital status is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Religion</label>
                  <div class="col-sm-8">

                    <select  class="form-control" placeholder="Select religion" name="religionId" #religionId="ngModel"
                      [(ngModel)]="UserData.religionId" required>
                      <option value="">--Select Marital Status---</option>
                      <option *ngFor="let religion of Religion" [value]="religion.option_value">{{religion.option_text}}
                      </option>
                    </select>
                    <div *ngIf="religionId.invalid && (religionId.dirty || martialStatusId.touched)" class="error">
                      <div *ngIf="religionId.errors.required">Gender is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Gender</label>
                  <div class="col-sm-8">
                    <select  class="form-control" placeholder="Select Gender" name="genderId" #genderId="ngModel"
                      [(ngModel)]="UserData.genderId" required>
                      <option value="">--Select Gender---</option>
                      <option *ngFor="let gender of Gender" [value]="gender.option_value">{{gender.option_text}}
                      </option>
                    </select>
                    <div *ngIf="genderId.invalid && (genderId.dirty || genderId.touched)" class="error">
                      <div *ngIf="genderId.errors.required">Gender is required</div>
                    </div>
                  </div>
                </div>


                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Email Address</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter Email" name="personalEmail"
                      #personalEmail="ngModel" [(ngModel)]="UserData.personalEmail" required>
                    <div *ngIf="personalEmail.invalid && (personalEmail.dirty ||  personalEmail.touched)" class="error">
                      <div *ngIf="personalEmail.errors.required">Email is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Address</label>
                  <div class="col-sm-8">
                    <textarea rows="5" [(ngModel)]="UserData.residentialAddress" nbInput fullWidth placeholder="Address"
                      name="residentialAddress" #residentialAddress="ngModel"></textarea>
                    <div *ngIf="residentialAddress.invalid && (residentialAddress.dirty || residentialAddress.touched)"
                      class="error">
                      <div *ngIf="residentialAddress.required">Address is required</div>
                    </div>
                  </div>
                </div>
                <div style="padding-top: 1rem;"></div>
                <p class="header6-medium">Educational Information</p>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Field of Study</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="fieldOfStudy" name="fieldOfStudy"
                      #fieldOfStudy="ngModel" [(ngModel)]="UserData.fieldOfStudy" required>
                    <div *ngIf="fieldOfStudy.invalid && (fieldOfStudy.dirty || fieldOfStudy.touched)" class="error">
                      <div *ngIf="fieldOfStudy.errors.required">fieldOfStudy is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Degree</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Degree" name="degree" #degree="ngModel"
                      [(ngModel)]="UserData.degree" required>
                    <div *ngIf="degree.invalid && (degree.dirty || degree.touched)" class="error">
                      <div *ngIf="degree.errors.required">Degree is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Date of
                    Completion</label>

                  <div class="col-sm-8">
                    <ngx-date [(value)]='UserData.dateofCompletion' #dateofCompletion name="date of Completion"
                      id="dateofCompletion">
                    </ngx-date>
                    <div *ngIf="!validatedata" class="error">
                      <div> Date is required</div>
                    </div>
                  </div>

                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">CGPA</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter cgpa" name="cgpa" #cgpa="ngModel"
                      [(ngModel)]="UserData.cgpa" required>
                    <div *ngIf="cgpa.invalid && (cgpa.dirty || cgpa.touched)" class="error">
                      <div *ngIf="cgpa.errors.required">cgpa is required</div>
                    </div>

                  </div>
                </div>



                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Institution</label>
                  <div class="col-sm-8">
                    <select  class="form-control" placeholder="Select institution" name="institutionId" #institutionId="ngModel"
                      [(ngModel)]="UserData.institutionId" required>
                      <option value="">--Select Institution---</option>
                      <option *ngFor="let institute of Institution" [value]="institute.id">{{institute.name}}
                      </option>
                    </select>
                    <div *ngIf="institutionId.invalid && (institutionId.dirty || institutionId.touched)" class="error">
                      <div *ngIf="institutionId.errors.required">Institution is required</div>
                    </div>
                  </div>
                </div>

                <div style="padding-top: 1rem;"></div>
                <p class="header6-medium">Next of Kin</p>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Full Name</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter Next Of Kin" name="nextOfKinFullName"
                      #nextOfKinFullName="ngModel" [(ngModel)]="UserData.nextOfKinFullName" required>
                    <div *ngIf="nextOfKinFullName.invalid && (nextOfKinFullName.dirty || nextOfKinFullName.touched)"
                      class="error">
                      <div *ngIf="nextOfKinFullName.errors.required">nextOfKinFullName is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Relationship</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter Next Of Kin" name="netofKinRelationship"
                      #netofKinRelationship="ngModel" [(ngModel)]="UserData.netofKinRelationship" required>
                    <div
                      *ngIf="netofKinRelationship.invalid && (netofKinRelationship.dirty || netofKinRelationship.touched)"
                      class="error">
                      <div *ngIf="netofKinRelationship.errors.required">netofKinRelationship is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Phone Number</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter next of nextofKinPhoneNumber"
                      name="nextofKinPhoneNumber" #nextofKinPhoneNumber="ngModel"
                      [(ngModel)]="UserData.nextofKinPhoneNumber" required>
                    <div
                      *ngIf="nextofKinPhoneNumber.invalid && (nextofKinPhoneNumber.dirty || nextofKinPhoneNumber.touched)"
                      class="error">
                      <div *ngIf="phoneNumber.errors.required">phone number is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Address</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter next of nextofKinAddress"
                      name="nextofKinAddress" #nextofKinAddress="ngModel" [(ngModel)]="UserData.nextofKinAddress"
                      required>
                    <div *ngIf="nextofKinAddress.invalid && (nextofKinAddress.dirty || nextofKinAddress.touched)"
                      class="error">
                      <div *ngIf="nextofKinAddress.errors.required">next of Kin is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-sm-4 col-sm-8">
                    <button *ngIf="submitbtnPressed" nbButton status="primary" class="d-flex column"><i
                        class="fa fa-spin fa-spinner"></i>&nbsp;Processing ...</button>
                    <button type="submit" nbButton status="primary" *ngIf="!submitbtnPressed" [disabled]="!formvalidate"
                      (click)="onSubmit()">Update Changes</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!--Work Info-->

          <div class="fmContainer" *ngSwitchCase="'work_Info'">
            <div style="padding-bottom: 5px; display: flex;flex-direction: row;">
              <p class="header6-medium" style="flex: auto;">{{selectedPanel.label}}</p>
              <div>
                <!-- <nb-select selected="1" status="primary">
                  <nb-option value="1">Actions</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                </nb-select> -->
              </div>
            </div>

            <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 5px;">
              <p class="smalltext">Input required Information in the fields below</p>
            </div>
            <div style="padding-top:3rem;">

              <form>
                <!-- <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Hire Date</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Hire Date">
                  </div>
                </div> -->
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">OnBoarding Id</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter  onboardingId " name="onboardingId"
                      #onboardingId="ngModel" [(ngModel)]="workData.onboardingId" required>
                    <div *ngIf="onboardingId.invalid && (onboardingId.dirty ||  onboardingId.touched)" class="error">
                      <div *ngIf="onboardingId.errors.required"> onboardingId is required</div>
                    </div>


                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Hire Date</label>
                  <div class="col-sm-8">

                    <ngx-date [(value)]='workData.hireDate' #dateofJoining name="hireDate" id="hireDate">
                    </ngx-date>
                    <div *ngIf="!validdating" class="error">
                      <div> Date is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Date of joining</label>
                  <div class="col-sm-8">
                    <ngx-date [(value)]='workData.dateofJoining' #dateofJoining name="dateofJoining" id="dateofJoining">
                    </ngx-date>
                    <div *ngIf="!validdate" class="error">
                      <div> Date is required</div>
                    </div>


                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Salary per annum</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter salaryPerAnnum" name="salaryPerAnnum"
                      #salaryPerAnnum="ngModel" [(ngModel)]="workData.salaryPerAnnum" required>
                    <div *ngIf="salaryPerAnnum.invalid && (salaryPerAnnum.dirty || salaryPerAnnum.touched)"
                      class="error">
                      <div *ngIf="salaryPerAnnum.errors.required">salaryPerAnnum is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Designation</label>
                  <div class="col-sm-8">
                    <select class="form-control" placeholder="Select desginationId" name="desginationId" #desginationId="ngModel"
                      [(ngModel)]="workData.desginationId" required>
                      <option value="">--Select Designation---</option>
                      <option *ngFor="let des of Designation" [value]="des.id">{{des.title}}
                      </option>
                    </select>

                    <div *ngIf="desginationId.invalid && (desginationId.dirty || desginationId.touched)" class="error">
                      <div *ngIf="departmentId.errors.required">Designation is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Employee type</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter  employeeTypeId " name=" employeeTypeId"
                      #employeeTypeId="ngModel" [(ngModel)]="workData.employeeTypeId" required>
                    <div *ngIf=" employeeTypeId.invalid && (employeeTypeId.dirty ||  employeeTypeId.touched)"
                      class="error">
                      <div *ngIf=" employeeTypeId.errors.required"> employeeTypeId is required</div>
                    </div>


                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Department</label>
                  <div class="col-sm-8">

                    <select class="form-control" placeholder="Select Gender" name="departmentId" #departmentId="ngModel"
                      [(ngModel)]="workData.departmentId" required>
                      <option value="">--Select Department---</option>
                      <option *ngFor="let dept of allDepartment" [value]="dept.option_value">{{dept.option_text}}
                      </option>
                    </select>

                    <div *ngIf="departmentId.invalid && (departmentId.dirty || departmentId.touched)" class="error">
                      <div *ngIf="departmentId.errors.required">Department is required</div>
                    </div>


                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Reporting Manager</label>
                  <div class="col-sm-8">
                    <select placeholder="Select Manager" class="form-control" name="reportingManagerId"
                      #reportingManagerId="ngModel" [(ngModel)]="workData.reportingManagerId" required>
                      <option value="">--Select Manager---</option>
                      <option *ngFor="let dept of Manager" [value]="dept.option_value">{{dept.option_text}}
                      </option>
                    </select>

                    <div *ngIf="reportingManagerId.invalid && (reportingManagerId.dirty || reportingManagerId.touched)"
                      class="error">
                      <div *ngIf="reportingManagerId.errors.required">Manager is required</div>
                    </div>



                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Location</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter location" name="location"
                      #location="ngModel" [(ngModel)]="workData.location" required>
                    <div *ngIf="location.invalid && (location.dirty ||location.touched)" class="error">
                      <div *ngIf="location.errors.required"> location is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Work Email</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter location" name="workEmail"
                      #workEmail="ngModel" [(ngModel)]="workData.workEmail" required>
                    <div *ngIf="workEmail.invalid && (workEmail.dirty ||workEmail.touched)" class="error">
                      <div *ngIf="workEmail.errors.required"> location is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-sm-4 col-sm-8">
                    <button *ngIf="submitbtnPressed" nbButton status="primary" class="d-flex column">Processing &nbsp;
                      <i class="fa fa-spin fa-spinner"></i></button>
                    <button type="submit" nbButton status="primary" *ngIf="!submitbtnPressed"
                      (click)="proceedtoofferLetter()" [disabled]="!formvalidation">Proceed</button>
                  </div>
                </div>
              </form>




            </div>
          </div>

          <!--Payment-->
          <div class="fmContainer" *ngSwitchCase="'payment_Info'">
            <div style="padding-bottom: 5px; display: flex;flex-direction: row;">
              <p class="header6-medium" style="flex: auto;">{{selectedPanel.label}}</p>
              <div>
                <!-- <nb-select selected="1" status="primary">
                  <nb-option value="1">Actions</nb-option>
                  <nb-option value="2">Option 2</nb-option>
                </nb-select> -->
              </div>
            </div>


            <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 5px;">
              <p class="smalltext">Input required Information in the fields below</p>
            </div>
            <div style="padding-top:3rem;">
              <form>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Bank Name</label>
                  <div class="col-sm-8">
                    <select class="form-control" placeholder="Select institution" name="bankNameId" #bankNameId="ngModel"
                      [(ngModel)]="paymentData.bankNameId" required>
                      <option value="">--Select Bank---</option>
                      <option *ngFor="let bank of BankName" [value]="bank.option_value">{{bank.option_text}}
                      </option>
                    </select>
                    <div *ngIf="bankNameId.invalid && (bankNameId.dirty || bankNameId.touched)" class="error">
                      <div *ngIf="bankNameId.errors.required">Bank name is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Account Name</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter Next Of Kin" name="accountName"
                      #accountName="ngModel" [(ngModel)]="paymentData.accountName" required>
                    <div *ngIf="accountName.invalid && (accountName.dirty || accountName.touched)" class="error">
                      <div *ngIf="accountName.errors.required">accountName is required</div>
                    </div>

                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Account Number</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter Next Of Kin" name="accountNumber"
                      #accountNumber="ngModel" [(ngModel)]="paymentData.accountNumber" required>
                    <div *ngIf="accountNumber.invalid && (accountNumber.dirty || accountNumber.touched)" class="error">
                      <div *ngIf="accountNumber.errors.required">accountNumber is required</div>
                    </div>

                  </div>
                </div>


                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Onboarding Id
                  </label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter onboardingId" name="onboardingId"
                      #onboardingId="ngModel" [(ngModel)]="paymentData.onboardingId" required>
                    <div *ngIf="onboardingId.invalid && (onboardingId.dirty || onboardingId.touched)" class="error">
                      <div *ngIf="onboardingId.errors.required">accountNumber is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Account Type</label>
                  <div class="col-sm-8">
                    <select class="form-control" placeholder="Select institution" name="accountTypeId" #accountTypeId="ngModel"
                      [(ngModel)]=" paymentData.accountTypeId" required>
                      <option value="">--Select Account Type---</option>
                      <option *ngFor="let type of BankType" [value]="type.id">{{type.text}}
                      </option>
                    </select>
                    <div *ngIf="accountTypeId.invalid && (accountTypeId.dirty || accountTypeId.touched)" class="error">
                      <div *ngIf="accountTypeId.errors.required">Account Type is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-sm-4 col-sm-8">

                    <button *ngIf="submitbtnPressed" nbButton status="primary" class="d-flex column"><i
                        class="fa fa-spin fa-spinner"></i>&nbsp;Processing ...</button>
                    <button type="submit" nbButton status="primary" *ngIf="!submitbtnPressed" [disabled]="formv" (click)="Submit()">Update Changes</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!--Medical Info-->
          <div class="fmContainer" *ngSwitchCase="'medical_Info'">
            <div style="padding-bottom: 5px;">
              <p class="header6-medium">{{selectedPanel.label}}</p>
            </div>

            <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 5px;">
              <p class="smalltext">Input required Information in the fields below</p>
            </div>
            <div style="padding-top:3rem;">
              <form>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Genotype</label>
                  <div class="col-sm-8">
                    <div class="col-sm-8">
                      <input type="text" nbInput fullWidth placeholder="Enter Genotype" name="genotype"
                        #genotype="ngModel" [(ngModel)]="medicalData.genotype" required>
                      <div *ngIf="genotype.invalid && (genotype.dirty || genotype.touched)" class="error">
                        <div *ngIf="genotype.errors.required">genotype is required</div>
                      </div>

                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Blood Group</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter Blood Group" name="bloodGroup"
                      #bloodGroup="ngModel" [(ngModel)]="medicalData.bloodGroup" required>
                    <div *ngIf="bloodGroup.invalid && (bloodGroup.dirty || bloodGroup.touched)" class="error">
                      <div *ngIf="bloodGroup.errors.required">bloodGroup is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Any pre-existing
                    injury?</label>
                  <div class="col-sm-8">
                    <nb-radio-group [(value)]="medicalData.anyPreInjury" name="anyPreInjury">
                      <nb-radio [value]="false">
                        false
                      </nb-radio>
                      <nb-radio [value]="true">
                        true
                      </nb-radio>

                    </nb-radio-group>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Please State it</label>
                  <div class="col-sm-8">


                    <input type="text" nbInput fullWidth placeholder="Enter statePreInjury" name="statePreInjury"
                      #statePreInjury="ngModel" [(ngModel)]="medicalData.statePreInjury" required>
                    <div *ngIf="statePreInjury.invalid && (statePreInjury.dirty || statePreInjury.touched)"
                      class="error">
                      <div *ngIf="statePreInjury.errors.required">genotype is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="offset-sm-4 col-sm-8">
                    <button type="submit" nbButton status="primary" (click)="SubmitMedicalData()">Update
                      Changes</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!--Tax-->


          <div class="fmContainer" *ngSwitchCase="'tax_Info'">
            <div style="padding-bottom: 5px;">
              <p class="header6-medium">{{selectedPanel.label}}</p>
            </div>

            <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 5px;">
              <p class="smalltext">Input required Information in the fields below</p>
            </div>
            <div style="padding-top:3rem;">
              <form>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Onboarding Id
                  </label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter onboardingId" name="onboardingId"
                      #onboardingId="ngModel" [(ngModel)]=" taxData.onboardingId" required>
                    <div *ngIf="onboardingId.invalid && (onboardingId.dirty || onboardingId.touched)" class="error">
                      <div *ngIf="onboardingId.errors.required">accountNumber is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Tax ID</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter taxId" name="taxId" #taxId="ngModel"
                      [(ngModel)]="taxData.taxId" required>
                    <div *ngIf="taxId.invalid && (taxId.dirty || taxId.touched)" class="error">
                      <div *ngIf="taxId.errors.required">taxID is required</div>
                    </div>
                  </div>

                </div>


                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Are you
                    Nigerian?</label>
                  <div class="col-sm-8">
                    <nb-radio-group [(value)]="taxData.nationality_Nigeria">
                      <nb-radio [value]="nationality_Nigeria">
                        true
                      </nb-radio>
                      <nb-radio [value]="nationality_Nigeria">
                        false
                      </nb-radio>

                    </nb-radio-group>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Passport Number</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter taxId" name="passportNumber"
                      #passportNumber="ngModel" [(ngModel)]="taxData.passportNumber" required>
                    <div *ngIf="passportNumber.invalid && (passportNumber.dirty || passportNumber.touched)"
                      class="error">
                      <div *ngIf="passportNumber.errors.required">passportNumber is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Passport Expiry
                    Date</label>
                  <div class="col-sm-8">

                    <ngx-date [(value)]='taxData.passportExpiryDate' #passportExpiryDate name="passportExpiryDate"
                      id="passportExpiryDate">
                    </ngx-date>
                    <div *ngIf="!val" class="error">
                      <div> Date is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Country</label>
                  <div class="col-sm-8">

                    <select class="form-control" placeholder="Select institution" name="countryId" #countryId="ngModel"
                      [(ngModel)]=" taxData.countryId" required>
                      <option value="">--Select country---</option>
                      <option *ngFor="let country of countries" [value]="country.code">{{country.name}}
                      </option>
                    </select>
                    <div *ngIf="countryId.invalid && (countryId.dirty || countryId.touched)" class="error">
                      <div *ngIf="countryId.errors.required">Institution is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Visa Type</label>
                  <div class="col-sm-8">


                    <select placeholder="Select institution" id="visaTypeId" name="visaTypeId" #visaTypeId="ngModel"
                      [(ngModel)]=" taxData.visaTypeId" required>
                      <option value="">--Select visatype---</option>
                      <option *ngFor="let v of  Visa" [value]="v.id">{{v.visaName}}
                      </option>
                    </select>
                    <div *ngIf="visaTypeId.invalid && (visaTypeId.dirty || visaTypeId.touched)" class="error">
                      <div *ngIf="visaTypeId.errors.required">visaType is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Visa Expiry
                    Date</label>
                  <div class="col-sm-8">



                    <ngx-date [(value)]='taxData.visaExpiryDate' #passportExpiryDate name="visaExpiryDate"
                      id="visaExpiryDate">
                    </ngx-date>
                    <div *ngIf="!valid" class="error">
                      <div> visaExpiryDate is required</div>
                    </div>
                  </div>

                </div>
                <div class="form-group row">
                  <div class="offset-sm-4 col-sm-8">
                    <button type="submit" nbButton status="primary" (click)="submitTax()">Update Changes</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!--Document-->
          <div class="fmContainer" *ngSwitchCase="'document_Info'">
            <div style="padding-bottom: 5px;">
              <p class="header6-medium">{{selectedPanel.label}}</p>
            </div>

            <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 5px;">
              <p class="smalltext">Input required Information in the fields below</p>
            </div>
            <div style="padding-top:3rem;">
              <form>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader"
                    style="display: flex;align-items: center;">NYSC Certificate</label>
                  <div class="col-sm-5">
                    <ngx-file-upload (valueChange)="selectedFile($event,'NYSC Certificate')"></ngx-file-upload>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader"
                    style="display: flex;align-items: center;">Birth Certificate</label>
                  <div class="col-sm-5">
                    <ngx-file-upload (valueChange)="selectedFile($event,'Birth Certificate')"></ngx-file-upload>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader"
                    style="display: flex;align-items: center;">Driver’s License</label>
                  <div class="col-sm-5">
                    <ngx-file-upload (valueChange)="selectedFile($event,'Driver’s License')"></ngx-file-upload>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader"
                    style="display: flex;align-items: center;">Additional Document</label>
                  <div class="col-sm-5">
                    <ngx-file-upload (valueChange)="selectedFile($event,'Additional Document')"></ngx-file-upload>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-sm-4 col-sm-8">
                    <button *ngIf="submitbtnPressed" nbButton status="primary" class="d-flex column"><i
                        class="fa fa-spin fa-spinner"></i>&nbsp;Processing ...</button>
                    <button type="submit" nbButton status="primary" (click)="Submitdoc()"
                      *ngIf="!submitbtnPressed">Update Changes</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>