<ngx-componentsheader
  pageName="Locations"
  [requiredButton]="topActionButtons"
  (buttonClick)="pageActionClicked($event)"
></ngx-componentsheader>
<div class="main-page-container">
<ngx-default-content
    *ngIf="showEmpty"
    pageHeader="Create your first Location"
    pageDescription="Click on the button to create a Location"
    buttonValue="Create Location"
    (buttonClick)="createNewClicked()"
  >
  </ngx-default-content>
  <ngx-tablecomponent
    *ngIf="!showEmpty"
    [tableColum]="tableColumns"
    [actions]="tableActions"
    [userData]="tableData"
    [loading]="loading"
    (filterChange)="filterUpdated($event)"
    [showFilter]="true"
    (actionClick)="tableActionClicked($event)"
  ></ngx-tablecomponent>
</div>
<ngx-side-modal [(show)]="showModal" (closed)="clearEditingData()">
  <div modal-header>Add New Location</div>
  <div modal-body>
    <div class="my-form">
      <div class="form-group">
        <label>Title</label>
        <div>
          <input
            class="form-control"
            [(ngModel)]="editingData.location_name"
            placeholder="Name"
        />
        <ng-template [ngIf]="errors['location_name']">
          <span *ngFor="let error of errors['location_name']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>

      <div class="form-group">
        <label>Description</label>
        <div>
          <ngx-wysisyg-input></ngx-wysisyg-input>
        <ng-template [ngIf]="errors['location_name']">
          <span *ngFor="let error of errors['location_name']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>

      <div class="form-group">
        <label>Promotion minimum years(in Month)</label>
        <div>
          <input
            class="form-control"
            [(ngModel)]="editingData.location_name"
            placeholder="Name"
        />
        <ng-template [ngIf]="errors['location_name']">
          <span *ngFor="let error of errors['location_name']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>

      <div class="form-group">
        <label>Basic Salary</label>
        <div>
          <app-amount-input></app-amount-input>
        <ng-template [ngIf]="errors['location_name']">
          <span *ngFor="let error of errors['location_name']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>

      <div class="form-group">
        <label>Parent Positions</label>
        <div>
          <app-amount-input></app-amount-input>
        <ng-template [ngIf]="errors['location_name']">
          <span *ngFor="let error of errors['location_name']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>

      <div class="form-group">
        <label>Next Position</label>
        <div>
          <app-amount-input></app-amount-input>
        <ng-template [ngIf]="errors['location_name']">
          <span *ngFor="let error of errors['location_name']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>

      <div class="form-group">
        <label>Required Qualifications</label>
        <div>
          <app-amount-input></app-amount-input>
        <ng-template [ngIf]="errors['location_name']">
          <span *ngFor="let error of errors['location_name']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>

      <div class="form-group">
        <label>Required Certifications</label>
        <div>
          <app-amount-input></app-amount-input>
        <ng-template [ngIf]="errors['location_name']">
          <span *ngFor="let error of errors['location_name']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>

      <div class="form-group">
        <label>Minimum number of years of experience</label>
        <div>
          <app-amount-input></app-amount-input>
        <ng-template [ngIf]="errors['location_name']">
          <span *ngFor="let error of errors['location_name']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>

    </div>
  </div>
  <div modal-actions>
    <ngx-loadable-button (click)="submitForm()" [loading]="loading" style="margin-right: 1rem;">Save</ngx-loadable-button>
    <!-- <button nbButton status="primary" (click)="submitForm()">save</button> -->
    <button nbButton status="primary" outline (click)="hideModal()">
      cancel
    </button>
  </div>
</ngx-side-modal>
