<ngx-componentsheader
  pageName="Positions"
  [requiredButton]="topActionButtons"
  (buttonClick)="pageActionClicked($event)"
></ngx-componentsheader>
<div class="main-page-container">
  <ngx-default-content
    *ngIf="showEmpty"
    pageHeader="Create your first position"
    pageDescription="Click on the button to create a Position"
    buttonValue="Create Position"
    (buttonClick)="createNewClicked()"
  >
  </ngx-default-content>
  <ngx-tablecomponent
    *ngIf="!showEmpty"
    [tableColum]="tableColumns"
    [actions]="tableActions"
    [userData]="tableData"
    [loading]="loading"
    (filterChange)="filterUpdated($event)"
    [showFilter]="true"
    (actionClick)="tableActionClicked($event)"
  ></ngx-tablecomponent>
</div>
<ngx-side-modal [(show)]="showModal" (closed)="clearEditingData()">
  <div modal-header>Add New Location</div>
  <div modal-body>
    <div class="my-form">
      <div class="form-group">
        <label>Title</label>
        <div>
          <input
            class="form-control"
            [(ngModel)]="editingData.actionTitle"
            placeholder="Name"
          />
          <ng-template [ngIf]="errors['location_name']">
            <span *ngFor="let error of errors['location_name']" class="error">{{
              error
            }}</span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <div>
          <ngx-wysisyg-input [(value)]="editingData.description"></ngx-wysisyg-input>
          <ng-template [ngIf]="errors['description']">
            <span *ngFor="let error of errors['description']" class="error">{{
              error
            }}</span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label>Promotion(Minimum number of months before promotion)</label>
        <div>
          <input
            class="form-control"
            [(ngModel)]="editingData.min_years_experience"
            placeholder="Name"
          />
          <ng-template [ngIf]="errors['min_years_experience']">
            <span *ngFor="let error of errors['min_years_experience']" class="error">{{
              error
            }}</span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label>Monthly Salary</label>
        <div>
          <input
            class="form-control"
            [(ngModel)]="editingData.amount"
            placeholder="Name"
          />
          <ng-template [ngIf]="errors['amount']">
            <span *ngFor="let error of errors['amount']" class="error">{{
              error
            }}</span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label>Parent Position</label>
        <div>
          <input
            class="form-control"
            [(ngModel)]="editingData.parent_position"
            placeholder="Name"
          />
          <ng-template [ngIf]="errors['parent_position']">
            <span *ngFor="let error of errors['parent_position']" class="error">{{
              error
            }}</span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label>Next Position</label>
        <div>
          <input
            class="form-control"
            [(ngModel)]="editingData.next_position"
            placeholder="Name"
          />
          <ng-template [ngIf]="errors['next_position']">
            <span *ngFor="let error of errors['next_position']" class="error">{{
              error
            }}</span>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="my-form">
      <div class="form-group">
        <label>Qualifications</label>
        <div>
          <input
            class="form-control"
            [(ngModel)]="editingData.qualifications"
            placeholder="Name"
          />
          <ng-template [ngIf]="errors['qualifications']">
            <span *ngFor="let error of errors['qualifications']" class="error">{{
              error
            }}</span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label>Certifications</label>
        <div>
          <input
            class="form-control"
            [(ngModel)]="editingData.certifications"
            placeholder="Name"
          />
          <ng-template [ngIf]="errors['certifications']">
            <span *ngFor="let error of errors['certifications']" class="error">{{
              error
            }}</span>
          </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label> Minimium Years of Experience (in Months)</label>
        <div>
          <input
            class="form-control"
            [(ngModel)]="editingData.min_years_experience"
            placeholder="Name"
          />
          <ng-template [ngIf]="errors['min_years_experience']">
            <span *ngFor="let error of errors['min_years_experience']" class="error">{{
              error
            }}</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div modal-actions>
    <ngx-loadable-button
      (click)="submitForm()"
      [loading]="loadingSave"
      style="margin-right: 1rem"
      >Save</ngx-loadable-button
    >
    <!-- <button nbButton status="primary" (click)="submitForm()">save</button> -->
    <button nbButton status="primary" outline (click)="hideModal()">
      cancel
    </button>
  </div>
</ngx-side-modal>
