<ngx-componentsheader pageName="Bulk Upload" >
    <div headerButton>
        <div style="display: flex;flex-direction: row;">
            <div style="padding-right: 10px;">
                <button outline="true" (click)="discardProcess()" *ngIf="initialUploadResp.bulkUploadHtmlData" style="text-transform: none !important;width: 144px;"  type="button" nbButton status="primary" >Discard</button>
            </div>
            <ngx-loadable-button [loading]="loading" *ngIf="initialUploadResp.bulkUploadHtmlData" (click)="processBulkUpload()" >
                Process
              </ngx-loadable-button> 
        </div>
      
       
      
    </div>
</ngx-componentsheader>

<nb-card >
    <nb-card-body>
  <div class="row" *ngIf="!initialUploadResp.bulkUploadHtmlData">
<div class="col-md-3 col-xxl-3">
<h6 class="listsubheader">Add File</h6>
<p class="smalltext">Upload an excel file with all the the information of the Employees. Download the sample excel file to know the required format.</p>
</div>
<div class="col-md-9 col-xxl-9">
    <ng-container #flowBasic="flow" [flowConfig]="{ target: '/',singleFile: true }"></ng-container>
    <div style="padding: 10px; width: 43.75rem;">
        <div style="display: flex;flex-direction: column;">
            <div style="display: flex;flex-direction: row; padding-bottom: 5px;">
                <div style="flex:auto;">
                    <nb-icon icon="cloud-upload" status="primary"></nb-icon>
                     <span class="coloredsmalltext" style="cursor: pointer;" (click)="downloadSampleFile()">Download sample file</span>
                </div>
        
            </div>
    <div *ngIf="files.length < 1" style="display: flex;justify-content: center;border: 1px dashed #CED4DA;padding: 15px;"
    flow-init     
flowDrop
[flow]="flowBasic.flowJs"
(drop)="onDropFileceived(flowBasic)"
(dragover)="onDragOver($event)"
    >
        <div style="display: flex;flex-direction: column;" (change)="filereceived(flowBasic)">
    <div style="padding: 5px 5px 10px 20px;">
        <img  flowButton
        [flow]="flowBasic.flowJs" src="assets/icons/image-upload.jpg" style="height: 4.5rem ;">
    </div>
    <div style="padding: 5px 5px 5px 20px;">
        <button  flowButton
        [flow]="flowBasic.flowJs"  nbButton size="small" style="min-width: unset !important;">
            Add file
        </button>
    </div>
    <div style="padding: 5px 0 5px 0">
        <span class="smalltext" style="cursor: pointer; text-align: center;">or drop files to upload</span>
    </div>
    
        </div>
    
    </div>
    <div style="padding-top:1.5rem;">
    <div *ngFor="let transfer of files; let i = index" style="color: blue; display: flex;">
        <nb-icon nbPrefix icon="checkmark-outline" pack="eva"></nb-icon>
        <div style="flex: auto;">{{transfer.name}}</div>
        <span class="smalltext" style="color: red !important;cursor: pointer;" (click)="removeFile(flowBasic, transfer)">Remove</span>
      </div>
    </div>
    <div style="padding-top:1.5rem;">
        <div class="row">    
          <div class="col-sm-12">
            <ngx-loadable-button [loading]="loading" (click)="uploadBulkEmployee()" [disabled]="files.length < 1" >
                Submit
              </ngx-loadable-button> 
             
          </div>
      </div>
        </div>
    
    </div>
    </div>
</div>
  </div>
  <div class="row" *ngIf="initialUploadResp.bulkUploadHtmlData">
    <div class="col-md-12 col-xxl-12">
        <div [innerHTML]="initialUploadResp.bulkUploadHtmlData"></div>
        </div>
        </div>
        </nb-card-body>
        </nb-card>