<ngx-componentsheader
  pageName="Expense Request"
  [requiredButton]="topActionButtons"
  (buttonClick)="pageActionClicked($event)"
></ngx-componentsheader>
<div class="main-page-container">
  <nb-tabset (changeTab)="selectTab($event)">
    <nb-tab tabTitle="All Requests" [tabId]="TABS.ALL__REQUESTS"> </nb-tab
    ><nb-tab tabTitle="Approved" [tabId]="TABS.APPROVED"> </nb-tab
    ><nb-tab tabTitle="Pending" [tabId]="TABS.PENDING"> </nb-tab
    ><nb-tab tabTitle="Declined" [tabId]="TABS.DECLINED"> </nb-tab>
  </nb-tabset>
  <ngx-tableheader *ngIf="!showEmpty"></ngx-tableheader
  ><ngx-default-content
    *ngIf="showEmpty"
    pageHeader="let's set up your expenses"
    pageDescription="Now, you can add your request"
    buttonValue="Add expense request"
    (buttonClick)="createNewClicked()"
  >
  </ngx-default-content>
  <ngx-tablecomponent
    *ngIf="!showEmpty"
    [tableColum]="tableColumns"
    [actions]="tableActions"
    [userData]="tableData"
    [loading]="loading"
    (pageChange)="loadNewPage($event)"
    (actionClick)="tableActionClicked($event)"
  ></ngx-tablecomponent>
</div>
<ngx-side-modal [(show)]="showModal">
  <div modal-header>Add expense request</div>
  <div modal-body>
    <div class="my-form">
      <h4></h4>

      <div class="form-group">
        <label>Employee Name</label>
        <input class="form-control" placeholder="1" />
      </div>

      <div class="form-group">
        <label>Employee Number</label>
        <input class="form-control" placeholder="1" />
      </div>

      <div class="form-group">
        <label>Project</label>
        <input class="form-control" placeholder="1" />
      </div>

      <div class="form-group">
        <label>Expense Type</label>
        <input class="form-control" placeholder="1" />
      </div>

      <div class="form-group">
        <label>Expense sub-type</label>
        <input class="form-control" placeholder="1" />
      </div>

      <div class="form-group">
        <label>Amount</label>
        <app-amount-input></app-amount-input>
      </div>

      <div class="form-group">
        <label>Date incurred</label>
        <ngx-date></ngx-date>
      </div>

      <div class="form-group">
        <label>Description</label>
        <ngx-wysisyg-input></ngx-wysisyg-input>
      </div>

      <div class="form-group">
        <label>Attachment</label>
        <ngx-file-upload></ngx-file-upload>
      </div>
    </div>
  </div>
  <div modal-actions>
    <ngx-loadable-button (click)="submitForm()" [loading]="loadingSave" style="margin-right: 1rem;">Save</ngx-loadable-button>
    <!-- <button nbButton status="primary" (click)="submitForm()">save</button> -->
    <button nbButton status="primary" outline (click)="hideModal()">Cancel </button>
  </div>
</ngx-side-modal>
