<ngx-page
  (topActionClicked)="pageActionClicked($event)"
  [(showModal)]="showModal"
  [pageTitle]="getPageTitle()"
  [requiredButton]="getRequiredButton()"
  [formConfig]="formConfig"
  [(value)]="editingData"
  (formCompleted)="submitForm()"
  (formCancelled)="hideModal()"
  [tableData]="data"
  [tableColumns]="getTableColumns()"
  [loadingSave]="loadingSave"
  [formTitle]="getFormTitle()"
  [emptyConfig]="emptyConfig"
  [loading]="loading"
  [tableActions]="tableActions"
  (tableActionClicked)="tableActionClick($event)"
>
<div custom-forma>
  <div class="form-group">
    <label>Employee</label>
    <div>
      <ngx-employee-master-search [(value)]="editingData.loggedForEmployeeId"></ngx-employee-master-search>
    </div>
  </div>

  <div class="form-group">
    <label>Project</label>
    <select [(ngModel)]="editingData.expenseProjectId" class="form-control">
      <option *ngFor="let project of projects" [value]="project.id"> {{project.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Expense Type<span>(Optional)</span></label>
    <select [(ngModel)]="editingData.expenseProjectId" class="form-control">
      <option *ngFor="let type of types" [value]="type.id"> {{type.name}}</option>
    </select>
    <!-- <input class="form-control" placeholder="1" /> -->
  </div>

  <div class="form-group">
    <label>Expense sub-type<span>(Optional)</span></label>
    <input class="form-control" placeholder="1" [(ngModel)]="editingData.expenseSubTypeId"/>
  </div>

  <div class="form-group">
    <label>Amount</label>
    <app-amount-input [(value)]="editingData.requestedAmount"></app-amount-input>
  </div>

  <div class="form-group">
    <label>Date incurred</label>
    <ngx-date [(value)]="editingData.dateIncurred"></ngx-date>
  </div>

  <div class="form-group">
    <label>Description<span>(Optional)</span></label>
    <ngx-wysisyg-input [(value)]="editingData.description"></ngx-wysisyg-input>
  </div>

  <div class="form-group">
    <label>Attachment</label>
    <ngx-file-upload></ngx-file-upload>
  </div>

</div>
</ngx-page>