<ngx-componentsheader
  pageName="Budget Setup"
  [requiredButton]="[]"
></ngx-componentsheader>
<div class="main-page-container">
  <div class="my-form">
<ng-template [ngIf]="page === 1">
 <form #budgetForm="ngForm" name="budgetForm">
  <h6>Set up your overall budget</h6>
      <div class="form-group row">
        <div class="col-sm-8">
          <label>Financial Year</label>
        <ngx-date-range [(start)]="budget.financialYearStartDate" [(end)]="budget.financialYearEndDate" required></ngx-date-range>
        </div>
      </div>

      <div class="form-group row">
       <div class="col-sm-7">
        <label>Total amount</label>
        <app-amount-input [(value)]="budget.totalBudgetAmount" required></app-amount-input>
       </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-8">
          <label></label>
        <button nbButton status="primary" (click)="addBudget()" [disabled]="!disableSubmitbtn">Save and Continue</button>
        </div>
      </div>

 </form>
</ng-template>

<ng-template [ngIf]="page === 2">
    <h4>Add Budget Item</h4>
      <form #editItem="ngForm" name="editItem">
          <div class="form-group row">
            <div class="col-sm-2">
              <label>Budget Item</label>
            </div>
            <div class="col-sm-5">
              <input class="form-control" name="itemName" #itemName="ngModel" [(ngModel)]="disBudgetItem.name" required>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-2">
              <label>Budget</label>
            </div>
            <div class="col-sm-5">
              <select name="budget" #budget="ngModel" [(ngModel)]="myBudget.id" class="form-control">
                <option value=""> Select Budget Financial Year</option>
                <option *ngFor="let budget of myBudget" [value]="budget.id">{{budget.financialYearStartDate	 | date : 'longDate'}} - {{budget.financialYearEndDate | date : 'longDate'}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-2">
              <label>Budget Code</label>
            </div>
            <div class="col-sm-5">
              <input class="form-control" name="itemCode" #itemCode="ngModel" [(ngModel)]="disBudgetItem.code" placeholder="Budget Code" required>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2">
              <label>Total Budget Amount</label>
            </div>
            <div class="col-sm-5">
              <app-amount-input [(value)]="disBudgetItem.totalBudget"></app-amount-input>
            </div>
          </div>

          <hr/>
          <div class="form-group row">
          <div class="col-sm-2">
            <label>Department</label>
          </div>
          <div class="col-sm-5">
            <select class="form-control" name="department" #department="ngModel" [(ngModel)]="departments.department_id" required>
              <option value="1" disabled>--Select Department--</option>
              <option *ngFor="let dep of allDepartments" value="dep.id">{{dep.name}}</option>
            </select>
          </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-2">
              <label>Allocated amount</label>
            </div>
            <div class="col-sm-5">
              <app-amount-input [(value)]="departments.amount" [(max)]="disBudgetItem.totalBudget"></app-amount-input>
            </div>
          </div>

          <div class="form-group row" style="margin-top: 20px">
            <div class="col-sm-2">
              <label></label>
            </div>
            <div class="col-sm-5">
                <button nbButton status="primary" class="border-none" (click)="addDepartmentAllocations()" outline>
                  <nb-icon icon="plus-outline"></nb-icon>
                  Add department
                </button>
            </div>
          </div>

          <div class="form-group row" style="margin-top: 20px">
            <div class="col-sm-2">
              <label></label>
            </div>
            <div class="col-sm-5">
                <button nbButton status="primary" outline class="white-background mr-2">Cancel</button>
                <button nbButton status="primary" (click)="addBudgetItem()">Save</button>
            </div>
          </div>
        </form>
  </ng-template>
  </div>
</div>
