.my-form  h4 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.005em;
  /* black */
  color: #080730;
  margin-bottom: 1rem;
}

.border-none{
    border: 0px !important;
}

.white-background{
    background-color: white !important;
}