<ngx-componentsheader pageName='Report List'></ngx-componentsheader>
<div style="background-color: #ffffff;">
  <nb-tabset style="padding: 10px;">
    <nb-tab tabTitle="Ongoing">
      <nb-card>
        <ngx-tablecomponent [tableColum]="ongoingTable"></ngx-tablecomponent>
      </nb-card>
    </nb-tab>
    <nb-tab tabTitle="Yet to Start">
      <nb-card>
        <ngx-tablecomponent [tableColum]="yetToStartTable"></ngx-tablecomponent>
      </nb-card>
    </nb-tab>
    <nb-tab tabTitle="Completed">
      <nb-card>
        <ngx-tablecomponent [tableColum]="completedTable"></ngx-tablecomponent>
      </nb-card>
    </nb-tab>
  </nb-tabset>
</div>

