.title {
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

}

.date {
  color: #6C757D;
}

.cardTitle:hover .actions {
  display: block;
}

// .scoreCardTitle:hover .focusAreaTitle {
//   display: block;
// }

// .focusAreaTitle{
//   display: none;
// }

.actions {
  display: none;
}
