<ngx-componentsheader
  pageName="Update Loan Request"
  [requiredButton]="[{name:'update', label:'Update Loan'}, {name:'repayment', label:'Get Loan Repayment'}]"
></ngx-componentsheader>

<div class="row">
  <div class="col-sm-8">
    <nb-card>
      <nb-card-body>
        <form name="loanForm" #loanForm="ngForm">

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="">Request for Self?</label>
            </div>

            <div class="col-sm-6">
              <nb-toggle [(ngModel)]="toggleNgModel">Toggle with NgModel</nb-toggle>
            </div>
              </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="">Employee Name</label>
            </div>

            <div class="col-sm-6">
                  <ngx-employee-master-search (masterSubmitted)="getSelectedEmployee($event,'employee')" [allowmultipleselection]="allowmultipleselection" [selectionHeader]="selectionHeader" [addbtnText]="addbtnText"></ngx-employee-master-search>
            </div>
              </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="">Loan Type</label>
            </div>

            <div class="col-sm-6">
              <select class="form-control" name="loanType" [(ngModel)]="singleLoanData.loanTypeId">
                <option value="">--Select Loan Type--</option>
                <option *ngFor="let myType of allloanTypes" [value]="myType.id">{{ myType.name }}</option>
              </select>
            </div>
          </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label for="">Interest Type</label>
              </div>

              <div class="col-sm-6">
                <select class="form-control" name="loanType" #loanType="ngModel" [(ngModel)]="singleLoanData.interestTypeId">
                  <option value="">--Select Interest Type--</option>
                  <option *ngFor="let interest of allInterestRates" [value]="interest.id">{{ interest.description }}</option>
                </select>
              </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="">Effective Date</label>
            </div>
            <div class="col-sm-6">
              <ngx-date [(value)]="singleLoanData.effectiveDate"></ngx-date>
            </div>

          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="">Requested Amount</label>
            </div>
            <div class="col-sm-6">
              <app-amount-input [(value)]="singleLoanData.requestedAmount"></app-amount-input>
            </div>

          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="">Requested Tenor (Months)</label>
            </div>

            <div class="col-sm-6">
              <input class="form-control" type="number" name="tenor" #tenor="ngModel" [(ngModel)]="singleLoanData.requestedTenor" placeholder="12">
            </div>

          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="">Maturity Date</label>
            </div>
            <div class="col-sm-6">
              <ngx-date [(value)]="singleLoanData.strMaturityDate"></ngx-date>
            </div>
          </div>

          <!-- <div class="form-group row">
            <div class="col-sm-4">
              <label for="">Custom Question</label>
            </div>

            <div class="col-sm-6">
              <textarea name="customQuestion" #customQuestion="ngModel" [(ngModel)]="singleLoanData.customQuestion" cols="60" rows="10"></textarea>
              <ngx-wysisyg-input [(value)]="singleLoanData.customAnswer" style="padding-left: -10px;" ></ngx-wysisyg-input>
            </div>

          </div> -->

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="">Custom Answer</label>
            </div>

            <div class="col-sm-6">
              <textarea name="customAnswer" #customAnswer="ngModel" [(ngModel)]="singleLoanData.customAnswer" cols="40" rows="10"></textarea>
              <!-- <ngx-wysisyg-input [(value)]="singleLoanData.customAnswer" style="padding-left: -10px;" ></ngx-wysisyg-input> -->
            </div>

          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for="">Loan Justification</label>
            </div>

            <div class="col-sm-6">
              <textarea name="justification" #justification="ngModel" [(ngModel)]="singleLoanData.justification" cols="40" rows="10"></textarea>
              <!-- <ngx-wysisyg-input [(value)]="singleLoanData.justification" style="padding-left: -10px;" ></ngx-wysisyg-input> -->
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <label for=""></label>
            </div>
          </div>
        </form>
      </nb-card-body>
      <!-- <nb-card-body>
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Employee Name</label>
          </div>

          <div class="col-sm-8">
            <input class="form-control" type="text" name="employee" value="Employee Name" disabled>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Loan Type</label>
          </div>

          <div class="col-sm-8">
            <select class="form-control" name="loanType" disabled>
              <option value="">--Select Loan Type--</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Effective Date</label>
          </div>
          <div class="col-sm-8">
            <ngx-date ></ngx-date>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Requested Amount</label>
          </div>
          <div class="col-sm-8">
            <app-amount-input></app-amount-input>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Requested Tenor (Months)</label>
          </div>

          <div class="col-sm-8">
            <input class="form-control" type="number" name="tenor" placeholder="12">
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Maturity Date</label>
          </div>
          <div class="col-sm-8">
            <ngx-date></ngx-date>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Custom Question</label>
          </div>

          <div class="col-sm-8">
            <ngx-wysisyg-input style="padding-left: -10px;" ></ngx-wysisyg-input>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Loan Justification</label>
          </div>

          <div class="col-sm-8">
            <ngx-wysisyg-input style="padding-left: -10px;" ></ngx-wysisyg-input>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for=""></label>
          </div>
          <div class="col-sm-8">
            <button nbButton status="primary" (click)="makeRequest()">Submit</button>
          </div>
        </div>

      </nb-card-body> -->
  </nb-card>

  </div>

  <div class="col-sm-4">
    <nb-card>
      <nb-card-header>
        Guarantor(s)
      </nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="col">
            <label for="">Add Guarantor(s)</label>
            <ngx-employee-master-search></ngx-employee-master-search>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label for=""></label>
            <button nbButton status="primary" (click)="addGurantor()">Submit</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        Documents
      </nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="col">
            <label>Document Title</label>
            <ngx-file-upload></ngx-file-upload>
          </div>
        </div>

          <div class="form-group row">
            <div class="col">
              <label>Document Title</label>
              <ngx-file-upload></ngx-file-upload>
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <label for=""></label>
              <button nbButton status="primary" (click)="addDocuments()">Submit</button>
            </div>
          </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>



