<ngx-componentsheader
  pageName="Update Loan Request"
  [requiredButton]="[]"
></ngx-componentsheader>

<div class="row">
  <div class="col-sm-8">
    <nb-card>
      <nb-card-body>
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Employee Name</label>
          </div>

          <div class="col-sm-8">
            <input class="form-control" type="text" name="employee" value="Employee Name" disabled>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Loan Type</label>
          </div>

          <div class="col-sm-8">
            <select class="form-control" name="loanType" disabled>
              <option value="">--Select Loan Type--</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Effective Date</label>
          </div>
          <div class="col-sm-8">
            <ngx-date ></ngx-date>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Requested Amount</label>
          </div>
          <div class="col-sm-8">
            <app-amount-input></app-amount-input>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Requested Tenor (Months)</label>
          </div>

          <div class="col-sm-8">
            <input class="form-control" type="number" name="tenor" placeholder="12">
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Maturity Date</label>
          </div>
          <div class="col-sm-8">
            <ngx-date></ngx-date>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Custom Question</label>
          </div>

          <div class="col-sm-8">
            <ngx-wysisyg-input style="padding-left: -10px;" ></ngx-wysisyg-input>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Loan Justification</label>
          </div>

          <div class="col-sm-8">
            <ngx-wysisyg-input style="padding-left: -10px;" ></ngx-wysisyg-input>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for=""></label>
          </div>
          <div class="col-sm-8">
            <button nbButton status="primary" (click)="makeRequest()">Submit</button>
          </div>
        </div>

      </nb-card-body>
  </nb-card>

  </div>

  <div class="col-sm-4">
    <nb-card>
      <nb-card-header>
        Guarantor(s)
      </nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="col">
            <label for="">Add Guarantor(s)</label>
            <ngx-employee-master-search></ngx-employee-master-search>
          </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label for=""></label>
            <button nbButton status="primary" (click)="addGurantor()">Submit</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>
        Documents
      </nb-card-header>
      <nb-card-body>
        <div class="form-group row">
          <div class="col">
            <label>Document Title</label>
            <ngx-file-upload></ngx-file-upload>
          </div>
        </div>

          <div class="form-group row">
            <div class="col">
              <label>Document Title</label>
              <ngx-file-upload></ngx-file-upload>
            </div>
          </div>

          <div class="form-group row">
            <div class="col">
              <label for=""></label>
              <button nbButton status="primary" (click)="addDocuments()">Submit</button>
            </div>
          </div>


      </nb-card-body>
    </nb-card>
  </div>
</div>



