<ngx-componentsheader
          pageName="Appraisals"
          [requiredButton]="[]"
        ></ngx-componentsheader><div class="main-page-container">
        <!-- <nb-tabset (changeTab)="selectTab($event)">
        <nb-tab tabTitle="Pending" [tabId]="TABS.PENDING">
        </nb-tab><nb-tab tabTitle="Reviewed" [tabId]="TABS.REVIEWED">
        </nb-tab>
        </nb-tabset> -->
    <ngx-tableheader *ngIf="!showEmpty"></ngx-tableheader><ngx-default-content *ngIf="showEmpty" pageHeader="" pageDescription="You don't have any performance history" [loading]="loading">
    </ngx-default-content>
      <ngx-tablecomponent
        [showActions]="false"
        *ngIf="!showEmpty"
        [tableColum]="tableColumns"
        [userData]="appraisals"
        [loading]="loading"
        (pageChange)="loadNewPage($event)"
        (actionClick)="itemClicked($event)"
      ></ngx-tablecomponent>
    </div>
