<ngx-componentsheader [pageName]="pagetitle" [requiredButton]="rbutton" (buttonClick)="pageActionClicked($event)">
</ngx-componentsheader>


<nb-tabset (changeTab)="selectTab($event)">
 <nb-tab tabTitle="Requests" [tabId]="TABS.REQUEST">
   <!-- Tab content 1 -->
 </nb-tab>
 <nb-tab tabTitle="Complaints" [tabId]="TABS.COMPLAINT">
   <!-- Tab content 2 -->
 </nb-tab>
</nb-tabset>

<div style="background-color: #ffffff;">
    <div class="row" style="height: 70vh;">
        <div class="col-sm-3" style="border-right: 1px solid #CCCCCC;    padding-right: 0px; height: 100%;">
            <div class="section-header">
                <span *ngIf="selectedTab === TABS.REQUEST">All requests</span> <span *ngIf="selectedTab === TABS.COMPLAINT">All complaints</span> <span style="background: rgba(72, 71, 224, 0.08); border-radius: 8px; padding: 6px 12px; margin-left: 20px; color: #4847E0;">{{complaints.length}}</span>
            </div>
            <div class="complain-items" style="overflow: scroll; height: calc(100% - 80px);" nbInfiniteList [threshold]="3000" (bottomThreshold)="loadNext()">
                <div *ngIf="loading" style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                </div>
                <ng-template [ngIf]="!loading">
                    <div class="complain-item" *ngFor="let complaint of complaints" [class]="{active: selectedComplaint === complaint}" (click)="changeSelectedComplaint(complaint)">
                        <img [src]="complaint.complainerImageSrc" style="height: 50px; width: 50px; border-radius: 50%;">
                        <div class="complaint-detail-section">
                            <span class="complainer-name">{{complaint.complainerName}}</span>
                            <div class="complaint-title">{{complaint.title | maxStringLength:30}}</div>
                            <div class="complaint-detail">{{complaint.description | maxStringLength:50}}</div>
                            <ngx-status [data]="complaint"></ngx-status>
                        </div>
                        <div>{{complaint.time | date}}</div>
                    </div>
                </ng-template>
                <div *ngIf="loadingNext" style="display: flex; justify-content: center; padding-top: 5px;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9" style="height: 100%; overflow: scroll">
            <ngx-complaint-detail [value]="selectedComplaint"></ngx-complaint-detail>
        </div>
    </div>
</div>
<ngx-side-modal [(show)]="showCreateModal">
    <div modal-header>Create New</div>
    <div modal-body>
        <div class="form-group">
            <label>Type</label>
            <select [(ngModel)]="newComplaint.type" class="form-control">
                <option value="5">Complaint</option>
                <option value="6">Request</option>
            </select>
        </div>
        <div class="form-group">
            <label>Reciepent</label>
            <input class="form-control"/>
        </div>
        <div class="form-group">
            <label>Description</label>
            <ngx-wysisyg-input></ngx-wysisyg-input>
        </div>
    </div>
    <div modal-actions>
        <button nbButton status="primary">Submit</button>
        <button nbButton outline status="primary">Discard</button>
        <button>Attach</button>
    </div>
</ngx-side-modal>