<ngx-componentsheader pageName='Applicant Selection'></ngx-componentsheader>
<nb-tabset style="background-color: #ffffff; padding: 10px;">
  <nb-tab tabTitle="Roles">
    <div class="row">
      <div *ngFor="let role of allJobRoles" class="col-xxxl-4 col-md-4">
        <nb-card>
          <div style="display: flex; justify-content: space-between; align-content: center; padding: 20px;">
             <div style="display: flex; flex-direction: column;">
               <div style="display: flex; flex-direction: column;">
                 <span style="font-size: 16px; font-weight: 700; color: #080730 !important;">Technical Support</span>
                 <span class="smalltext" style="color: #6C757D;">127 Applicants</span>
               </div>

             </div>
             <div style="padding: 20px;"><span style="background: rgba(72, 71, 224, 0.08); padding: 7px; margin-top: 10px; color: #4847E0;">View</span>
             </div>
          </div>
        </nb-card>
     </div>
      <div class="col-xxxl-4 col-md-4">
         <nb-card>
           <div style="display: flex; justify-content: space-between; align-content: center; padding: 20px;">
              <div style="display: flex; flex-direction: column;">
                <div style="display: flex; flex-direction: column;">
                  <span style="font-size: 16px; font-weight: 700; color: #080730 !important;">Technical Support</span>
                  <span class="smalltext" style="color: #6C757D;">127 Applicants</span>
                </div>

              </div>
              <div style="padding: 20px;"><button style="background: rgba(72, 71, 224, 0.08); padding: 7px; margin-top: 10px; color: #4847E0;">View</button>
              </div>
           </div>
         </nb-card>
      </div>

      <div class="col-xxxl-4 col-md-4">
        <nb-card>
          <div style="display: flex; justify-content: space-between; align-content: center; padding: 20px;">
             <div style="display: flex; flex-direction: column;">
               <div style="display: flex; flex-direction: column;">
                 <span style="font-size: 16px; font-weight: 700; color: #080730 !important;">Technical Support</span>
                 <span class="smalltext" style="color: #6C757D;">127 Applicants</span>
               </div>

             </div>
             <div style="padding: 20px;"><span style="background: rgba(72, 71, 224, 0.08); padding: 7px; margin-top: 10px; color: #4847E0;">View</span>
             </div>
          </div>
        </nb-card>
     </div>
    </div>


  </nb-tab>


  <!-- Candidates Tab -->
  <nb-tab tabTitle="Candidates">
    <ngx-tablecomponent
    [tableColum]="myApplicantTable"
    [userData]='allApplications'
    (actionClick)='tableActionClick($event)'
    (filterChange)="filterUpdated($event)"
    [showActions]="false"
    [showFilter]="true">
  </ngx-tablecomponent>
  </nb-tab>
 </nb-tabset>



<!-- <ngx-side-modal [(show)]='showCvModal' style="width: 500px; height: 1000px;">
  <div modal-header>Add Applicant</div>
  <div modal-body>
    <h1>Hello</h1>
  </div>



</ngx-side-modal> -->

