<div class="" style="margin: -25px;">
    <div style="height: 250px;" class="bg-primary dashboard-header">
        Dashboard
    </div>
    <div class="">
        <div class="row card-container">
            <div class="col-md-8" style="display: flex; flex-direction: column;">

                <div class="card" style="margin-right: 2px;">
                    <div class="row mr-2">
                        <div class="col-md-4">
                            <img src="assets/images/nick.png" width="60%" style="background-size: cover;
                            margin-top: 20px; margin-left: 50px;" class="rounded-circle mb-1" alt="Cinque Terre">
                            <br>
                            <span class="d-flex flex-row pl-2" style="font-size: x-small; margin-left: 34px;">software
                                developer</span>
                        </div>

                        <div class="col-md-4">
                            <div class="d-flex mt-4" style="margin-left: 15px;">
                                <div class="mt-2">
                                    <i class="fas fa-users" style="color: blue;"></i>
                                </div>
                                <div class="ml-2">
                                    <h6 style="font-size: xx-small; font-weight: lighter;">Department</h6>
                                    <h6 style="font-size: x-small;">Product development</h6>
                                </div>


                            </div>
                            <div class="d-flex mt-4" style="margin-left: 15px;">
                                <div class="mt-2">
                                    <i class="fas fa-envelope" style="color: blue;"></i>
                                </div>
                                <div class="ml-2">
                                    <h6 style="font-size: xx-small; font-weight: lighter;">Email</h6>
                                    <h6 style="font-size: x-small;">sherif@smartace.ng</h6>
                                </div>
                            </div>
                            <div class="d-flex mt-4" style="margin-left: 15px; padding-bottom: 10px;"> 
                                <div class="mt-2">
                                    <i class="fas fa-users" style="color: blue;"></i>
                                </div>
                                <div class="ml-2">
                                    <h6 style="font-size: xx-small; font-weight: lighter;">Date of joining</h6>
                                    <h6 style="font-size: x-small;">15th january,2021</h6>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4">
                            <div class="d-flex mt-4">
                                <div class="mt-2">
                                    <i class="fas fa-file-alt" style="color: blue;"></i>
                                </div>
                                <div class="ml-2">
                                    <h6 style="font-size: xx-small; font-weight: lighter; color: blue;">staff id</h6>
                                    <h6 style="font-size: x-small;">01345</h6>
                                </div>


                            </div>
                            <div class="d-flex mt-4">
                                <div class="mt-2" style="font-weight: lighter;">
                                    <i class="fas fa-phone" style=" color: blue;"></i>
                                </div>
                                <div class="ml-2">
                                    <h6 style="font-size: xx-small; font-weight: lighter;">Phone Number</h6>
                                    <h6 style="font-size: x-small;">080891434128</h6>
                                </div>
                            </div>
                            <div class="d-flex mt-4">
                                <div class="mt-2">
                                    <i class="fas fa-compass" style="color: blue;"></i>
                                </div>
                                <div class="ml-2">
                                    <h6 style="font-size: xx-small; font-weight: lighter;">Office Location</h6>
                                    <h6 style="font-size: x-small;">Marina, Lekki, Lagos</h6>
                                </div>
                            </div>

                        </div>





                    </div>


                </div>

                <div class="card" style="margin-right: 2px; margin-bottom: 0px;">
                    <div class="card-body">
                        <h4 class="card-title" style="font-size: smaller;">Tasks</h4>
                        <p class="card-text" style="font-size: smaller; margin-top: -5px;">on boarding status(60%)</p>
                        <div class="d-flex " style="display: flex; flex-direction: row;">
                            <div style="display: flex; padding-top: 30px;">
                                <div class="q-connector" style="width: 10px;display: flex; flex-direction: row;"></div>
                            </div>
                            <div style="width: 100%; padding: 2px 0px 0px 10px;">
                                personal information
                            </div>

                            <div style="display: flex; padding-top: 30px;">
                                <div class="q-connector" style="width: 10px;display: flex; flex-direction: row;"></div>
                            </div>
                            <div style="width: 100%; padding: 2px 0px 0px 10px;">
                                personal information
                            </div>

                            <div style="display: flex; padding-top: 30px;">
                                <div class="q-connector" style="width: 10px;display: flex; flex-direction: row;"></div>
                            </div>
                            <div style="width: 50px; padding: 2px 0px 0px 10px;">
                                personal information
                            </div>



                        </div>

                        <div class="paid">
                            <div class="card" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
                                <div class="card-body">
                                    <h4 class="card-title" style="font-size: small;">Design User Interface For Smatace
                                        Platform</h4>
                                    <p class="card-text" style=" color: #86828D;">18th november,2020</p>
                                    <a href="#" class="stretched-link card-link  p-2" style="flex-flow: row; float: right; 
                                    margin-top: -80px; color: #F2994A; mix-blend-mode: normal;
                                           opacity: 1; background-color: cornsilk;">Pending</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="card" style="margin-left: 2px">
                    <div class="card-title mt-5 mr-5" style="font-weight: bolder; margin-right: 70px;">Events
                    </div>
                    <div class=" card-body d-flex mt-2">

                        <div class="mt-2" *ngFor="let day_no of [0,1,2,3,4]">
                            <div class="pl-2 pr-2 pt-1 rounded-circle  text-white"
                                [class]="{'bg-primary': weekdays[day_no].getDay() == today.getDay()}">
                                <h6 style="font-size: xx-small;">{{weekdays[day_no] | date:"MMM"}}</h6>
                                <span style="font-size: smaller;">{{weekdays[day_no] | date:"dd"}}</span>
                            </div>

                            <h6 style="font-weight: lighter; font-style: normal; font-size: 12px;" class="mt-1">
                                {{days_of_week[day_no]}}</h6>
                        </div>
                        <!-- <div class="ml-3 mt-2">
                            <h6 style="font-size: xx-small;">feb</h6>
                            <span style="font-size: smaller;">04</span>
                            <h6 style="font-weight: lighter; font-style: normal; font-size: 12px;" class="mt-2">Thur</h6>
                        </div>
                        <div class="ml-4 mt-2">
                            <h6 style="font-size: xx-small;">feb</h6>
                            <span style="font-size: smaller;">05</span>
                            <h6 style="font-weight: lighter; font-style: normal; font-size: 12px;" class="mt-2">Fri</h6>
                        </div>
                        <div class="ml-4 mt-2">
                            <h6 style="font-size: xx-small;">feb</h6>
                            <span style="font-size: smaller;">06</span>
                            <h6 style="font-weight: lighter; font-style: normal; font-size: 12px;" class="mt-2">Sat</h6>
                        </div>
                        <div class="ml-4 mt-2">
                            <h6 style="font-size: xx-small;">feb</h6>
                            <span style="font-size: smaller;">07</span>
                            <h6 style="font-weight: lighter; font-style: normal; font-size: 12px;" class="mt-2">Sun</h6>
                        </div> -->


                    </div>
                    <div class="card-body zee" style="margin-top: -10px;" *ngFor= "let i of [0,1,2,3,4,5]">
                        <h4 class="card-title" style="font-size: small;">Workshop</h4>
                        <p class="card-text">Managing employeed</p>
                        <p class="card-text">11am - 12pm</p>

                       
                        
                        
                    </div>







                </div>



            </div>
        </div>

        <div class="quick-actions-section">
            <h6 class="card-title pl-5 mt-2" style="font-size: small; margin-bottom: 50px; margin-top: 20px;">Quick Action</h6>
            <div style="display: flex;" style="width: 100%; overflow: scroll; padding-bottom: 10px;">
                <div class="quick-actions">
                    <div class="card " style="margin-bottom: 20px;">
                        <div class="card-body text-center">
                            <p class="card-text" style="font-size: smaller;">Company's Organagram</p>
                            <p class="card-text opaq" style="font-size: xx-small; margin-top: -15px;">View the
                                Organization structure</p>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-body text-center">
                            <p class="card-text" style="font-size: smaller;">Annoucement</p>
                            <p class="card-text opaq" style="font-size: xx-small; margin-top: -15px;">See Annoucements
                                made on the system</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body text-center">
                            <p class="card-text" style="font-size: smaller;">Payslip</p>
                            <p class="card-text opaq" style="font-size: xx-small; margin-top: -15px;">View my payslip
                                details</p>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-body text-center">
                            <p class="card-text" style="font-size: smaller;">Goals</p>
                            <p class="card-text opaq" style="font-size: xx-small; margin-top: -15px;">View the
                                Organizational Structure</p>
                        </div>
                    </div>


                    <!-- </div> -->

                    <!-- <div class="ml-4 top-actions" > -->
                    <div class="card ">
                        <div class="card-body text-center">
                            <p class="card-text" style="font-size: smaller;"> My Appraisal</p>
                            <p class="card-text opaq" style="font-size: xx-small; margin-top: -15px;">Set Goals and
                                Target For The Year</p>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-body text-center">
                            <p class="card-text" style="font-size: smaller;">Report</p>
                            <p class="card-text opaq" style="font-size: xx-small; margin-top: -15px;">Get breakdown of
                                the year's report</p>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-body text-center">
                            <p class="card-text" style="font-size: smaller;">Leave</p>
                            <p class="card-text opaq" style="font-size: xx-small; margin-top: -15px;">View leave plan or
                                apply for leave</p>
                        </div>
                    </div>
                    <div class="card ">
                        <div class="card-body text-center">
                            <p class="card-text" style="font-size: smaller;">Training</p>
                            <p class="card-text opaq" style="font-size: xx-small; margin-top: -15px;">view my training
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card-container row spa">
            <div class="col-md-6 card">
                <div class="row" style="display: flex;">
                    <div class="" style="flex:auto">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: small;">Company Directory</h4>
                            <div class="d-flex mt-4">
                                <div class="mt-2">
                                    <img src="assets/images/nick.png" width="20%" style="background-size: cover;
                                    margin-top: 10px;" class="rounded-circle mb-1" alt="Card image">
                                </div>
                                <div style="margin-left: -230px; margin-top: 20px;">
                                    <h6 style="font-size: xx-small; font-weight: lighter;">Alicia Keys</h6>
                                    <h6 style="font-size: x-small;">Products</h6>
                                </div>
                            </div>

                            <div class="d-flex ">
                                <div class="mt-1">
                                    <img src="assets/images/nick.png" width="20%" style="background-size: cover;
                                    margin-top: 5px;" class="rounded-circle mb-1" alt="Card image">
                                </div>
                                <div style="margin-left: -230px; margin-top: 20px;">
                                    <h6 style="font-size: xx-small; font-weight: lighter;">Alicia Keys</h6>
                                    <h6 style="font-size: x-small;">Products</h6>
                                </div>
                            </div>

                            <div class="d-flex ">
                                <div class="mt-1">
                                    <img src="assets/images/nick.png" width="20%" style="background-size: cover;
                                    margin-top: 5px;" class="rounded-circle mb-1" alt="Card image">
                                </div>
                                <div style="margin-left: -230px; margin-top: 20px;">
                                    <h6 style="font-size: xx-small; font-weight: lighter;">Alicia Keys</h6>
                                    <h6 style="font-size: x-small;">Products</h6>
                                </div>
                            </div>
                            <div class="d-flex ">
                                <div class="mt-1">
                                    <img src="assets/images/nick.png" width="20%" style="background-size: cover;
                                    margin-top: 5px;" class="rounded-circle mb-1" alt="Card image">
                                </div>
                                <div style="margin-left: -230px; margin-top: 20px;">
                                    <h6 style="font-size: xx-small; font-weight: lighter;">Alicia Keys</h6>
                                    <h6 style="font-size: x-small;">Products</h6>
                                </div>
                            </div>
                            <div class="d-flex ">
                                <div class="mt-1">
                                    <img src="assets/images/nick.png" width="20%" style="background-size: cover;
                                    margin-top: 5px;" class="rounded-circle mb-1" alt="Card image">
                                </div>
                                <div style="margin-left: -230px; margin-top: 20px;">
                                    <h6 style="font-size: xx-small; font-weight: lighter;">Alicia Keys </h6>
                                    <h6 style="font-size: x-small;">Products</h6>
                                </div>
                            </div>
                            <div class="d-flex ">
                                <div class="mt-1">
                                    <img src="assets/images/nick.png" width="20%" style="background-size: cover;
                                    margin-top: 5px;" class="rounded-circle mb-1" alt="Card image">
                                </div>
                                <div style="margin-left: -230px; margin-top: 20px;">
                                    <h6 style="font-size: xx-small; font-weight: lighter;">Alicia Keys</h6>
                                    <h6 style="font-size: x-small;">Products</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="card-body">
                            <a href="#" class="card-link">view all</a>
                            <div class="ml-2" style="margin-top: 50px;">
                                <h6 style="font-size: small; font-weight: lighter;">Reporting manager</h6>
                                <i class="fas fa-envelope" style="color: blue; float: right;margin-top: 5px;"></i>
                            </div>
                            <div class="ml-2" style="margin-top: 63px;"*ngFor="let i of [0,1,2,3,4]">
                                <h6 style="font-size: small; font-weight: lighter;">Reporting manager</h6>
                                <i class="fas fa-envelope" style="color: blue; float: right;margin-top: 5px;"></i>
                            </div>
                            
                        </div>
                    </div>


                </div>


            </div>
            <div class="col-md-6 card">
                <div class="row" style="display: flex;">
                    <div class="" style="flex:auto">
                        <div class="card-body">
                            <h4 class="card-title" style="font-size: small;">My Request</h4>

                            <div class="d-flex mt-3" *ngFor="let i of [0,1,2,3,4,5]">
                                <div class="ml-2" style="margin-top: 20px;">
                                    <h6 style="font-size: small; font-weight: light;">Employee information request</h6>
                                    <p class="card-text" style="font-size: smaller;" style="margin-top: 10px;">Tosin
                                        Lasis</p>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="">
                        <div class="card-body">

                            <a href="#" class="card-link">view all</a>
                            <div class="ml-2" style="margin-top: 50px;" *ngFor="let i of [0,1,2,3,4,5,6]">
                                <h6 style="font-size: small; font-weight: lighter;" class="time">3 hours ago..</h6>

                            </div>


                        </div>
                    </div>


                </div>


            </div>

        </div>
    </div>
</div>