:host{
    height: 93%;
    overflow: scroll;
    // margin-bottom: 30px;
}

h6{
    margin: 0px;
    line-height: 15px;
}

.dashboard-header{
    height: 250px;
    margin: 25px;
    margin-bottom: -90px;
    font-size: xx-large;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: bold;
    // margin-left: -58px;
    // margin-right: -60px;
}

.card-container > div{
    padding: 5px;
}
.card-container > div > .card{
    margin: 36px;
    height: 100%;
    margin-top: 0px;
    margin-bottom: 15px;
}

.quick-actions{
    display: flex;
    width: 400vw;
}

.quick-actions > div{
    flex: auto;
    margin-right: 30px;
}

// .top-actions > div{
//     width: 50vw;
// }

.q-connector {
    position: relative;
    &::before{
        content: '';
        width: 1.19rem;
        height: 1.19rem;
        background: #4847E033 0% 0% no-repeat padding-box;
        border: 1px solid #4847E0;
        opacity: 1;
        border-radius: 50%;
        display: block;
    }
    &::after {
      margin:18px;
      border-width: 0 0 0 2px;
      top: 40%;
    }

    &::after {
      content: '';
      left: -12px;
      border-color: #4847E0;
      border-style: dashed;
      width: 9px;
      height: calc(50% + 20px);
      position: absolute;
    }


  }


/* width */
::-webkit-scrollbar {
    width: 1px;
    height: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .opaq {
  color: #86828D;
  }
  .spa >div {
    flex: auto;
    margin-right: 10px;
    width: 70px;
    padding-left: 40px;
  }
 
  .time{
    color: #86828D;
    margin-right: 25px;
  }

  .paid{
    height: 400px; overflow: scroll; padding-bottom: 10px;
  }

  .zee {
    height: 400px; overflow: scroll; padding-bottom: 10px;margin-top: -1000px;
  }

  .date-circle{
    height: 50px;
  }