<ngx-componentsheader *ngIf="newCandidate" [requiredButton]="[{name:'plan', label:'Add Candidate', icon: 'plus'}]" (buttonClick)="addCandidate()" [pageName]="pageTitle"></ngx-componentsheader>
<ngx-componentsheader *ngIf="!newCandidate" pageName='Add Candidate'></ngx-componentsheader>
<div *ngIf="newCandidate" style="display: flex; flex-direction: row; justify-content: flex-start; flex: auto; padding-bottom: 5px;">
  <span style="cursor: pointer;"><i class="far fa-arrow-alt-circle-left"></i><a (click)="goback()" style="margin-left: 3px; ">Back</a></span>
</div>
<nb-card *ngIf="newCandidate" style="padding: 5px;">
  <nb-tabset>
    <nb-tab tabTitle="Employee Database">
      <ngx-tableheader></ngx-tableheader>
      <ngx-tablecomponent  [tableColum]="testPoolTable"></ngx-tablecomponent>
    </nb-tab>
    <nb-tab tabTitle="Recruitment Portal">
      <ngx-tableheader></ngx-tableheader>
      <ngx-tablecomponent  [tableColum]="testPoolTable"></ngx-tablecomponent>
    </nb-tab>

    <nb-tab tabTitle="External Source">
      <ngx-tableheader></ngx-tableheader>
      <ngx-tablecomponent  [tableColum]="testPoolTable"></ngx-tablecomponent>
    </nb-tab>
   </nb-tabset>
</nb-card>


<nb-tabset *ngIf="!newCandidate" style="background-color: #ffffff; padding: 10px;">
  <nb-tab tabTitle="Add Manually">
    <form>
      <div class="form-group row mydiv">
        <label for="Channel" class="col-sm-3 col-form-label mylabel">Channel</label>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <select class="custom-select" (change)="onChangeChannel($event.target.value)" required>
            <option *ngFor="let i of channel"  [value]=i.source>{{i.label}}</option>
          </select>
        </div>
      </div>

      <!-- Employee Database -->

     <div *ngIf="selectedChannel == 'database'">

      <div class="form-group row mydiv">
        <label for="Department" class="col-sm-3 col-form-label mylabel">Name</label>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="candidateModel.name" placeholder="Philip Muyiwa" required>
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
            <div *ngIf="name.errors.required">Name is required</div>
          </div>
        </div>
      </div>

      <div class="form-group row mydiv">
        <label for="Country" class="col-sm-3 col-form-label mylabel">Department</label>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <!-- <ngx-employee-master-search></ngx-employee-master-search> -->
          <select class="custom-select" name="department" #department="ngModel" [(ngModel)]="candidateModel.department" required>
            <option value="">Select </option>
            <option value="1">Employee Database</option>
            <option value="2">Recruitment Porta;</option>
            <option value="3">External Source</option>
          </select>
          <div *ngIf="department.invalid && (department.dirty || department.touched)" class="error">
            <div *ngIf="department.errors.required">Department is required</div>
          </div>
        </div>
      </div>

      <div class="form-group row mydiv">
        <label for="Country" class="col-sm-3 col-form-label mylabel">Unit/Division</label>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <select class="custom-select" name="unit" #unit="ngModel" [(ngModel)]="candidateModel.unit" required>
            <option value="">Select </option>
            <option value="1">Employee Database</option>
            <option value="2">Recruitment Porta;</option>
            <option value="3">External Source</option>
          </select>
          <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="error">
            <div *ngIf="unit.errors.required">Type is required</div>
          </div>
        </div>
      </div>

      <div class="form-group row mydiv">
        <label for="Position" class="col-sm-3 col-form-label mylabel">Position</label>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <select class="custom-select" name="position" #position="ngModel" [(ngModel)]="candidateModel.position"  required>
            <option value="">Select </option>
            <option value="1">Employee Database</option>
            <option value="2">Recruitment Porta;</option>
            <option value="3">External Source</option>
          </select>
          <div *ngIf="position.invalid && (position.dirty || position.touched)" class="error">
            <div *ngIf="position.errors.required">Position is required</div>
          </div>
        </div>
      </div>

      <div class="form-group row mydiv">
        <label for="Purpose" class="col-sm-3 col-form-label mylabel">Purpose</label>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <input class="custom-select" name="purpose" #purpose="ngModel" [(ngModel)]="candidateModel.purpose" required>
          <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="error">
            <div *ngIf="purpose.errors.required">Purpose is required</div>
          </div>
        </div>
      </div>
     </div>


<!-- Recruitment Portal -->

  <div *ngIf="selectedChannel == 'portal'">
        <div class="form-group row mydiv">
          <label for="Name" class="col-sm-3 col-form-label mylabel">Name</label>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <!-- <ngx-employee-master-search></ngx-employee-master-search> -->
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="candidateModel.department" placeholder="John Doe" required>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
              <div *ngIf="name.errors.required">Name is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <label for="Country" class="col-sm-3 col-form-label mylabel">Email</label>
          <div class="col-sm-6 col-md-6 col-lg-6">
              <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="candidateModel.email" placeholder="johndoe@gmail.com" required>
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                <div *ngIf="email.errors.required">Email is required</div>
              </div>
            </div>
        </div>

        <div class="form-group row mydiv">
          <label for="Phone" class="col-sm-3 col-form-label mylabel">Phone</label>
          <div class="col-sm-6 col-md-6 col-lg-6">
              <input type="tel" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="candidateModel.phone" placeholder="090-000-000-00" required>
              <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error">
                <div *ngIf="phone.errors.required">Phone is required</div>
              </div>
            </div>
        </div>

        <div class="form-group row mydiv">
          <label for="Purpose" class="col-sm-3 col-form-label mylabel">Purpose</label>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <input class="custom-select" name="purpose" #purpose="ngModel" [(ngModel)]="candidateModel.purpose" required>
            <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="error">
              <div *ngIf="purpose.errors.required">Purpose is required</div>
            </div>
          </div>
        </div>
 </div>


  <!-- External Source -->

  <div *ngIf="selectedChannel == 'external'">
    <div class="form-group row mydiv">
      <label for="Name" class="col-sm-3 col-form-label mylabel">Name</label>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="candidateModel.name" placeholder="John Doe" required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
          <div *ngIf="name.errors.required">Name is required</div>
        </div>
      </div>
    </div>

    <div class="form-group row mydiv">
      <label for="Email" class="col-sm-3 col-form-label mylabel">Email</label>
      <div class="col-sm-6 col-md-6 col-lg-6">
          <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="candidateModel.email" placeholder="johndoe@gmail.com" required>
          <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
            <div *ngIf="email.errors.required">Email is required</div>
          </div>
        </div>
      </div>

    <div class="form-group row mydiv">
      <label for="Phone" class="col-sm-3 col-form-label mylabel">Phone</label>
      <div class="col-sm-6 col-md-6 col-lg-6">
          <input type="tel" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="candidateModel.phone" placeholder="090-000-000-00" required>
          <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error">
            <div *ngIf="phone.errors.required">Phone is required</div>
          </div>
        </div>
    </div>

    <div class="form-group row mydiv">
      <label for="Website" class="col-sm-3 col-form-label mylabel">Website</label>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <input type="url" class="form-control" name="website" #website="ngModel" [(ngModel)]="candidateModel.website" placeholder="Enter Website" required>
        <div *ngIf="website.invalid && (website.dirty || website.touched)" class="error">
          <div *ngIf="website.errors.required">Website is required</div>
        </div>
      </div>
    </div>

    <div class="form-group row mydiv">
      <label for="LinkedIn" class="col-sm-3 col-form-label mylabel">LinkedIn</label>
      <div class="col-sm-6 col-md-6 col-lg-6">
          <input type="url" class="form-control" name="linkedIn" #linkedIn="ngModel" [(ngModel)]="candidateModel.linkedIn" placeholder="LinkedIn URL" required>
          <div *ngIf="linkedIn.invalid && (linkedIn.dirty || linkedIn.touched)" class="error">
            <div *ngIf="linkedIn.errors.required">LinkedIn URL is required</div>
          </div>
        </div>
    </div>

    <div class="form-group row mydiv">
      <label for="Purpose" class="col-sm-3 col-form-label mylabel">Purpose</label>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <input class="custom-select" name="purpose" #purpose="ngModel" [(ngModel)]="candidateModel.purpose" required>
        <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="error">
          <div *ngIf="purpose.errors.required">Purpose is required</div>
        </div>
      </div>
    </div>
  </div>

      <div class="form-group row">
        <label for="specialization" class="col-sm-3 col-form-label" style="font-weight: bold;"></label>
        <div class="col-sm-6">
          <button nbButton status="primary" (click)="addCandidateToPool()">Create Plan</button>
          <span style="padding: 8px;"></span>
          <button nbButton style="color: #4847E0;">Cancel</button>
        </div>
      </div>
    </form>
  </nb-tab>

  <nb-tab tabTitle="Bulk Upload">
<form action="">
  <div class="form-group row mydiv">
    <label for="website" class="col-sm-3 col-form-label mylabel">Employee List</label>

    <ngx-file-upload></ngx-file-upload>

    <div class="col-md-4 col-lg-4 col-sm-4">
      <i class="fa fa-download" style="color: #4847E0; padding: 10px;" aria-hidden="true"></i>
      <span style="color: #4847E0; padding: 10px;" >Download Template</span>
    </div>
  </div>


  <div class="form-group row">
    <label for="specialization" class="col-sm-3 col-form-label" style="font-weight: bold;"></label>
    <div class="col-sm-6">
      <button nbButton status="primary">Save</button>
      <span style="padding: 8px;"></span>
      <button nbButton style="color: #4847E0;">Cancel</button>
    </div>
  </div>
</form>
  </nb-tab>
 </nb-tabset>


