<div class="container">
   <div class="row">
    <div class="col-md-12" *ngIf="beginSetup" style="margin-top:10rem;background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 25px #9E9EA61A;
    border-radius: 4px;display: flex;align-items: center;text-align: center;flex-direction: column;width: 100%;padding:10rem">
<div style="flex-direction: row;justify-content: space-between;">
<img src="assets/icons/fire-cracker.jpg" style="width: 3rem;"> &nbsp;
<span class="header4-bold">Welcome Onboard! Let’s help setup your account</span>
</div>
<div>
  <p class="p-300">
    Our system help balance creativity, usability and technology to ensure that the solution engages you and enable you to easily explore, optimize your process, evaluate and grow your company
  </p>
</div>
<div style="align-items: center;">
  <button type="button" style="text-transform: none;min-width: 144px;"  nbButton status="primary" (click)="startSetup()">Begin Setup</button>
</div>

    </div>
    <div class="col-md-12" *ngIf="!beginSetup">
        <div style="padding: 15px;"></div>
        <ngx-componentsheader [pageName]="title"></ngx-componentsheader>
        <div style="padding: 15px;"></div>
        <div ></div>
        <div class="row" >
            <div class="col-md-8" style="margin: 5px;"  [ngSwitch]="selectedPanel">
                <!--Company Panel ////////////////////////////////-->
                <div class="fmContainer" *ngSwitchCase="'companyPanel'">
                    <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px;">
                   <p class="listsubheader">Input Company’s Information in the fields below</p>
                   </div>
                   <div style="display: flex; padding-top: 2rem;">
                       <div class="circular--portrait">
                           <img src="{{src}}" alt="" title="" itemprop="image">
                       </div>
                       <div style="display:flex;align-items: center;padding:2rem">
                           <span>
                           <a href="javascript:void(0)">Add Company Logo</a>
                           <p class="p-normal">Maximum size allowed is 600kb of PNG,JPEG,JPG</p>
                           </span>
                       </div>
                   </div>

                   <div style="padding-top:3rem;">
                    <form>
                        <div class="form-group row">
                          <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Company RC-Number</label>
                          <div class="col-sm-8">
                            <input type="text" nbInput fullWidth  placeholder="Company RC-Number">
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Company Email</label>
                            <div class="col-sm-8">
                              <input type="text" nbInput fullWidth  placeholder="Company Email">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Phone Number</label>
                            <div class="col-sm-8">
                              <input type="text" nbInput fullWidth  placeholder="Phone Number">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Domain Name</label>
                            <div class="col-sm-8">
                              <input type="text" nbInput fullWidth  placeholder="Domain Name">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Auditor Email</label>
                            <div class="col-sm-8">
                              <input type="email" nbInput fullWidth  placeholder="Auditor Email">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Administrator Email</label>
                            <div class="col-sm-8">
                              <input type="email" nbInput fullWidth  placeholder="Administrator Email">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Max Employee Count</label>
                            <div class="col-sm-8">
                              <input type="text" nbInput fullWidth  placeholder="Max Employee Count">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Company Address</label>
                            <div class="col-sm-8">
                              <input type="text" nbInput fullWidth  placeholder="Company Address">
                            </div>
                          </div>
                          <div class="form-group row">
                            <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">About Company</label>
                            <div class="col-sm-8">
                                <textarea rows="5" nbInput fullWidth   placeholder="Text Area"></textarea>
                            </div>
                          </div>
                     
                        <div class="form-group row">
                          <div class="offset-sm-4 col-sm-8">
                            <button type="submit" nbButton status="primary" (click)="proceedtosubcription()">Proceed</button>
                          </div>
                        </div>
                      </form>
                   </div>
               


                   </div>



<!--Subscription Panel ////////////////////////////////-->
<div class="fmContainer" *ngSwitchCase="'subscriptionPanel'">
    <div >
   <p class="listsubheader">Select your preferred package</p>
   </div>
<div style="padding-top:.5rem;">
    <nb-tabset>
        <nb-tab tabTitle="Smartace Basic">
        <div style="padding-top:1.5rem">

        <div style="padding: 1rem; box-shadow: 0px 3px 6px #CCCCCC33;
        border: 0.5px solid #CCCCCC;
        border-radius: 4px;
        opacity: 1;">
            <h6 class="header6-medium">SmartAce Basic Online Plan A</h6>
            <p class="p-normal">Maximum Employee: 10</p>
            <p class="p-normal"><nb-icon icon="info" status="primary" style="cursor: pointer !important;" (click)="showSubscribedModule()"></nb-icon>&nbsp;Minimal Access To The System Modules</p>
            <div class="row">
                <div class="col-md-8">
                    <h5 class="header6-bold">#3,000</h5>
                </div>
                <div class="col-md-4">
                    <button style="text-transform: none !important;" type="submit" nbButton status="primary" (click)="proceedtobilling()">Subscribe</button>
                </div>
            </div>
           
        </div>

        </div>
        </nb-tab>
        <nb-tab tabTitle="Smartace Lite">
          <div style="padding-top:1.5rem">

            <div style="padding: 1rem; box-shadow: 0px 3px 6px #CCCCCC33;
            border: 0.5px solid #CCCCCC;
            border-radius: 4px;
            opacity: 1;">
                <h6 class="header6-medium">SmartAce Lite Online Plan A</h6>
                <p class="p-normal">Maximum Employee: 10</p>
                <p class="p-normal"><nb-icon icon="info" status="primary" style="cursor: pointer !important;" (click)="showSubscribedModule()"></nb-icon>&nbsp;Minimal Access To The System Modules</p>
                <div class="row">
                    <div class="col-md-8">
                        <h5 class="header6-bold">#3,000</h5>
                    </div>
                    <div class="col-md-4">
                        <button style="text-transform: none !important;" type="submit" nbButton status="primary" (click)="proceedtobilling()">Subscribe</button>
                    </div>
                </div>
               
            </div>
    
            </div>
        </nb-tab>
 
      </nb-tabset>
</div>
   </div>

      <!--Billing Panel ////////////////////////////////-->
<div class="fmContainer" *ngSwitchCase="'billingPanel'">
  <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px;">
 <p class="listsubheader">Your current subscription details are below</p>
 </div>
 <div class="noteClass" style="display: flex; margin-top: 2rem;background: rgb(72,71,224,10%) 0% 0% no-repeat padding-box;">
  <div style="width: 100%;color: #080730;padding:1rem;"><small><b>Note:</b> &nbsp;You can always upgrade your current plan to higher ones of your choice as the case may be</small></div>
</div>
<div style="padding-top:3rem;">
<div class="row">
<div class="col-sm-6">
  <div class="form-group">
    <label for="exampleInputEmail1" class="label listsubheader">Subscription Type</label>
    <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Subscription Type">
  </div>
</div>
<div class="col-sm-6"></div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="exampleInputEmail1" class="label listsubheader">Billing Type</label>
        <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Billing Type">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="exampleInputEmail1" class="label listsubheader">Next Billing Date</label>
        <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Next Billing Date">
      </div>
    </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="exampleInputEmail1" class="label listsubheader">Amount</label>
            <app-amount-input></app-amount-input>
          
          </div>
        </div>
        <div class="col-sm-6"></div>
          </div>
          <div class="row">          
            <div class="col-sm-12">
              <button  angular4-paystack
              [email]="'test@test.com'"
              [amount]="500 * 100"
              [ref]="reference"
              (paymentInit)="paymentInit()"
              (close)="paymentCancel()"
              (callback)="paymentDone()"
              [channels]="['bank','card'] "
              style="width: 144px;" type="submit" nbButton status="primary" (click)="proceedtomodules()">Pay</button>
            </div>
         </div>
</div>
</div>

   <!--Module Panel ////////////////////////////////-->
<div class="fmContainer" *ngSwitchCase="'modulesPanel'">
    <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px;">
   <p class="listsubheader">Select the modules you want to grant your users access to.</p>
   </div>
   <div style="padding-top:2rem;">
    <nb-checkbox [value]="true">Select all</nb-checkbox>
    <div style="padding-top:1.5rem;">
      <div class="row">
        <div class="col-xxxl-4 col-md-4" >
          <nb-card>
           <div style="padding: 10px;display: flex;">
          <div style="display: flex;flex-direction: column;flex: auto;">
            <img src="assets/icons/PayrollModule.jpg" style="width:3rem;">
            <span class="smalltext">Payroll Module</span>
          </div>
          <div style="justify-content: end;">
            <nb-icon icon="checkmark-circle-2" status="primary" ></nb-icon>
          </div>
          </div>
          </nb-card>
        </div>

        <div class="col-xxxl-4 col-md-4" >
          <nb-card>
           <div style="padding: 10px;display: flex;">
          <div style="display: flex;flex-direction: column;flex: auto;">
            <img src="assets/icons/PayrollModule.jpg" style="width:3rem;">
            <span class="smalltext">Payroll Module</span>
          </div>
          <div style="justify-content: end;">
            <nb-icon icon="checkmark-circle-2" status="primary" ></nb-icon>
          </div>
          </div>
          </nb-card>
        </div>

        <div class="col-xxxl-4 col-md-4" >
          <nb-card>
           <div style="padding: 10px;display: flex;">
          <div style="display: flex;flex-direction: column;flex: auto;">
            <img src="assets/icons/PayrollModule.jpg" style="width:3rem;">
            <span class="smalltext">Payroll Module</span>
          </div>
          <div style="justify-content: end;">
            <nb-icon icon="checkmark-circle-2" status="primary" ></nb-icon>
          </div>
          </div>
          </nb-card>
        </div>
    
      </div>
      <div style="padding-top:1.5rem;">
      <div class="row">    
        <div class="col-sm-12">
            <button style="text-transform: none !important;width: 144px;" type="button" (click)="openSuccessalert()" nbButton status="primary" >Proceed</button>
        </div>
    </div>
    </div>
    </div>

  </div>
</div>

            </div>
            <div class="col-md-3" style="margin: 5px;">
                <div class="fmContainer" style="padding:4rem 2rem 4rem 2rem;">
                    <div style="padding-bottom: 10px;">
                        <p class="header6-medium">Account Setup</p>
                    </div>
                    <div class="row">
                        <div class="col-md-12 " style="display: flex;flex-direction: column;">
                            <div style="display:flex;padding-bottom: 35px;" >
                                <div [ngClass]="{'q-connector': selectedPanel == 'companyPanel','q-connector-inactive': selectedPanel != 'companyPanel'}"  style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: 2px;">
                            
                                </div>
                                  <div (click)="gotoPanel('companyPanel','Set up your account')" style="width: 100%; padding: 1px 0px 0px 10px;cursor: pointer;">
                                  Company Information
                                  </div>
                            </div>

                            <div style="display:flex;padding-bottom: 35px;" >
                                <div [ngClass]="selectedPanel == 'subscriptionPanel'?'q-connector':(selectedPanel == 'billingPanel'? 'q-connector':'q-connector-inactive')"  style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: 2px;">
                               
                                </div>
                                  <div  (click)="gotoPanel('subscriptionPanel','Choose Package')" style="width: 100%; padding: 1px 0px 0px 10px;cursor: pointer;">
                                 Subscription
                                  </div>
                            </div>
                            <div style="display:flex;padding-bottom: 35px;" >
                                <div [ngClass]="{'last-q-connector': selectedPanel == 'modulesPanel','last-q-connector-inactive': selectedPanel != 'modulesPanel'}"  style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: 2px;">
                               
                                </div>
                                  <div (click)="gotoPanel('modulesPanel','Activated Module')" style="width: 100%; padding: 1px 0px 0px 10px;cursor: pointer;">
                                Module Selection 
                                
                                  </div>
                            </div>
                         
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
       
      
    </div>
   
   </div>
</div>

<ngx-side-modal [(show)]="showModulesModal" [position]="modalPosition">
  <div modal-header>Modules</div>
  <div modal-body>
    <div style="display: flex;flex-direction: column; width: 100%;">
      <div class="p-normal" style="display: flex;padding: 10px;">
        <nb-icon icon="circle" pack="fa" status="primary"></nb-icon>
        <div style="padding: 1.5px 0 0 20px;">Employee Management</div>
      </div>
      <div class="p-normal" style="display: flex;padding: 10px;">
        <nb-icon icon="circle" pack="fa" status="primary"></nb-icon>
        <div style="padding: 1.5px 0 0 20px;">Leave Management</div>
      </div>
      <div class="p-normal" style="display: flex;padding: 10px;">
        <nb-icon icon="circle" pack="fa" status="primary"></nb-icon>
        <div style="padding: 1.5px 0 0 20px;">Query Management</div>
      </div>
      <div class="p-normal" style="display: flex;padding: 10px;">
        <nb-icon icon="circle" pack="fa" status="primary"></nb-icon>
        <div style="padding: 1.5px 0 0 20px;">Expense Management</div>
      </div>
    </div>
  </div>
  <div modal-actions>
  
  </div>
</ngx-side-modal>

