.card{
    background-color: #4847E0;
    padding: 1rem;
    color: white;
    display: flex; justify-content: space-evenly;
    flex-direction: row;
}

.card > div{
    border-right: 1px solid white;
    flex: auto;
    margin: auto;
    text-align: center;
}

.card > div>div:nth-child(1){
    font-weight: bold;
}

.main-page-container > div{
    margin-bottom: 2rem;
}

.table-buttons {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}
.table-buttons button{
    border: none;
    background: transparent !important;
    min-width: unset !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}