<ngx-componentsheader
  pageName="Salary Grades"
  [requiredButton]="topActionButtons"
  (buttonClick)="pageActionClicked($event)"
></ngx-componentsheader>
<div class="main-page-container">
<ngx-default-content
    *ngIf="showEmpty"
    pageHeader="Create your first Salary Scale"
    pageDescription="Click on the button to create a Salary Scale"
    buttonValue="Create Salary Scale"
    (buttonClick)="createNewClicked()"
  >
  </ngx-default-content>
  <ngx-tablecomponent
    *ngIf="!showEmpty"
    [tableColum]="tableColumns"
    [actions]="tableActions"
    [userData]="tableData"
    [loading]="loading"
    (filterChange)="filterUpdated($event)"
    [showFilter]="true"
    (actionClick)="tableActionClicked($event)"
  ></ngx-tablecomponent>
</div>
<ngx-side-modal [(show)]="showModal" (closed)="clearEditingData()">
  <div modal-header>Add New Salary Scale</div>
  <div modal-body>
    <div class="my-form">
      <div class="form-group">
        <label>Name</label>
        <div>
          <input
            class="form-control"
            placeholder="Name"
            [(ngModel)]="editingData.name"
        />
        <ng-template [ngIf]="errors['name']">
          <span *ngFor="let error of errors['name']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label>No of Leave Days</label>
        <div>
          <input
            class="form-control"
            placeholder="Name"
            [(ngModel)]="editingData.noOfLeaveDays"
        />
        <ng-template [ngIf]="errors['noOfLeaveDays']">
          <span *ngFor="let error of errors['noOfLeaveDays']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label>Promotion Minimium Years</label>
        <div>
          <input
            class="form-control"
            placeholder="Name"
            [(ngModel)]="editingData.promotion_min_years"
        />
        <ng-template [ngIf]="errors['promotion_min_years']">
          <span *ngFor="let error of errors['promotion_min_years']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div modal-actions>
    <ngx-loadable-button (click)="submitForm()" [loading]="loadingSave" style="margin-right: 1rem;">Save</ngx-loadable-button>
    <!-- <button nbButton status="primary" (click)="submitForm()">save</button> -->
    <button nbButton status="primary" outline (click)="hideModal()">
      cancel
    </button>
  </div>
</ngx-side-modal>
