
<ngx-componentsheader pageName='Set up a Payment Element'></ngx-componentsheader>

<nb-card style="margin-top: 3rem;">
    <nb-card-body>


        <form>
            <div class="form-group row">
                <label for="Institution Name" class="label col-sm-4 col-form-label listsubheader">Payroll item</label>
                <div class="col-sm-8">
                    <select name="" id="" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <label for="Category" class="label col-sm-4 col-form-label listsubheader">Pay type</label>
                <div class="col-sm-8">
                    <select aria-placeholder="select" name="" id="" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row">
                <label for="Element Name" class="label col-sm-4 col-form-label listsubheader">Element Name</label>
                <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="placeholder tetx">
                </div>
            </div>

            <div class="form-group row">
                <label for=" Element Category" class="label col-sm-4 col-form-label listsubheader">Element
                    Category</label>
                <div class="col-sm-8">
                    <select aria-placeholder="select" name="" id="" class="form-control"></select>
                </div>
            </div>

            <div class="form-group row">
                <label for="Element Type" class="label col-sm-4 col-form-label listsubheader">Element type</label>
                <div class="col-sm-8">
                    <select aria-placeholder="select" name="" id="" class="form-control"></select>
                </div>
            </div>
            <div class="form-group row" style="margin-top: 15px;">
                <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Payment Mode</label>
                <div class="col-sm-8">
                    <nb-radio-group [(ngModel)]="selectedOption" class="d-flex">
                        <nb-radio value="1">Amount</nb-radio>
                        <nb-radio value="2">Variable</nb-radio>

                    </nb-radio-group>
                </div>
            </div>

            <div class="form-group row" style="margin-top: 15px;">
                <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Payment Mode</label>
                <div class="col-sm-8">
                    <div style="flex-wrap: wrap; display: flex; flex-direction: row; ">
                        <div>
                            <input type="text" nbInput fullWidth placeholder="placeholder tetx">
                        </div>
                        <div style="display: flex; flex-direction: row; align-items: center;">
                            <p style="margin-left: 1.2rem; align-items: center; padding-top: 0.2rem; font-weight: bold;" >Of</p>
                            <div style="margin-left: 1.2rem;">
                                <input type="text" nbInput fullWidth placeholder="placeholder tetx">
                            </div>
                        </div>
                    </div>
                   
                
                </div>
            </div>
            <div class="form-group row">
                <label for="Account Number" class="label col-sm-4 col-form-label listsubheader">Account Number</label>
                <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Account Number">
                </div>
            </div>

            <div class="form-group row">
                <label for="Account Number" class="label col-sm-4 col-form-label listsubheader">Payment
                    Instituton</label>
                <div class="col-sm-8">
                    <select class="form-control" name="" id=""></select>
                </div>
            </div>



            <div class="form-group row" style="margin-top: 15px;">
                <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Deduct Tax</label>
                <div class="col-sm-8">
                    <nb-radio-group [(ngModel)]="selectedOption" class="d-flex">
                       
                        <nb-radio value="2"></nb-radio>

                    </nb-radio-group>
                </div>
            </div>


            <div class="form-group row" style="margin-top: 2rem; margin-bottom: 15rem;">
                <label for="Account Number" class="label col-sm-4 col-form-label listsubheader"></label>
                <div class="col-sm-8 d-flex">
                    <button nbButton status="primary" class="d-flex column">Save</button>
                    <button nbButton outline status="primary" class="d-flex column"
                        style="background-color: white; margin-left: 2rem;">Cancel</button>

                </div>
            </div>




        </form>

    </nb-card-body>


</nb-card>