<ngx-componentsheader [pageName]="singleVendor.name" [requiredButton]="topActionButtons" (buttonClick)='modal($event)'>
</ngx-componentsheader>
<span> back <i class="fas fa-arrow-circle-left" style="background-color: azure;padding: 0.4rem;"
    (click)="back()"></i></span>
<div class="main-page-container">
  <!-- <h4>Initiate New Benefit</h4>
  <p>Let's help create a new benefit plan</p> -->
  <!-- <div class="linear-form">
    <hr />
    <div class="form-group">
      <label>Benefit Name</label>
      <input class="form-control" />
    </div>

    <div class="form-group">
      <label>Benefit Icon</label>
      <ngx-file-upload></ngx-file-upload>
      <span>Icon should be in JPEG format</span>
    </div>

    <hr />

    <div class="form-group">
      <label>Upload Employees</label>
      <ngx-radio-button [items]="['Bulk Upload', 'Individual Upload', 'By Eligibility List']" [horizontal]="true">
      </ngx-radio-button>
    </div>

    <div class="form-group">
      <label>Employee(s)</label>
      <ngx-employee-master-search></ngx-employee-master-search>
    </div>

    <div class="form-group">
      <label>Upload Employee CSV file</label>
      <ngx-file-upload></ngx-file-upload>
    </div>

    <div class="form-group">
      <label>Select Eligibility Type</label>
      <select class="form-control"></select>

      <hr />

      <div class="form-group">
        <label>Additional Comment</label>
        <textarea class="form-control"></textarea>
      </div>
    </div>
  </div> -->

  <!-- <div style="display: flex;flex-wrap: wrap;">
    <div style="display: flex; flex-direction: column; border: 5px solid #ccc; padding: 2rem; border-radius: 4px;" >
      <h4>Initiate New Benefit</h4>
      <p>Let's help create a new benefit plan</p>
    </div>
    <div style="display: flex; flex-direction: column; border: 5px solid #ccc; padding: 2rem; border-radius: 4px;" >
      <h4>Initiate New Benefit</h4>
      <p>Let's help create a new benefit plan</p>
    </div>
    <div style="display: flex; flex-direction: column; border: 5px solid #ccc; padding: 2rem; border-radius: 4px;" >
      <h4>Initiate New Benefit</h4>
      <p>Let's help create a new benefit plan</p>
    </div>
    <div style="display: flex; flex-direction: column; border: 5px solid #ccc; padding: 2rem; border-radius: 4px;" >
      <h4>Initiate New Benefit</h4>
      <p>Let's help create a new benefit plan</p>
    </div>
    
  </div> -->

  <nb-card>



    <nb-card-body>

      <div class="row">
        <div class="col-sm-4" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
          <span style="font-size: large; font-weight: bold;">Vendor</span>
        </div>
        <div class="col-sm-8">
          <span style="font-size: large; font-weight: bold;">{{singleVendor.name}}</span>
        </div>

        <div class="col-sm-4" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
          <span style="font-size: large; font-weight: bold;">Email1</span>
        </div>
        <div class="col-sm-8">
          <span style="font-size: large; font-weight: bold;">{{singleVendor.email}}</span>
        </div>


        <div class="col-sm-4" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
          <span style="font-size: large; font-weight: bold;">Description</span>
        </div>
        <div class="col-sm-8">
          <span style="font-size: large; font-weight: bold;">{{singleVendor.description}}</span>
        </div>



        <div class="col-sm-4" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
          <span style="font-size: large; font-weight: bold;">Address</span>
        </div>
        <div class="col-sm-8">
          <span style="font-size: large; font-weight: bold;">{{singleVendor.address}}</span>
        </div>


        <div class="col-sm-4" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
          <span style="font-size: large; font-weight: bold;">phoneNumber</span>
        </div>
        <div class="col-sm-8">
          <span style="font-size: large; font-weight: bold;">{{singleVendor.phoneNumber}}</span>
        </div>
        <!-- <div style="align-items: center;justify-content: center;display: flex; margin: 0.4rem 1rem 1rem 1rem;">
            <a href="javascript:void(0)" (click)="onClick()">view details</a>
        </div> -->


      </div>

      <div style="align-items: center;
    justify-content: center;
    display: flex; margin: 6.4rem 1rem 1rem 1rem;">
        <span style="font-weight: 100; font-size: medium; font-style: normal;">PLANS</span>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <span style="font-weight: bold;">Plan Name</span>
          <p style="margin-top: 0.3rem; margin-bottom: 0.2rem;">
            <span> {{plans?.name}}</span>
          </p>
        </div>
        <div class="col-sm-3">
          <span style="font-weight: bold;">Description</span>
          <p style="margin-top: 0.3rem; margin-bottom: 0.2rem;">
            <span>{{plans?.description}}</span>
          </p>
        </div>

        <div class="col-sm-3">
          <span style="font-weight: bold;">Policy Number</span>
          <p style="margin-top: 0.3rem; margin-bottom: 0.2rem;">
            <span>{{plans?.refNumber}}</span>
          </p>
        </div>

        <div class="col-sm-1">
          <span><a href="">view details</a>
           </span>
          
        </div>
        <div class="col-sm-1">
          <button nbButton outline status="danger"  class="d-flex column pl-1"
          style="background-color: white; border: none;"  (click)="deletePlan()"><i class="fas fa-times" style="padding-right: 0.3rem;"></i> Delete Plan</button>
        </div>

      </div>

      <div style="align-items: center; justify-content: center; display: flex; margin: 4rem 1rem;">
        <div nbButton status="primary" outline class="d-flex column" style="background-color: white;"></div>
      </div>
    </nb-card-body>





    <ngx-side-modal [(show)]='showPlan' style="width: 500px;">
      <div modal-header style="font-size: larger; font-weight: bold;">
        <span></span>
      </div>
      <div modal-body>

        <form action="/action_page.php" #EventForm="ngForm" name="EventForm" id="EventForm">
          <!-- <h6 style="border: 10px  #CCC; background-color: #F5F5FA; font-size: small; padding: 15px; width: 300px;
            margin-left: 10px;">create new events</h6> -->
          <div style="margin: 20px;">
            <div class="form-group">
              <label for="title">Name of Plan</label>
              <input type="text" class="form-control" placeholder="Enter name of plan" id="name" #name="ngModel"
                name="name" [(ngModel)]=" AddVendorPlan.name" required>

              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
                <div *ngIf="name.errors.required">name is required</div>
              </div>

            </div>
            <div class="form-group">
              <label for="title">Policy number</label>
              <input type="text" class="form-control" placeholder="Enter refNumber" id="refNumber" #refNumber="ngModel"
                name="refNumber" [(ngModel)]=" AddVendorPlan.refNumber" required>

              <div *ngIf="refNumber.invalid && (refNumber.dirty || refNumber.touched)" class="error">
                <div *ngIf="refNumber.errors.required">refNumber is required</div>
              </div>

            </div>



            <div class="form-group row">
              <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Vendor id
              </label>
              <div class="col-sm-8">
                <select placeholder="Select Gender" class="form-control" name="vendorId" id="vendorId"
                  #vendorId="ngModel" [(ngModel)]="AddVendorPlan.vendorId">
                  <option value="">--Select Vendor---</option>
                  <option *ngFor="let evo of Vendora" [value]="evo.id">{{evo.name}}</option> 
                </select>

                <div *ngIf="vendorId.invalid && (vendorId.dirty || vendorId.touched)" class="error">
                  <div *ngIf="vendorId.errors.required">Vendor is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="Description">Plan Description</label>
              <textarea type="textarea" class="form-control" placeholder="Enter Description" id="description"
                name="description" #description="ngModel" [(ngModel)]="AddVendorPlan.description"></textarea>

              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error">
                <div *ngIf="description.errors.required">Description is required</div>
              </div>

            </div>

            <div modal-actions class="d-flex" style="margin-top: 2px; margin-bottom: 3px;">
              <button *ngIf="submitbtnPressed" nbButton status="primary" class="d-flex column"><i
                  class="fa fa-spin fa-spinner"></i>&nbsp;Processing ...</button>
              <button *ngIf="!submitbtnPressed" nbButton status="primary" class="d-flex column" [disabled]="!disable"
                (click)="SubmitPlan()">Submit</button>


            </div>

          </div>
        </form>

      </div>
    </ngx-side-modal>
  </nb-card>