<ngx-componentsheader pageName='Pay Element' [requiredButton]="topActionButtons" (buttonClick)='modal($event)'>
</ngx-componentsheader>

<nb-card>
    <nb-card-body>
        <ngx-default-content *ngIf="showEmpty" pageHeader="Pay Element"
        pageDescription="No Record Found" buttonValue="Add Payroll Item" [loading]="loadingPayElement"
        (buttonClick)="showAddElementModal = true">
        </ngx-default-content>
        <ngx-tablecomponent *ngIf="!showEmpty" (filterChange)="filterUpdated($event)" [showActions]="true"
        [showFilter]="true" (actionClick)="tableActionClicked($event)" [actions]="tableActions" [userData]="allPayElementDTO"
        [tableColum]="tableColumns" [totalItems]="totalItems" [currentPage]="currentPage" [loading]="loadingPayElement">
        </ngx-tablecomponent>
        
        <!--Add Update Payelement-->
        <ngx-side-modal [(show)]="showAddElementModal">
            <div modal-header>Add New Payroll Element</div>
            <div modal-body>
<form id="payElementForm" name="payElementForm" #payElementForm="ngForm">
    <div class="form-group">
        <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Payroll Item</label>
        <select class="form-control" #payrollItemId="ngModel"  id="payrollItemId" name="payrollItemId"   [(ngModel)]="ManagePayElement.payrollItemId" required>
            <option value="">--Select Item--</option>
            <option *ngFor="let pItem of allPayrollItems;" [value]="pItem.id">{{pItem.text}}</option>
        </select>
        <div *ngIf="payrollItemId.invalid && (payrollItemId.dirty || payrollItemId.touched)" class="error">
          <div *ngIf="payrollItemId.errors.required">Payroll Item is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Pay Type</label>
        <select class="form-control" #payTypeId="ngModel"  id="payTypeId" name="payTypeId"   [(ngModel)]="ManagePayElement.payTypeId" required>
            <option value="">--Select Type--</option>
            <option *ngFor="let ptype of allPayTypes;" [value]="ptype.id">{{ptype.text}}</option>
        </select>
        <div *ngIf="payTypeId.invalid && (payTypeId.dirty || payTypeId.touched)" class="error">
          <div *ngIf="payTypeId.errors.required">Payroll Item is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Element Name</label>
        <input type="text" class="form-control" placeholder="Enter Element Name" name="name"
          #name="ngModel" [(ngModel)]="ManagePayElement.name" required>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
          <div *ngIf="name.errors.required">Element Name is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Element Category</label>
        <select class="form-control" #elementCategoryId="ngModel"  id="elementCategoryId" name="elementCategoryId"   [(ngModel)]="ManagePayElement.elementCategoryId" required>
            <option value="">--Select Category--</option>
            <option *ngFor="let eCat of allElementCategories;" [value]="eCat.id">{{eCat.name}}</option>
        </select>
        <div *ngIf="elementCategoryId.invalid && (elementCategoryId.dirty || elementCategoryId.touched)" class="error">
          <div *ngIf="elementCategoryId.errors.required">Element Category is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Element Type</label>
        <select class="form-control" #elementTypeId="ngModel"  id="elementTypeId" name="elementTypeId"   [(ngModel)]="ManagePayElement.elementTypeId" required>
            <option value="">--Select Type--</option>
            <option *ngFor="let eType of allElementType;" [value]="eType.id">{{eType.name}}</option>
        </select>
        <div *ngIf="elementTypeId.invalid && (elementTypeId.dirty || elementTypeId.touched)" class="error">
          <div *ngIf="elementTypeId.errors.required">Element Type is required</div>
        </div>
      </div>
      <div  *ngIf="ManagePayElement.payTypeId == 2">
        <div class="form-group" >
          <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Pay Per Hour</label>
          <input type="text" class="form-control" placeholder="Enter Tax Percentage" name="hourlyPay"
            #hourlyPay="ngModel" [(ngModel)]="ManagePayElement.hourlyPay" required>
          <div *ngIf="hourlyPay.invalid && (hourlyPay.dirty || hourlyPay.touched)" class="error">
            <div *ngIf="hourlyPay.errors.required">Pay Per Hour is required</div>
          </div>
        </div>
        <div class="form-group" >
          <label for="Leave Type Name" style="font-size: small;font-weight: bold;">No of Work Hours(optional)</label>
          <input type="text" class="form-control" placeholder="Enter Work Hours" name="noOfWorkHours"
            #noOfWorkHours="ngModel" [(ngModel)]="ManagePayElement.noOfWorkHours">
        </div>
      </div>
 
      <div  *ngIf="ManagePayElement.payTypeId == 1">
        <div class="form-group">
          <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Payment Mode</label>
          <nb-radio-group #is_variable="ngModel"  name="is_variable" [(ngModel)]="ManagePayElement.is_variable" class="d-flex" required>
              <nb-radio [value]="false">Amount</nb-radio>
              <nb-radio [value]="true">Variable</nb-radio>
  
            </nb-radio-group>
          <div *ngIf="is_variable.invalid && (is_variable.dirty || is_variable.touched)" class="error">
            <div *ngIf="is_variable.errors.required">Payment Mode is required</div>
          </div>
        </div>
        <div class="form-group row" *ngIf="ManagePayElement.is_variable">
          <label for="Leave Type Name" class="col-sm-12" style="font-size: small;font-weight: bold;">Variable</label>
         <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Enter Percentage" name="variable"
          #variable="ngModel" [(ngModel)]="ManagePayElement.variable" required>
        <div *ngIf="variable.invalid && (variable.dirty || variable.touched)" class="error">
          <div *ngIf="variable.errors.required">variable is required</div>
        </div>
         </div>
         <div class="col-sm-2">
  of
      </div>
      <div class="col-sm-6">
          <select class="form-control" #payElementId="ngModel"  id="payElementId" name="payElementId"   [(ngModel)]="ManagePayElement.payElementId" required>
              <option value="">--Select Pay Element--</option>
              <option *ngFor="let pEle of allPayElementDTO;" [value]="pEle.id">{{pEle.name}}</option>
          </select>
        <div *ngIf="payElementId.invalid && (payElementId.dirty || payElementId.touched)" class="error">
          <div *ngIf="payElementId.errors.required">Pay Element is required</div>
        </div>
      </div>
     
        </div>
      <div class="form-group" *ngIf="!ManagePayElement.is_variable">
          <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Amount</label>
          <input type="text" class="form-control" placeholder="Enter Amount" name="amount"
            #amount="ngModel" [(ngModel)]="ManagePayElement.amount" required>
          <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="error">
            <div *ngIf="amount.errors.required">Amount is required</div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Payment Institution</label>
        <select class="form-control" #paymentInstitutionId="ngModel"  id="paymentInstitutionId" name="paymentInstitutionId"   [(ngModel)]="ManagePayElement.paymentInstitutionId" required>
            <option value="">--Select Category--</option>
            <option *ngFor="let pInst of allPaymentInstitution;" [value]="pInst.id">{{pInst.name}}</option>
        </select>
        <div *ngIf="paymentInstitutionId.invalid && (paymentInstitutionId.dirty || paymentInstitutionId.touched)" class="error">
          <div *ngIf="paymentInstitutionId.errors.required">Payment Institution is required</div>
        </div>
      </div>
      <div class="form-group">
        <nb-checkbox status="primary" id="isTaxDeduct" name="isTaxDeduct" #isTaxDeduct="ngModel"
          [(ngModel)]="ManagePayElement.isTaxDeduct">Deduct Tax</nb-checkbox>
      </div>
      <div class="form-group" *ngIf="ManagePayElement.isTaxDeduct">
        <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Tax Percentage</label>
        <input type="text" class="form-control" placeholder="Enter Tax Percentage" name="taxPercentage"
          #taxPercentage="ngModel" [(ngModel)]="ManagePayElement.taxPercentage" required>
        <div *ngIf="taxPercentage.invalid && (taxPercentage.dirty || taxPercentage.touched)" class="error">
          <div *ngIf="taxPercentage.errors.required">Tax Percentage is required</div>
        </div>
      </div>
</form>
        
            </div>
        
            <div modal-actions style="margin-top: 10px; margin-bottom: 30px;display: flex;flex-direction: row;">
              <ngx-loadable-button [loading]="loadingPayElement" [disabled]="payElementForm.invalid" (click)="createUpdatePayElement()" >
                Submit
              </ngx-loadable-button>           
              <div style="padding-left: 15px;">
                <button  outline="true" (click)="showAddElementModal = false"  nbButton status="primary" class="d-flex column" > Discard </button>
             
              </div>
          </div>
        
        </ngx-side-modal>
        <!-- view modal -->
        
        <ngx-side-modal [(show)]="showViewModal">
            <div modal-header></div>
            <div modal-body>
                <nb-card>
                    <nb-card-header>
                        View Pay Element
                    </nb-card-header>
                    <nb-card-body>
                        <!-- <div>
                            <div
                                style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                                <div style="flex: auto; display: flex;padding-top: 15px;">
                                    <p style=" text-transform: uppercase; font-weight: bold;">Delete Pay Element
                                    </p>
                                </div>
        
        
        
                            </div>
                        </div> -->
                        <span style="padding: 10px;"></span>
        
                        <span></span>
        
                        <div class="row" *ngFor="let i of [0,1,2,3,4]">
                           <div class="col-sm-5">
                            <p>name</p>
                           </div>
                            <div class="col-sm-7" >
                                <P>Test</P>
                            </div>
                        </div>
        
        
                        <div modal-actions class="d-flex" style="margin-top: 10rem;   margin-left: 5rem;">
        
                            <button nbButton status="primary" class="d-flex column" style="margin-left: -4rem;">Delete</button>
                            <button nbButton outline status="danger" class="d-flex column"
                                style="background-color: white; margin-left: 1.2rem;">Delete</button>
                                <button nbButton outline status="primary" class="d-flex column"
                                style="background-color: white; margin-left: 1rem;border: none; text-decoration: underline;" >Cancel</button>
        
                        </div>
                    </nb-card-body>
        
        
                </nb-card>
        
            </div>
     
        
        
        </ngx-side-modal>
    </nb-card-body>
</nb-card>
