<ngx-componentsheader pageName='Medical Insurance Coverage'></ngx-componentsheader>

<div class="main-page-container">
    <div>Hygeia</div>

    <div>
        <label>Enrolment Type</label>
        <div></div>
    </div>

    <div>
        <label>Phone Number</label>
        <div></div>
    </div>

    <div>
        <label>Effective</label>
        <div></div>
    </div>

    <div>
        <label>Renewal Window</label>
        <div></div>
    </div>

    <div>
        <label>Waiting Period</label>
        <div></div>
    </div>

    <div>
        <label>Benefit Summary</label>
        <div></div>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Plan Name</th>
                    <th> Plan Type</th>
                    <th> Policy Numbers </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>