<ngx-componentsheader pageName='Medical Insurance Coverage'></ngx-componentsheader>
<div class="multi-card-page" *ngFor="let a of [1,23,4,5,6,7]">
    <div class="card">
    <h4>Hygeia</h4>

    <div class="key-value-group">
    <div>
        <label>Enrolment Type</label>
        <div>Open</div>
    </div>

    <div>
        <label>Phone Number</label>
        <div>+2347032935357</div>
    </div>

    <div>
        <label>Effective</label>
        <div>02/21/2021-01/31/2022</div>
    </div>

    <div>
        <label>Renewal Window</label>
        <div>02/21/2021-01/31/2022</div>
    </div>

    <div>
        <label>Waiting Period</label>
        <div>02/21/2021-01/31/2022</div>
    </div>

    <div>
        <label>Benefit Summary</label>
        <div>02/21/2021-01/31/2022</div>
    </div>
    </div>

    <ngx-tablecomponent></ngx-tablecomponent>

</div>
</div>