<ngx-componentsheader [pageName]='pageName' [requiredButton]="topActionButtons" (buttonClick)='modal($event)'>

</ngx-componentsheader>

<nb-card>
  <nb-card-body>
    <ngx-default-content *ngIf="showEmpty" pageHeader="Pay Period"
      pageDescription="no record found" buttonValue="Create Pay Period" [loading]="loading"
      (buttonClick)="modal('add_leave_year')">
    </ngx-default-content>
    <ngx-tablecomponent *ngIf="!showEmpty" (filterChange)="filterUpdated($event)" [showActions]="true"
      [showFilter]="true" (actionClick)="tableActionClicked($event)" [actions]="tableActions" [userData]="allPayPeriod"
      [tableColum]="tableColumns"  [totalItems]="totalItems" [currentPage]="currentPage" [loading]="loading">
    </ngx-tablecomponent>

    <ngx-side-modal [(show)]='showPayPeriodModal' style="width: 500px; height: 1000px;">
      <div modal-header>Add Pay Period</div>
      <div modal-body>
        <form #newPayPeriodForm="ngForm" name="newPayPeriodForm" id="newPayPeriodForm">
          <div class="form-group">
            <label for="Leave Type Name" style="font-size: small;font-weight: bold;">Pay Period Name:</label>
            <input type="text" class="form-control" placeholder="Enter Pay Period Name" name="name"
              #name="ngModel" [(ngModel)]="newPayPeriod.name" required>
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
              <div *ngIf="name.errors.required">Pay Period Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">Start Date:</label>
            <ngx-date [(value)]='newPayPeriod.startDate' [max]="newPayPeriod.endDate" #startDate
              name="startDate" id="startDate"></ngx-date>

            <div *ngIf="!validateStartdate" class="error">
              <div>Start Date is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="Minimum Number Of Days" style="font-size: small;font-weight: bold;">End Date:</label>
            <ngx-date [(value)]='newPayPeriod.endDate' #endDate [min]="newPayPeriod.startDate"
              name="endDate" id="endDate"></ngx-date>
            <div *ngIf="!validateEnddate" class="error">
              <div>End Date is required</div>
            </div>
          </div>

          <div class="form-group">
            <nb-checkbox status="primary" name="is_active" #is_active="ngModel"
              [(ngModel)]="newPayPeriod.is_active">Active</nb-checkbox>
          </div>
        </form>
      </div>
      <div modal-actions class="d-flex"
        style="display: flex; flex-direction: row; justify-content: center; margin-top: 5px; margin-bottom: 5px;">
        <button *ngIf="!submitbtnPressed" [disabled]="!formvalidate" nbButton status="primary"
        (click)="addUpdatePayPeriod()" class="d-flex column"><span *ngIf="!modificationStatus">Submit</span>
        <span *ngIf="modificationStatus">Modify</span>
      </button>
      <button *ngIf="submitbtnPressed" nbButton status="primary" class="d-flex column">Processing &nbsp; <i
          class="fa fa-spin fa-spinner"></i></button>
      <button nbButton outline status="primary" (click)="showPayPeriodModal = false" class="d-flex column"
        style="background-color: white;">Discard</button>
    </div>
    


    </ngx-side-modal>


  </nb-card-body>
</nb-card>