<ngx-componentsheader pageName="Settings" [requiredButton]="[]"></ngx-componentsheader>
<div style="background-color: white; padding: 30px">
<div class="row">
<div class="col-sm-6">
<div class="form-group">
    <label>Username</label>
    <input class="form-control"/>
</div>
<div class="form-group">
    <label>Host</label>
    <input class="form-control"/>
</div>
<div class="form-group">
    <label>Port</label>
    <input class="form-control"/>
</div>
<div class="form-group">
    <label>Default mail address</label>
    <input class="form-control"/>
</div>
<div class="form-group">
    <label>Password</label>
    <input class="form-control"/>
</div>
<div class="form-group">
    <label>SSL</label>
    <input class="form-control" type="checkbox"/>
</div>
<div class="form-group">
    <label>Allow sending of mails</label>
    <input class="form-control" type="checkbox"/>
</div>
<div class="form-group" style="margin-top: 20px">
    <label></label>
    <button nbButton status="primary">Submit</button>
</div>
</div>
</div>
</div>