
<ngx-componentsheader
pageName="System Option"
[requiredButton]="topActionButtons"
(buttonClick)="pageActionClicked($event)"
></ngx-componentsheader>
<div class="main-page-container">
<!-- <ngx-default-content
  *ngIf="showEmpty"
  pageHeader="Create your first Department"
  pageDescription="Click on the button to create a Department"
  buttonValue="Create Department"
  (buttonClick)="createNewClicked()"
>
</ngx-default-content> -->
<ngx-tablecomponent
  *ngIf="!showEmpty"
  [tableColum]="tableColumns"
  [actions]="tableActions"
  [userData]="tableData"
  [loading]="loading"
  (filterChange)="filterUpdated($event)"
  [showFilter]="true"
  (actionClick)="tableActionClicked($event)"
></ngx-tablecomponent>
</div>

