<ngx-componentsheader  pageName='9-Box Grid Appraisal'></ngx-componentsheader>
<div style="background-color: #ffffff; margin: 100px;">
<div class="" style="border: 10px solid #4847E0;">
  <div class="row" style="display: flex; flex-direction: row; height: 150px; margin: 5px; justify-content: space-between;">
    <div (click)="boxSelected(NINE_BOX_GRID.RoughDiamond)" class="col-md-4" style="background-color: #FCD5B5; color: #080730; font-weight: 600; border: solid 5px #ffffff; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <i class="far fa-star" style="margin-right: 10px"></i>
        <span>Round Diamond</span>
        <span style="background: rgba(72, 71, 224, 0.08); padding: 3px; font-size: 10px; margin-left: 12px;">{{data[NINE_BOX_GRID.RoughDiamond]}}</span>
    </div>

    <div (click)="boxSelected(NINE_BOX_GRID.FutureStar)" class="col-md-4" style="background-color: #FFA8A8; color: #ffffff; font-weight: 600; border: solid 5px #ffffff; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <i class="far fa-star" style="margin-right: 10px"></i>
        <span>Future Star</span>
        <span style="background: rgba(72, 71, 224, 0.08); padding: 3px; font-size: 10px; margin-left: 12px;">{{data[NINE_BOX_GRID.FutureStar]}}</span>
    </div>

     <div (click)="boxSelected(NINE_BOX_GRID.ConsistentStar)" class="col-md-4" style="background-color: #27AE60; color: #ffffff; font-weight: 600; border: solid 5px #ffffff; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <i class="far fa-star" style="margin-right: 10px"></i>
        <span>Consistent Star</span>
        <span style="background: rgba(72, 71, 224, 0.08); padding: 3px; font-size: 10px; margin-left: 12px;">{{data[NINE_BOX_GRID.ConsistentStar]}}</span>
    </div>
  </div>

  <div class="row" style="display: flex; flex-direction: row; height: 150px; margin: 5px; justify-content: space-between;">
    <div (click)="boxSelected(NINE_BOX_GRID.InconsistentPlayer)" class="col-md-4" style="background-color: #E6E21A;; color: #080730; font-weight: 600; border: solid 5px #ffffff; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <i class="fas fa-feather" style="margin-right: 10px"></i>
        <span>Inconsistent Player</span>
        <span style="background: rgba(72, 71, 224, 0.08); padding: 3px; font-size: 10px; margin-left: 12px;">{{data[NINE_BOX_GRID.InconsistentPlayer]}}</span>
    </div>

    <div (click)="boxSelected(NINE_BOX_GRID.KeyPlayer)" class="col-md-4" style="background-color: #33B2D2; color: #ffffff; font-weight: 600; border: solid 5px #ffffff; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <i class="far fa-star" style="margin-right: 10px"></i>
        <span>Key Player</span>
        <span style="background: rgba(72, 71, 224, 0.08); padding: 3px; font-size: 10px; margin-left: 12px;">{{data[NINE_BOX_GRID.KeyPlayer]}}</span>
    </div>

     <div (click)="boxSelected(NINE_BOX_GRID.CurrentStar)" class="col-md-4" style="background-color: #F2994A; color: #ffffff; font-weight: 600; border: solid 5px #ffffff; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <i class="far fa-star" style="margin-right: 10px"></i>
        <span>Current Star</span>
        <span style="background: rgba(72, 71, 224, 0.08); padding: 3px; font-size: 10px; margin-left: 12px;">{{data[NINE_BOX_GRID.CurrentStar]}}</span>
    </div>
  </div>

  <div class="row" style="display: flex; flex-direction: row; height: 150px; margin: 5px; justify-content: space-between;">
    <div (click)="boxSelected(NINE_BOX_GRID.TalentRisk)" class="col-md-4" style="background-color: #EE6A6A; color: #ffffff; font-weight: 600; border: solid 5px #ffffff; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <i class="fas fa-exclamation-triangle" style="margin-right: 10px"></i>
        <span>Talent Risk</span>
        <span style="background: rgba(72, 71, 224, 0.08); padding: 3px; font-size: 10px; margin-left: 12px;">{{data[NINE_BOX_GRID.TalentRisk]}}</span>
    </div>

    <div (click)="boxSelected(NINE_BOX_GRID.SolidProfessional)" class="col-md-4" style="background-color: #729FD8; color: #ffffff; font-weight: 600; border: solid 5px #ffffff; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <i class="fas fa-briefcase" style="margin-right: 10px"></i>
        <span>Solid Professional</span>
        <span style="background: rgba(72, 71, 224, 0.08); padding: 3px; font-size: 10px; margin-left: 12px;">{{data[NINE_BOX_GRID.SolidProfessional]}}</span>
    </div>

     <div (click)="boxSelected(NINE_BOX_GRID.HighProfessional)" class="col-md-4" style="background-color: #4A83F2; color: #ffffff; font-weight: 600; border: solid 5px #ffffff; display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <i class="far fa-star" style="margin-right: 10px"></i>
        <span>High Professional</span>
        <span style="background: rgba(72, 71, 224, 0.08); padding: 3px; font-size: 10px; margin-left: 12px;">{{data[NINE_BOX_GRID.HighProfessional]}}</span>
    </div>
  </div>
</div>
</div>
