<ngx-componentsheader pageName='Emloyee View'>

</ngx-componentsheader>



<div style="margin-top: 20px;" class="row card-container">

    <nb-card class="col-md-3 " style="display: flex;justify-items: center; text-align: centre;">
        <nb-card-body>
            <div>
                <img src="assets/images/nick.png" width="60%" style="background-size: cover;
             margin-top: 20px; margin-left: 34px;" class="rounded-circle mb-1" alt="Cinque Terre">
                <br>
                <div
                    style="display: flex; flex-direction: column;align-items: center; text-align: center; margin-right: 2rem; margin-top: 1rem;">
                    <span class="d-flex flex-row pl-2" style="font-size: small; ; font-weight: bold;">Kelvin
                        jeff
                    </span>

                    <span class="d-flex flex-row pl-2" style="font-size: x-small;">software
                        developer
                    </span>
                </div>


            </div>
            <br>


            <div>


                <div>



                    <div class="d-flex mt-4" style="margin-left: 15px;">
                        <div class="mt-2">
                            <img src="assets/icons/department.jpg" style="height: 20px; color: #4847E0;" alt="">
                        </div>
                        <br>
                        <div class="ml-2">
                            <h6
                                style="font-size: small; color: #4847E0;  font-weight: bold; margin-left: 9px; margin-top: 0.5rem;">
                                Personal Information
                            </h6>

                        </div>

                    </div>

                    <div class="d-flex mt-4" style="margin-left: 15px;">
                        <div class="mt-2">
                            <img src="assets/icons/department.jpg" style="height: 20px; color: #4847E0;" alt="">
                        </div>
                        <br>
                        <div class="ml-2">
                            <h6
                                style="font-size: small; color: #4847E0; font-weight: bold; margin-left: 9px; margin-top: 0.5rem;">
                                Comfirmation Info
                            </h6>

                        </div>

                    </div>


                    <div class="d-flex mt-4" style="margin-left: 15px;">
                        <div class="mt-2">
                            <img src="assets/icons/department.jpg" style="height: 20px; columns: #4847E0;" alt="">
                        </div>
                        <br>
                        <div class="ml-2">
                            <h6 style="font-size: small; font-weight: bold; margin-left: 9px; margin-top: 0.5rem;">
                                Approval Log
                            </h6>

                        </div>

                    </div>



                </div>
            </div>


        </nb-card-body>
    </nb-card>

    <div class="col-sm-1" style="margin-left: -30px; margin-right: -30px;"></div>

    <nb-card class="col-md-8">
        <nb-card-body>
            <nb-tabset>
                <nb-tab tabTitle="Personal information">
                    <nb-card-header style="margin-bottom: 4rem;">


                        <div style="display: flex; flex-direction: row; align-items: center;">

                            <div>
                                <p style="font-weight: bold;">Personal Information</p>
                            </div>


                        </div>

                    </nb-card-header>




                    <div *ngFor="let i of [0,1,2,3,4,5,6,7,8]" style="font-weight: bold; padding: 2rem;">
                        <div class="row">
                            <div class="col-sm-4">
                                <span>First Name</span>
                            </div>
                            <div class="col-sm-8">
                                <span>Abiodun</span>
                            </div>
                        </div>
                    </div>





                    <br>

                </nb-tab>
                <nb-tab tabTitle="Qualifications">
                    <nb-card-header>
                        <h6>Qualifications</h6>

                    </nb-card-header>

                    <br>

                    <ngx-tablecomponent [tableColum]="tableColumns"></ngx-tablecomponent>




                </nb-tab>


                <nb-tab tabTitle="Details">
                    <nb-card-header>
                        <h6>Comfirmation Information</h6>

                    </nb-card-header>

                    <br>
                    <div style="font-weight: bold; padding: 2rem;">
                        <div class="row">
                            <div class="col-sm-4">
                                <span>Requested Date</span>
                            </div>
                            <div class="col-sm-8">
                                <span>24/02/2021</span>
                            </div>
                        </div>
                    </div>

                    <div style="font-weight: bold; padding: 2rem;">
                        <div class="row">
                            <div class="col-sm-4">
                                <span>Appointment Date</span>
                            </div>
                            <div class="col-sm-8">
                                <span>24/02/2021</span>
                            </div>
                        </div>
                    </div>


                    <div style="font-weight: bold; padding: 2rem;">
                        <div class="row">
                            <div class="col-sm-4">
                                <span>Probation Period</span>
                            </div>
                            <div class="col-sm-8">
                                <span>24/02/2021</span>
                            </div>
                        </div>
                    </div>

                    <div style="font-weight: bold; padding: 2rem;">
                        <div class="row">
                            <div class="col-sm-4">
                                <span>Effective Date</span>
                            </div>
                            <div class="col-sm-8">
                                <span>24/02/2021</span>
                            </div>
                        </div>
                    </div>




                </nb-tab>


                <nb-tab tabTitle="Feedback">
                    <nb-card-header>
                        <h6>Qualifications</h6>

                    </nb-card-header>

                    <br>

                    <form action="">

                        <div class="form-group row">
                            <label for="FeedBack" class="label col-sm-4 col-form-label listsubheader">FeedBack</label>
                            <div class="col-sm-8">
                                <textarea type="text" nbInput fullWidth placeholder="Enter FeedBack"> </textarea>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="Advice" class="label col-sm-4 col-form-label listsubheader">Advice</label>
                            <div class="col-sm-8">
                                <textarea type="text" nbInput fullWidth placeholder="Enter Advice"> </textarea>
                            </div>
                        </div>

                        <div style="display: flex;justify-content: center; margin-top: 3rem; margin-bottom: 3rem;">
                            <button nbButton status="primary"
                                style="display: flex; justify-content: center;">Proceed</button>
                        </div>

                    </form>


                </nb-tab>



                <nb-tab tabTitle="Approval Log Info">
                    <nb-card-header>
                        <h6>Qualifications</h6>

                    </nb-card-header>

                    <br>



                    <form style="margin-top: 15px;">


                        <div class="form-group row">
                            <label for="Title" class="label col-sm-4 col-form-label listsubheader">Title
                            </label>
                            <div class="col-sm-8">
                                <input type="text" nbInput fullWidth placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Contact number" class="label col-sm-4 col-form-label listsubheader">Status
                                number</label>
                            <div class="col-sm-8">
                                <input type="number" nbInput fullWidth placeholder="Enter status">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Comment" class="label col-sm-4 col-form-label listsubheader">Comment</label>
                            <div class="col-sm-8">
                                <textarea name="" id="" cols="30" rows="10" type="text" nbInput fullWidth
                                    placeholder="Enter Comment"></textarea>

                            </div>
                        </div>




                        <div class="form-group row">
                            <div class="col-md-4" style="display: flex;align-items:center">
                                <label for="">Upload Document</label>
                            </div>
                            <div class="col-md-8 col-xxl-8 ">
                                <div style="display: flex;flex-direction: row;">
                                    <div>
                                        <ngx-file-upload class="form-control"></ngx-file-upload>
                                    </div>
                                    <div style="padding-left: 10px;display: flex;align-items: center;flex: auto;">
                                        Not More than 1 mb
                                    </div>
                                </div>


                            </div>
                        </div>


                        <br>


                        <div class="form-group row">
                            <div class="col-md-4" style="display: flex;align-items:center">

                            </div>
                            <div class="col-md-8 col-xxl-8 ">

                                <div class="d-flex" style="margin-top: 40px; margin-bottom: 60px;">

                                    <button nbButton status="primary" class="d-flex column">Submit</button>
                                    <button nbButton outline status="primary" class="d-flex column"
                                        style="background-color: white; margin-left: 10px;">Rejected</button>
                                    <button nbButton outline status="primary" class="d-flex column"
                                        style="background-color: white; margin-left: 10px; border: none;">Re-assign</button>

                                </div>

                            </div>
                        </div>



                    </form>





                </nb-tab>

            </nb-tabset>


        </nb-card-body>

    </nb-card>



</div>