<ngx-componentsheader pageName='Succession Dashboard' [requiredButton]="topActionButtons" (buttonClick)='modal($event)'></ngx-componentsheader>

  <nb-card >
    <nb-card-body>

  <ngx-default-content *ngIf="showEmpty" pageHeader="Succession Dashboard"
  pageDescription="Click on the button to Fetch With Employee Master" buttonValue="Master Search" [loading]="searchbtnclicked"
  (buttonClick)="newPlan = true">
</ngx-default-content>

<ngx-tablecomponent *ngIf="!showEmpty" [showActions]="true"
  [showFilter]="false" (actionClick)="tableActionClicked($event)" [actions]="tableActions" [userData]="allEmployees"
  [tableColum]="dashboardTable" [totalItems]="totalItems" [currentPage]="currentPage" [loading]="searchbtnclicked">
</ngx-tablecomponent>
    </nb-card-body>
  </nb-card>




<ngx-side-modal [(show)]='newPlan' style="width: 500px;">
  <div modal-header style="display: flex; flex-direction: row; justify-content: space-between;">
    <div modal-header>Employee Search</div>
    <div modal-header><i class="fa fa-times" (click)="toggleToCreatePlan()" aria-hidden="true"></i></div>
</div>

<div modal-body>
  <div>
    <form id="searchForm" name="searchForm" #searchForm="ngForm">
    <nb-form-field>
        <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
        <input #searchtText type="text" id="searchtText" name="searchtText" nbInput class="form-control" [(ngModel)]="filterObject.searchtText">
    </nb-form-field>
    <div class="row" style="padding-top:10px">
        <div class="col-sm-6 form-group">
            <label>Department</label>
            <select class="form-control" #searchDepartment  id="searchDepartment" name="searchDepartment" [(ngModel)]="filterObject.searchDepartment">
                <option value="0">--Select Department--</option>
                <option *ngFor="let dep of allDepartment;" [value]="dep.id">{{dep.name}}</option>
            </select>
        </div>
        <div class="col-sm-6 form-group">
            <label>Location</label>
            <select class="form-control" #searchLocation  id="searchLocation" name="searchLocation" [(ngModel)]="filterObject.searchLocation">
                <option value="0">--Select Location--</option>
                <option *ngFor="let loc of allLocation;" [value]="loc.id">{{loc.location_name}}</option>
            </select>
        </div>
        <div class="col-sm-6 form-group">
            <label>Job Role</label>
            <select class="form-control" #searchJobRole  id="searchJobRole" name="searchJobRole"   [(ngModel)]="filterObject.searchJobRole">
                <option value="0">--Select Role--</option>
                <option *ngFor="let job of allJobRole;" [value]="job.id">{{job.name}}</option>
            </select>
        </div>
        <div class="col-sm-6 form-group">
            <label>Grade</label>
            <select class="form-control" #saerchGrade  id="saerchGrade" name="saerchGrade"  [(ngModel)]="filterObject.saerchGrade">
                <option value="0">--Select Grade--</option>
                <option *ngFor="let gra of allGrade;" [value]="gra.id">{{gra.name}}</option>
            </select>
        </div>
        <div class="col-sm-6 form-group">
            <label>Salary Scale</label>
            <select class="form-control" #salaryscaleId  id="salaryscaleId" name="salaryscaleId"  [(ngModel)]="filterObject.salaryscaleId">
               <option value="0">--Select Scale--</option>
                <option *ngFor="let sal of allsalaryScale;" [value]="sal.id">{{sal.name}}</option>
            </select>
        </div>
        <div class="col-sm-6 form-group" style="padding-top:26px">
            <button [disabled]="disableSearchBtn" *ngIf="!searchbtnclicked" (click)="getallemployee()" nbButton status='primary' style="min-width: unset !important;">Search</button>
            <button *ngIf="searchbtnclicked" nbButton status='primary' style="min-width: unset !important;">Processing&nbsp;<i class="fa fa-spin fa-spinner"></i></button>
        </div>
    </div>
    </form>
    </div>
</div>
  </ngx-side-modal>

