<ngx-componentsheader [showbackbutton]="true" (backbuttonClick)="goback()" pageName='Payroll Type Setup' >
</ngx-componentsheader>
<nb-card style="margin-top: 3rem;">
    <nb-card-body>
        <form id="payScaleForm" name="payScaleForm" #payScaleForm="ngForm">
            <div class="form-group row">
                <label for="Institution Name" class="label col-sm-3 col-form-label listsubheader">Scale Name</label>
                <div class="col-sm-9">
                    <input [(ngModel)]="ManagePayrollType.name" name="name" id="name" #name="ngModel" type="text" nbInput fullWidth placeholder="Scale Name" required>
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
                        <div *ngIf="name.errors.required">Scale name is required</div>
                      </div>
                </div>

            </div>
 

            <!-- <div class="form-group row">
                <label for="Element Type" class="label col-sm-3 col-form-label listsubheader">Pay
                    Element</label>
                <div class="col-sm-5">
                    <select aria-placeholder="select" [(ngModel)]="selElem" name="selectedElem" class="form-control">
                        <option >--Select Element--</option>
                        <option [value]="payel.id" *ngFor="let payel of payElement">{{payel.text}}</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <button   outline="true" (click)="addPayElement(selElem)"   nbButton status="primary" class="d-flex column" >  
                        <nb-icon  icon="plus"></nb-icon>&nbsp;Add 
                    </button>
       
                </div>
        

            </div>

            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">         
                        <div class="cbadge" style="width: fit-content;margin-right: 5px;" *ngFor="let list of ElementList">
                            {{list.text}}&nbsp;
                            <i class="fa fa-times" style="color: red;cursor: pointer;" (click)="onDelete(list)"></i>
                        </div>            
              
                </div>

            </div> -->

            <div class="form-group row">
                <label for="Element Type" class="label col-sm-3 col-form-label listsubheader">Pay Frequency</label>
                <div class="col-sm-9">
                    <select aria-placeholder="select" [(ngModel)]="ManagePayrollType.frequencyRuleId" name="frequencyRuleId" id="frequencyRuleId" #frequencyRuleId="ngModel" class="form-control" required>
                        <option >--Select Frequency--</option>
                        <option [(value)]="freq.id" *ngFor="let freq of allfrequency">{{freq.name}}</option>

                    </select>
                    <div *ngIf="frequencyRuleId.invalid && (frequencyRuleId.dirty || frequencyRuleId.touched)" class="error">
                        <div *ngIf="frequencyRuleId.errors.required">Pay frequency is required</div>
                      </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="Element Type" class="label col-sm-3 col-form-label listsubheader">First Period End Date</label>
                <div class="col-sm-9">
                    <ngx-date [(value)]="ManagePayrollType.firstPeriodEndDate" name="firstPeriodEndDate" #firstPeriodEndDate id="firstPeriodEndDate" ></ngx-date>
                </div>
            </div>
            <div class="form-group row">
                <label for="Element Type" class="label col-sm-3 col-form-label listsubheader">Effective Date</label>
                <div class="col-sm-9">
                    <ngx-date [(value)]="ManagePayrollType.effectiveDate" name="effectiveDate" #effectiveDate id="effectiveDate" ></ngx-date>
                </div>
            </div>

            <div class="form-group row">
                <label for="Element Type" class="label col-sm-3 col-form-label listsubheader">Employee</label>
                <div class="col-sm-9">
                    <ngx-employee-master-search [clearFlag]="master_search_clear_flag"   (masterSubmitted)="getSelectedEmployee($event);" [allowmultipleselection]="allowmultipleselection" [selectionHeader]="selectionHeader" [addbtnText]="addbtnText"></ngx-employee-master-search>
                </div>
              
            </div>
        </form>
        <div  >
        <div class="form-group row" style="margin-top: 2rem; margin-bottom: 1rem;">
            <label for="Account Number" class="label col-sm-3 col-form-label listsubheader"></label>
            <div class="col-sm-8 d-flex">
                <ngx-loadable-button [loading]="loadingPayScale" [disabled]="payScaleForm.invalid" (click)="savePayrollScale()" >
                    Submit
                  </ngx-loadable-button> 
                <button nbButton outline status="primary" [routerLink]="['/payroll/payscaletable']"   class="d-flex column"
                    style="background-color: white; margin-left: 2rem;">Cancel</button>
               
    
    
            </div>
        </div>       
            
    </div>
    <div *ngIf="existingPayType">
        <ngx-default-content *ngIf="showEmpty" pageHeader="Pay Type Employee"
        pageDescription="No Record Found"  [loading]="loadingeXistingType"
      >
        </ngx-default-content>
        <ngx-tablecomponent *ngIf="!showEmpty"  [showActions]="true"
        [showFilter]="false" (actionClick)="tableActionClicked($event)" [actions]="tableActions" [userData]="employees"
        [tableColum]="tableColumns" [totalItems]="totalItems" [currentPage]="currentPage" [loading]="loadingeXistingType">
        </ngx-tablecomponent>
    </div>
    </nb-card-body>

  


 
</nb-card>

