<div class="card">

    <nb-card>

        <div class="row human">
            <!--
                 <div class="col-lg-3 col-sm-6 col-xxxl-3"><img src="assets/images/nick.png" width="40%" style="background-size: cover;
          margin-top: 20px; margin-left: 50px;" class="rounded-circle mb-1" alt="Cinque Terre">
            <br>
          </div> <div class="col-lg-3 col-sm-6 col-xxxl-3">
                <div class="d-flex mt-4" style="margin-left: 15px;">
                    <div class="ml-2">
                        <h6 class="profileName">Sherif Shorunke</h6>
                        <span style="font-size: x-small;"><a href="#">Change Avatar</a></span>
                    </div>
    
    
                </div>
                <div class="d-flex mt-3" style="margin-left: 15px;">
                    <div class="ml-2">
                        <i class="fas fa-envelope"></i> <span style="font-size: 14px; padding-left: 5px;">Email</span>
                        <h6 style="font-size: x-small;">sherif@smartace.ng</h6>
                    </div>
                </div>
            </div>
    
    
            
            <div class="col-lg-3 col-sm-6 col-xxxl-3">
                <div class="d-flex mt-4" style="margin-left: 15px;">
                    <div class="ml-2">
                        <i class="fas fa-phone"></i><span style="font-size: 14px; padding-left: 5px;">Phone</span>
                        <h6 style="font-size: x-small;">+234-9078654783</h6>
                    </div>
    
                </div>
                <div class="d-flex mt-4" style="margin-left: 15px;">
                    <div class="ml-2">
                        <i class="fas fa-map-marker"></i> <span style="font-size: 14px; padding-left: 5px;">Address</span>
                        <h6 style="font-size: x-small;">56 Joseph Harden street. Lagos, Nigeria.</h6>
                    </div>
                </div>
            </div>
    
    
             <div class="col-lg-3 col-sm-6 col-xxxl-3">
                <div class="d-flex mt-4" style="margin-left: 15px;">
                    <div class="ml-2">
                        <i class="fas fa-link"></i> <span style="font-size: 14px; padding-left: 5px;">Website</span>
                        <h6 style="font-size: x-small;">giname.com</h6>
                    </div>
    
                </div>
                <div class="d-flex mt-4" style="margin-left: 15px;">
                    <div class="ml-2">
                        <i class="fab fa-linkedin-in"></i><span style="font-size: 14px; padding-left: 5px;">LinkedIn</span>
                        <h6 style="font-size: x-small;">@ginagee</h6>
                    </div>
                </div>
            </div>
    
    
    
            
    
            -->



            <div class="container">
                <div>
                    <header style="font-weight: bold;">HUMAN RESOURCES MANAGER</header>
                </div>
                <div class="need">
                    <p>Products</p>
                    <p style="margin-left: 0.27rem;">.Nigeria</p>
                    <p style="margin-left: 0.27rem;">.Part Time</p>
                </div>
            </div>




        </div>
    </nb-card>


    <!-- Work Experience -->

    <div class="row">
        <div class="col-md-8 col-xxl-8">
            <nb-card>
                <nb-card-body>
                    <div>
                        <div
                            style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                            <div style="flex: auto; display: flex;padding-top: 15px;">
                                <p style=" text-transform: uppercase; font-weight: bold;">Job Description
                                </p>
                            </div>
                            <!-- <button outline='true' nbButton status="primary" style="min-width: unset !important;">
                                <nb-icon icon="plus"></nb-icon>&nbsp;Add
                                 class="listsubheader"
                            </button> -->



                        </div>
                    </div>
                    <span style="padding: 10px;"></span>

                    <div class="WorkExperience">
                        <!--  <div style="display: flex;flex-direction: row;justify-self: center;">
                            <div style="flex: auto;"><span class="employmentDate">Jan 2007 - Feb 2013</span></div>
                            <div><a href="#">Edit</a><span style="padding:3px"></span><a href="#">Delete</a></div>
                        </div>
    -->

                        <div class="row">
                            <div class="col-lg-8 way">
                                <p>
                                    HT has been long established fact that a reader will be distracted by the readable
                                </p>
                                <p>
                                    content of page when looking at its layout. The point of using Lorem Ipsum is that
                                    <span>it has a more-or-less normal distribution of letters,</span>
                                </p>
                                <p>
                                    An oppose to using 'Content here, content here; making it look like readable a
                                    English
                                </p>
                                <p>
                                    Ht has been long established fact that a reader will be distracted by the readable
                                    <span>English</span>
                                </p>
                                <p>
                                    Ht has been long established fact that a reader will be distracted by the readable
                                    <span>English</span>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div>
                        <div
                            style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                            <div style="flex: auto; display: flex;padding-top: 15px;">
                                <p style=" text-transform: uppercase; font-weight: bold;">Job Description
                                </p>
                            </div>
                            <!-- <button outline='true' nbButton status="primary" style="min-width: unset !important;">
                                <nb-icon icon="plus"></nb-icon>&nbsp;Add
                                 class="listsubheader"
                            </button> -->



                        </div>
                    </div>
                    <span style="padding: 10px;"></span>

                    <div class="WorkExperience">
                        <!--  <div style="display: flex;flex-direction: row;justify-self: center;">
                            <div style="flex: auto;"><span class="employmentDate">Jan 2007 - Feb 2013</span></div>
                            <div><a href="#">Edit</a><span style="padding:3px"></span><a href="#">Delete</a></div>
                        </div>
    -->

                        <div class="row">
                            <div class="col-lg-8 way">

                                <p>
                                    An oppose to using 'Content here, content here; making it look like readable a
                                    English
                                </p>
                                <p>
                                    An oppose to using 'Content here, content here;
                                </p>

                                <p>
                                    <span>
                                        An oppose to using 'Content here, content here;making it look like readable a
                                        English
                                    </span>

                                </p>

                                <p>
                                    <span>
                                        An oppose to using 'Content here, content here;making it look like readable a
                                        English
                                    </span>

                                </p>

                            </div>
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>



        </div>


        <!-- Evaluation Score Panel -->
        <div class="col-md-4 col-xxl-4">
            <div class="row">
                <div class="col-md-12 col-xxl-12">
                    <nb-card>
                        <nb-card-body>
                            <div>
                                <div
                                    style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                                    <div
                                        style="flex: auto; display: flex;padding-top: 15px; background-color: #4847E0; padding: 2rem;">
                                        <p style="color: white !important; text-transform: uppercase; font-size: large;"
                                            class="listsubheader">Job Summary</p>
                                    </div>

                                </div>


                            </div>
                            <span style="padding: 20px;"></span>
                            <div>
                                <div
                                    style="display: flex; flex-direction: column; justify-content: center; padding: 20px; background: rgba(72, 71, 224, 0.04);">
                                    <!-- <div style="align-self: center; align-items: center; justify-content: center; padding: 20px;"> -->
                                    <div
                                        style="font-size: large; padding-top: 30px;  align-self: start; display: flex;flex-wrap: wrap;">
                                        <div>
                                            <i class="fas fa-boxes"></i>
                                        </div>
                                        <div style="margin-left: 1rem;">
                                            &#8358;250,000
                                        </div>
                                    </div>


                                    <div
                                        style="font-size: large; padding-top: 30px;  align-self: start; display: flex;flex-wrap: wrap;">
                                        <div>
                                            <img style="height: 25px;" src="assets/icons/officelocation.jpg" alt="">
                                        </div>
                                        <div style="margin-left: 1rem; font-weight: bold;">
                                            Lagos
                                        </div>
                                    </div>



                                    <div
                                        style="font-size: large; padding-top: 30px;  align-self: start; display: flex;flex-wrap: wrap;">
                                        <div>
                                            <img style="height: 25px;" src="assets/icons/NumberofShifts.jpg" alt="">
                                        </div>
                                        <div style="margin-left: 1rem; font-weight: bold;">
                                            3 Months ago
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12 col-xxl-12">
                    <nb-card-header>
                        <span>Reviewers</span>
                    </nb-card-header>
                    <div>
                        <div>
                            <ngx-employee-list></ngx-employee-list>
                            <!-- <button (click)="showMasterSearchModal()" class="underlined-button">Edit</button> -->
                        </div>
                    </div>
                </div>
            </div>


            <div style="margin-top: 2rem; font-size: larger;">
                <nb-card-header>
                    <span
                        style="font-weight: bold; padding: 1rem; margin-top: 2rem; font-size: larger;">ScoreCard</span>
                </nb-card-header>


            </div>


            <button nbButton outline status="primary" class="d-flex column"
                style="background-color: white; border: none; text-decoration: underline;">Product ScoreCard</button>


            <div style="display: flex; justify-content: flex-end; margin: 1rem; margin-top: 14rem;">
                <button nbButton status='primary' style="margin-right: 0.5rem;">Edit </button>
                <button nbButton status='primary' outline style="background: transparent;">Close</button>
            </div>
        </div>



    </div>

    <!-- Education Panel -->
    <div class="col-md-8 col-xxl-8">

    </div>

    <!-- Document Panel -->
    <div class="col-md-8 col-xxl-8">

    </div>

    <!-- References Panel -->

    <div class="col-md-8 col-xxl-8">
 
 </div>