
<ngx-componentsheader pageName='Payroll Type' [requiredButton]="topActionButtons" (buttonClick)='modal($event)'>
</ngx-componentsheader>

<nb-card>
    <nb-card-body>
        <ngx-default-content *ngIf="showEmpty" pageHeader="Pay Scale"
        pageDescription="No Record Found"  [loading]="loadingPayScale"
      >
        </ngx-default-content>
        <ngx-tablecomponent *ngIf="!showEmpty" (filterChange)="filterUpdated($event)" [showActions]="true"
        [showFilter]="true" (actionClick)="tableActionClicked($event)" [actions]="tableActions" [userData]="PayTypedata"
        [tableColum]="tableColumns" [totalItems]="totalItems" [currentPage]="currentPage" [loading]="loadingPayScale">
        </ngx-tablecomponent>

    </nb-card-body>
</nb-card>


