
<ngx-componentsheader pageName='Pay Scale' [requiredButton]="topActionButtons" (buttonClick)='modal($event)'>
</ngx-componentsheader>

<ngx-tablecomponent [tableColum]="tableColumns"  (actionClick)="tableActionClicked($event)"[userData]='data' [tableColum]="tableColumns" [actions]='tableActions'>
</ngx-tablecomponent>

<!-- delete modl -->
<ngx-side-modal [(show)]="showdeleteModal">
    <div modal-header></div>
    <div modal-body>
        <nb-card>
           
            <nb-card-body>
                <div>
                    <div
                        style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                        <div style="flex: auto; display: flex;padding-top: 15px;">
                            <p style=" text-transform: uppercase; font-weight: bold;">Delete Pay Element
                            </p>
                        </div>



                    </div>
                </div>


                <span style="padding: 10px;"></span>

                <span></span>
               
                <div>
                    <p>
                        Are you sure you want to delete this item? this will no longer be
                    </p>
                    <p>
                        accesible.
                    </p>

                </div>


                <div modal-actions class="d-flex" style="margin-top: 10rem;   margin-left: 8rem;">

                    <button nbButton status="primary" class="d-flex column" style="margin-left: -4rem;">Delete</button>
                    <button nbButton outline status="primary" class="d-flex column"
                        style="background-color: white; margin-left: 1.2rem;">Cancel</button>

                </div>
            </nb-card-body>


        </nb-card>

    </div>



</ngx-side-modal>
