<ngx-componentsheader pageName="Manage Employee" [requiredButton]="topActionButtons"
  (buttonClick)="pageActionClicked($event)"></ngx-componentsheader>
<div class="main-page-container">
  <span style="cursor: pointer;"><a (click)="goback()"><i class="far fa-arrow-alt-circle-left" style="margin-right: 3px;"></i>Back</a></span>
  <nb-tabset (changeTab)="selectTab($event)">
    <nb-tab tabTitle="" [tabId]="TABS.NOT__COMPLETED"> </nb-tab>
    <nb-tab tabTitle="" [tabId]="TABS.COMPLETED"> </nb-tab>
  </nb-tabset>
  <ngx-tableheader *ngIf="!showEmpty"></ngx-tableheader>
  <ngx-default-content *ngIf="showEmpty" pageHeader="let's set up your expenses" [loading]='loading'
    pageDescription="Now, you can add your request" buttonValue="Add expense request"
    (buttonClick)="createNewClicked()">
  </ngx-default-content>
  <ngx-tablecomponent *ngIf="!showEmpty"  [tableColum]="tableColumns" [userData]="EmployeeBenefit" [loading]="loading"
    (pageChange)="loadNewPage($event)" [actions]="tableActions"
    (actionClick)="tableActionClicked($event)"></ngx-tablecomponent>
</div>
<!--
<ngx-tablecomponent [tableColum]="tableColumns" [userData]=" Eligibility" [loading]="loading"
(pageChange)="loadNewPage($event)" [loading]="loading" [totalItems]="totalItems" [loading]="loading"
[currentPage]="currentPage" [actions]="tableActions" (actionClick)="tableActionClicked($event)">
 [totalItems]="totalItems"
 *ngIf="!showEmpty"
</ngx-tablecomponent> -->
