<ngx-componentsheader pageName='Succession Dashboard'></ngx-componentsheader>
<div>
  <nb-card *ngIf="employeeDataCount < 1">
    <nb-card-body>
      <ngx-default-content pageHeader={{myPlanHeader}} pageDescription="{{myPlanDesc}}" buttonValue={{myButton}}
          (buttonClick)="toggleToCreatePlan()"></ngx-default-content>
    </nb-card-body>
  </nb-card>

  <nb-card *ngIf="employeeDataCount > 0">
    <nb-card-body>
      <ngx-tableheader></ngx-tableheader>
      <ngx-tablecomponent [loading]='loading'
      [tableColum]="dashboardTable"
      [userData]='allEmployeesData'
      [actions]='tableActions'
      (actionClick)="tableActionClicked($event)"></ngx-tablecomponent>
    </nb-card-body>
  </nb-card>
</div>


<ngx-side-modal [(show)]='newPlan' style="width: 500px;">
  <div modal-header>Create Succession Plan</div>
  <div class="row" modal-body style="padding: 5px;">
      <div class="form-group row">
        <div class="col">
          <label>Title</label>
          <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="newSuccessionPlan.planTitle" required>
        </div>
      </div>

      <div class="form-group row">
       <div class="col">
        <label>Employee</label>
        <input type="text" class="form-control" name="employee" #employee="ngModel" [(ngModel)]="newSuccessionPlan.holderId" required>
       </div>
      </div>

      <div class="form-group row">
        <div class="col">
         <label>Position</label>
         <input type="text" class="form-control" name="position" #position="ngModel" [(ngModel)]="newSuccessionPlan.positionId" required>
        </div>
       </div>

       <div class="form-group row">
        <div class="col">
         <label>Successing Candidate</label>
         <input type="text" class="form-control" name="successingCandidate" #successingCandidate="ngModel" [(ngModel)]="newSuccessionPlan.successionEmployee" required>
        </div>
       </div>

       <div class="form-group row">
        <div class="col">
         <label>Readiness to start</label>
         <select type="text" class="custom-select" name="readiness" required>
           <option value="">--Select--</option>
           <option *ngFor="let readiness of readinessToStart" [value]="readiness.name">{{ readiness.title }}</option>
         </select>
        </div>
       </div>


       <div class="form-group row">
        <div class="col">
         <label>Purpose</label>
         <select type="text"  class="custom-select" name="purpose" #purpose="ngModel" [(ngModel)]="newSuccessionPlan.purpose">
          <option value="">--Select--</option>
          <option *ngFor="let purpose of allPurposes" [value]="purpose.name">{{purpose.title}}</option>
        </select>
        </div>
       </div>

      <div class="form-group row" style="margin-top: 20px">
       <div class="col">
        <button nbButton status="primary" (click)="createSuccessionPlan()">Modify</button>
       </div>
      </div>
  </div>
  </ngx-side-modal>

