<ngx-componentsheader
  pageName="All Loan Requests"
  [requiredButton]="[{name: 'newRequest', label: 'New Request'}]"
  (buttonClick)="addRequest()"
></ngx-componentsheader>

<div *ngIf="loansCounter < 1" style="background-color: #ffffff;">
  <nb-card>
    <nb-card-body>
      <div><br>
        <ngx-default-content [pageHeader]="myHeader" [loading]='loading' [pageDescription]="myDescription" [buttonValue]="myButton" (buttonClick)="addRequest()">
        </ngx-default-content>
      </div>
    </nb-card-body>
  </nb-card>

</div>

<div *ngIf="loansCounter > 0">
  <nb-card>
    <nb-card-body>
      <ngx-tableheader></ngx-tableheader>
      <ngx-tablecomponent [loading]='loading' [userData]='allLoansData' [actions]='tableActions' (actionClick)="tableActionClicked($event)" [tableColum]="loanRequestTable"></ngx-tablecomponent>
    </nb-card-body>
  </nb-card>
</div>
