<!-- <div class="container"> -->
  <div class="wrapper">
    <div class="flex-child col-md-2 col-lg-2">
      <h6>Add a keyword</h6>
      <span>Create a keyword and never miss a posting</span>
      <div style="padding: 5px;"></div>
      <div class="form-group">
        <input type="text" nbInput fullWidth id="keyword" placeholder="Enter Keyword">
      </div>
      <div style="padding: 5px;"></div>
      <button type="button" nbButton status="primary">Add</button>
      <div style="padding: 20px;"></div>
      <div class="employment-type">
        <h6>Type of Employment</h6>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Full Time</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Part Time</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Remote</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label" for="customCheck1">Contract</label>
        </div>
        <div style="padding: 30px;"></div>

        <div class="level">
          <h6>Type of Employment</h6>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Entry Level</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Mid Level</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Intermediate Level</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Senior Level</label>
          </div>
        </div>
        <div style="padding: 30px;"></div>


        <div class="industry">
          <h6>Type of Employment</h6>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Banking</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Oil & Gas</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Technology</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Finannce</label>
          </div>
        </div>
      </div>

    </div>
    <div class="flex-child" style="width: 80%;">
      <div class="profile">
        <div class="text-wrap">
          <h6>Complete your profile</h6>
          <p>Fill in your details to make your application process faster.</p>
        </div>
        <div class="text-wrap">
          <button class="btn" style="color: #4847E0; background: rgba(72, 71, 224, 0.08); border-radius: 4px;">Continue</button>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->
