.center{
    display: flex; flex-direction: column; justify-content: center;
    height: max-content;
    align-self: center;
    padding: 0px;
}

.center>.header-space{
    display: none;
}

.my-modal{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #ff01;
    display: flex;
    transition-property: visibility;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 2s;
}

.modal-p{
    transition: display 5s 5s;
}

.hide-modal{
    visibility: hidden;
}

.show-modal{
    visibility: visible;
    transition-property: visibility;
    transition-duration: 0s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

.hide-modal > .modal-p{
    width: 0px;
}
.show-modal > .modal-p{
    width: 30vw;
}

.show-modal > .modal-p.center{
    width: max-content;
    max-width: 70vw;
    max-height: 70vh;
    overflow: scroll;
}

.modal-p{
    transition: width 2s;
}

.header{
    background-color: #F5F5FA;
    padding: 20px;
}

.modal-p > *{
    padding: 20px;
}

.actions button{
    margin: 20px;
}

div::-webkit-scrollbar {
    width: 1px;
  }
   
div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

div::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}