<ngx-componentsheader
  pageName="Key Result Areas"
  [requiredButton]="topActionButtons"
  (buttonClick)="pageActionClicked($event)"
></ngx-componentsheader>
<div class="main-page-container">
  <ngx-tableheader *ngIf="!showEmpty"></ngx-tableheader
  ><ngx-default-content
    *ngIf="showEmpty"
    pageHeader=""
    pageDescription="No KRA to review right now"
    buttonValue=""
    (buttonClick)="createNewClicked()"
    [loading]="loading"
  >
  </ngx-default-content>
  <ngx-tablecomponent
    *ngIf="!showEmpty"
    [tableColum]="tableColumns"
    [actions]="tableActions"
    [userData]="tableData"
    [loading]="loading"
    (pageChange)="loadNewPage($event)"
    (actionClick)="tableActionClicked($event)"
  ></ngx-tablecomponent>
</div>
