<ngx-componentsheader [pageName]="pageName">
<div headerButton style="display: flex; flex-direction: row;" >
  <button   nbButton status="primary" (click)="AddNewDiscipline()" class="d-flex column">
    {{IsReward? 'Reward':'Discipline'}}</button>
</div>
</ngx-componentsheader>
<div class="main-page-container">
  <ngx-tableheader *ngIf="!showEmpty"></ngx-tableheader
  ><ngx-default-content
    *ngIf="showEmpty"
    [pageHeader]="pageName"
    pageDescription="No Record Found"
  >
  </ngx-default-content>
  <ngx-tablecomponent
    *ngIf="!showEmpty"
    [tableColum]="tableColumns"
    [userData]="DisciplineManagementList"
    [loading]="loading"
    (filterChange)="filterUpdated($event)"
  ></ngx-tablecomponent>
</div>
