<ngx-componentsheader
  pageName="Disbursement Requests"
  [requiredButton]="[]"
></ngx-componentsheader>
<div class="main-page-container">
  <nb-tabset (changeTab)="selectTab($event)">
    <nb-tab tabTitle="All Requests" [tabId]="TABS.ALL_REQUESTS">
      <ngx-tableheader></ngx-tableheader>
       <ngx-tablecomponent [tableColum]="AllRequest" [userData]="allRequesttableData"></ngx-tablecomponent>
    </nb-tab>

    <nb-tab tabTitle="Disbursed" [tabId]="TABS.DISBURSED">
      <ngx-tableheader></ngx-tableheader>
      <ngx-tablecomponent [tableColum]="Disbursed" [userData]="disbursedTableData"></ngx-tablecomponent>
    </nb-tab>


    <nb-tab tabTitle="Pending" [tabId]="TABS.PENDING">
      <ngx-tableheader></ngx-tableheader>
       <ngx-tablecomponent [tableColum]="Pending" [userData]="pendingTableData"></ngx-tablecomponent>
    </nb-tab>
    <nb-tab tabTitle="Failed" [tabId]="TABS.FAILED">
      <ngx-tableheader></ngx-tableheader>
      <ngx-tablecomponent [tableColum]="Failed" [userData]="failedTableData"></ngx-tablecomponent>
    </nb-tab>
  </nb-tabset>

</div>
