<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div style="padding: 15px;"></div>
      <ngx-componentsheader [pageName]="title"></ngx-componentsheader>
      <div style="padding: 15px;"></div>
      <div></div>
      <div class="row">
        <div class="col-md-8" style="margin: 5px;" [ngSwitch]="selectedPanel">
          <!--Personal Information Panel ////////////////////////////////-->
          <div class="fmContainer" *ngSwitchCase="'personalInfoPanel'">
            <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px;">
              <p class="listsubheader"> {{subtitle}}</p>
              <p class="listsubheader">Input required Information in the fields below</p>
            </div>

            <div style="padding-top:3rem;">
              <form id="onBoardingForm" name="onBoardingForm" #onBoardingForm='ngForm'>
                <!-- <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">First Name</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="First Name" name="Firstname" #firstName="ngModel"
                      [(ngModel)]="InformationData.firstName" required>
                    <div *ngIf="firstName.invalid && (firstName.dirty ||firstName.touched)" class="error">
                      <div *ngIf="firstName.errors.required">Firstname name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Last Name</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Last Name" name="lastName" #lastName="ngModel"
                      [(ngModel)]="InformationData.lastName" required>
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error">
                      <div *ngIf="lastName.errors.required">Lastname is required</div>
                    </div>
                  </div>

                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Phone Number</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="phoneNumber" name="phoneNumber"
                      #phoneNumber="ngModel" [(ngModel)]="InformationData.phoneNumber" required>
                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="error">
                      <div *ngIf="phoneNumber.errors.required">phone number is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Date of Birth</label>
                  <div class="col-sm-8">
                    <ngx-date [(value)]='InformationData.dateOfBirth' #dateOfBirth name="dateOfBirth" id="dateOfBirth">
                    </ngx-date>
                    <div *ngIf="!validatedate" class="error">
                      <div> Date is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Email Address</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter Email" name="personalEmail"
                      #personalEmail="ngModel" [(ngModel)]="InformationData.personalEmail" required>
                    <div *ngIf="personalEmail.invalid && (personalEmail.dirty ||  personalEmail.touched)" class="error">
                      <div *ngIf="personalEmail.errors.required">Email is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Gender</label>
                  <div class="col-sm-8">
                    <select placeholder="Select Gender" name="genderId" #genderId="ngModel"
                      [(ngModel)]="InformationData.genderId" required>
                      <option value="">--Select Gender---</option>
                      <option *ngFor="let gend of allGender" [value]="gend.option_value">{{gend.option_text}}</option>
                    </select>

                    <div *ngIf="genderId.invalid && (genderId.dirty || genderId.touched)" class="error">
                      <div *ngIf="genderId.errors.required">Gender is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Address</label>
                  <div class="col-sm-8">
                    <textarea rows="5" [(ngModel)]="InformationData.residentialAddress" nbInput fullWidth
                      placeholder="Address" name="residentialAddress" #residentialAddress="ngModel"></textarea>
                    <div *ngIf="residentialAddress.invalid && (residentialAddress.dirty || residentialAddress.touched)"
                      class="error">
                      <div *ngIf="residentialAddress.required">Address is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">State</label>
                  <div class="col-sm-8">
                    <select  placeholder="Select State" name="Gender" #Gender="ngModel" [(ngModel)]="InfoData.Gender" >
                      <option value="">--Select State--</option>
                      <option  *ngFor="let state of allState" [value]="state.id">{{state.state_name}}> </option>
                    </select> 
                  </div>
                </div> 
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Country</label>
                  <div class="col-sm-8">
                    <textarea rows="5" nbInput fullWidth placeholder="Country"></textarea>
                  </div>
                </div> 

                <div class="form-group row">
                  <div class="offset-sm-4 col-sm-8">
                    <button *ngIf="submitbtnPressed" nbButton status="primary" class="d-flex column">Processing &nbsp;
                      <i class="fa fa-spin fa-spinner"></i></button>
                    <button type="submit" nbButton status="primary" *ngIf="!submitbtnPressed" [di]="!formvalidate"
                      (click)="proceedtoworkInfo()">Proceed {{formvalidate}}</button>
                  </div>
                </div>  -->


                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">First Name</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="First Name" name="Firstname" #firstName="ngModel"
                      [(ngModel)]="UserData.firstName" required>
                    <div *ngIf="firstName.invalid && (firstName.dirty ||firstName.touched)" class="error">
                      <div *ngIf="firstName.errors.required">Firstname name is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Last Name</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Last Name" name="lastName" #lastName="ngModel"
                      [(ngModel)]="UserData.lastName" required>
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error">
                      <div *ngIf="lastName.errors.required">Lastname is required</div>
                    </div>
                  </div>

                </div>


                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Phone Number</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="phoneNumber" name="phoneNumber"
                      #phoneNumber="ngModel" [(ngModel)]="UserData.phoneNumber" required>
                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="error">
                      <div *ngIf="phoneNumber.errors.required">phone number is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Date of Birth</label>
                  <div class="col-sm-8">
                    <ngx-date [(value)]='UserData.dateOfBirth' #dateOfBirth name="dateOfBirth" id="dateOfBirth">
                    </ngx-date>
                    <div *ngIf="!validated" class="error">
                      <div> Date is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Default Mobile</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="defaultMobile" name="defaultMobile"
                      #defaultMobile="ngModel" [(ngModel)]="UserData.defaultMobile" required>
                    <div *ngIf="defaultMobile.invalid && (defaultMobile.dirty || defaultMobile.touched)" class="error">
                      <div *ngIf="defaultMobile.errors.required"> Default phone number is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Marital Status</label>
                  <div class="col-sm-8">

                    <select placeholder="Select martialStatus"  class="form-control" name="martialStatusId" #martialStatusId="ngModel"
                      [(ngModel)]="UserData.martialStatusId" required>
                      <option value="">--Select Marital Status---</option>
                      <option *ngFor="let stat of Marital" [value]="stat.option_value">{{stat.option_text}}
                      </option>
                    </select>
                    <div *ngIf="martialStatusId.invalid && (martialStatusId.dirty || martialStatusId.touched)"
                      class="error">
                      <div *ngIf="martialStatusId.errors.required">Marital status is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Religion</label>
                  <div class="col-sm-8">

                    <select placeholder="Select religion" class="form-control" name="religionId" #religionId="ngModel"
                      [(ngModel)]="UserData.religionId" required>
                      <option value="">--Select Marital Status---</option>
                      <option *ngFor="let religion of Religion" [value]="religion.option_value">{{religion.option_text}}
                      </option>
                    </select>
                    <div *ngIf="religionId.invalid && (religionId.dirty || martialStatusId.touched)" class="error">
                      <div *ngIf="religionId.errors.required">religion is  is required</div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Gender</label>
                  <div class="col-sm-8">
                    <select placeholder="Select Gender" class="form-control" name="genderId" #genderId="ngModel"
                      [(ngModel)]="UserData.genderId" required>
                      <option value="">--Select Gender---</option>
                      <option *ngFor="let gender of allGender"[value]="gender.option_value">{{gender.option_text}}
                      </option>
                    </select>
                    <div *ngIf="genderId.invalid && (genderId.dirty || genderId.touched)" class="error">
                      <div *ngIf="genderId.errors.required">Gender is required</div>
                    </div>
                  </div>
                </div>


                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Email Address</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter Email" name="personalEmail"
                      #personalEmail="ngModel" [(ngModel)]="UserData.personalEmail" required>
                    <div *ngIf="personalEmail.invalid && (personalEmail.dirty ||  personalEmail.touched)" class="error">
                      <div *ngIf="personalEmail.errors.required">Email is required</div>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Address</label>
                  <div class="col-sm-8">
                    <textarea rows="5" [(ngModel)]="UserData.residentialAddress" nbInput fullWidth placeholder="Address"
                      name="residentialAddress" #residentialAddress="ngModel"></textarea>
                    <div *ngIf="residentialAddress.invalid && (residentialAddress.dirty || residentialAddress.touched)"
                      class="error">
                      <div *ngIf="residentialAddress.required">Address is required</div>
                    </div>
                  </div>
                </div>
                <div style="padding-top: 1rem;"></div>
                <!-- <p class="header6-medium">Educational Information</p> -->

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Field of Study</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="fieldOfStudy" name="fieldOfStudy"
                      #fieldOfStudy="ngModel" [(ngModel)]="UserData.fieldOfStudy" required>
                    <div *ngIf="fieldOfStudy.invalid && (fieldOfStudy.dirty || fieldOfStudy.touched)" class="error">
                      <div *ngIf="fieldOfStudy.errors.required">fieldOfStudy is required</div>
                    </div>
                  </div>
                </div> 

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Degree</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Degree" name="degree" #degree="ngModel"
                      [(ngModel)]="UserData.degree" required>
                    <div *ngIf="degree.invalid && (degree.dirty || degree.touched)" class="error">
                      <div *ngIf="degree.errors.required">Degree is required</div>
                    </div>
                  </div>
                </div>

                <!-- <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Date of
                    Completion</label>

                  <div class="col-sm-8">
                    <ngx-date [(value)]='UserData.dateofCompletion' #dateofCompletion name="date of Completion"
                      id="dateofCompletion">
                    </ngx-date>
                    <div *ngIf="!validatedata" class="error">
                      <div> Date is required</div>
                    </div>
                  </div>

                </div> -->

                <!-- <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">CGPA</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter cgpa" name="cgpa" #cgpa="ngModel"
                      [(ngModel)]="UserData.cgpa" required>
                    <div *ngIf="cgpa.invalid && (cgpa.dirty || cgpa.touched)" class="error">
                      <div *ngIf="cgpa.errors.required">cgpa is required</div>
                    </div>

                  </div>
                </div> -->



                <!-- <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Institution</label>
                  <div class="col-sm-8">
                    <select placeholder="Select institution" name="institutionId" #institutionId="ngModel"
                      [(ngModel)]="UserData.institutionId" required>
                      <option value="">--Select Institution---</option>
                      <option *ngFor="let institute of Institution" [value]="institute.id">{{institute.name}}
                      </option>
                    </select>
                    <div *ngIf="institutionId.invalid && (institutionId.dirty || institutionId.touched)" class="error">
                      <div *ngIf="institutionId.errors.required">Institution is required</div>
                    </div>
                  </div>
                </div> -->

                <!-- <div style="padding-top: 1rem;"></div>
                <p class="header6-medium">Next of Kin</p>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Full Name</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter Next Of Kin" name="nextOfKinFullName"
                      #nextOfKinFullName="ngModel" [(ngModel)]="UserData.nextOfKinFullName" required>
                    <div *ngIf="nextOfKinFullName.invalid && (nextOfKinFullName.dirty || nextOfKinFullName.touched)"
                      class="error">
                      <div *ngIf="nextOfKinFullName.errors.required">nextOfKinFullName is required</div>
                    </div>

                  </div>
                </div> -->
                <!-- <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Relationship</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter Next Of Kin" name="netofKinRelationship"
                      #netofKinRelationship="ngModel" [(ngModel)]="UserData.netofKinRelationship" required>
                    <div
                      *ngIf="netofKinRelationship.invalid && (netofKinRelationship.dirty || netofKinRelationship.touched)"
                      class="error">
                      <div *ngIf="netofKinRelationship.errors.required">netofKinRelationship is required</div>
                    </div>

                  </div>
                </div> -->
                <!-- <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Phone Number</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter next of nextofKinPhoneNumber"
                      name="nextofKinPhoneNumber" #nextofKinPhoneNumber="ngModel"
                      [(ngModel)]="UserData.nextofKinPhoneNumber" required>
                    <div
                      *ngIf="nextofKinPhoneNumber.invalid && (nextofKinPhoneNumber.dirty || nextofKinPhoneNumber.touched)"
                      class="error">
                      <div *ngIf="phoneNumber.errors.required">phone number is required</div>
                    </div>
                  </div>
                </div> -->
                <!-- <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Address</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Enter next of nextofKinAddress"
                      name="nextofKinAddress" #nextofKinAddress="ngModel" [(ngModel)]="UserData.nextofKinAddress"
                      required>
                    <div *ngIf="nextofKinAddress.invalid && (nextofKinAddress.dirty || nextofKinAddress.touched)"
                      class="error">
                      <div *ngIf="nextofKinAddress.errors.required">next of Kin is required</div>
                    </div>
                  </div>
                </div> -->
                <div class="form-group row">
                  <div class="offset-sm-4 col-sm-8">
                    <button *ngIf="submitbtnPressed" nbButton status="primary" class="d-flex column"><i
                        class="fa fa-spin fa-spinner"></i>&nbsp;Processing ...</button>
                    <button type="submit" nbButton status="primary" *ngIf="!submitbtnPressed"
                      [disabled]="!formvalidated" (click)="proceedtoworkInfo()">Update Changes</button>
                  </div>
                </div>
              </form>
            </div>



          </div>

          <!--Work Information Panel ////////////////////////////////-->
          <div class="fmContainer" *ngSwitchCase="'workInfoPanel'">
            <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px;">
              <p class="listsubheader"> {{subtitle}}</p>
              <p class="listsubheader">Input required Information in the fields below</p>
            </div>

            <div style="padding-top:3rem;">
              <form>
                <!-- <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Hire Date</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Hire Date">
                  </div>
                </div> -->

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">OnBoarding Id</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter  onboardingId " name="onboardingId"
                      #onboardingId="ngModel" [(ngModel)]="workData.onboardingId" required>
                    <div *ngIf="onboardingId.invalid && (onboardingId.dirty ||  onboardingId.touched)" class="error">
                      <div *ngIf="onboardingId.errors.required"> onboardingId is required</div>
                    </div>


                  </div>
                </div> 


                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Hire Date</label>
                  <div class="col-sm-8">

                    <ngx-date [(value)]='workData.hireDate' #dateofJoining name="hireDate" id="hireDate">
                    </ngx-date>
                    <div *ngIf="!validdating" class="error">
                      <div> Date is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Date of joining</label>
                  <div class="col-sm-8">
                    <ngx-date [(value)]='workData.dateofJoining' #dateofJoining name="dateofJoining" id="dateofJoining">
                    </ngx-date>
                    <div *ngIf="!validdate" class="error">
                      <div> Date is required</div>
                    </div>


                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Salary per annum</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter salaryPerAnnum" name="salaryPerAnnum"
                      #salaryPerAnnum="ngModel" [(ngModel)]="workData.salaryPerAnnum" required>
                    <div *ngIf="salaryPerAnnum.invalid && (salaryPerAnnum.dirty || salaryPerAnnum.touched)"
                      class="error">
                      <div *ngIf="salaryPerAnnum.errors.required">salaryPerAnnum is required</div>
                    </div>

                  </div>
                </div>
               
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Designation</label>
                  <div class="col-sm-8">
                    <select placeholder="Select desginationId"  class="form-control" name="desginationId" #desginationId="ngModel"
                      [(ngModel)]="workData.desginationId" required>
                      <option value="">--Select Designation---</option>
                      <option *ngFor="let des of Designation" [value]="des.id">{{des.title}}
                      </option>
                    </select>

                    <div *ngIf="desginationId.invalid && (desginationId.dirty || desginationId.touched)" class="error">
                      <div *ngIf="departmentId.errors.required">Designation is required</div>
                    </div>

                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Employee type</label>
                  <div class="col-sm-8">


                    <select placeholder="Select employeeType" class="form-control" name="employeeTypeId" #employeeTypeId="ngModel"
                    [(ngModel)]="workData.employeeTypeId" required>
                    <option value="">--Select Manager---</option>
                    <option *ngFor="let dept of EployType" [value]="dept.option_value">{{dept.option_text}}
                    </option>
                  </select>

                  <div *ngIf="employeeTypeId.invalid && (employeeTypeId.dirty || employeeTypeId.touched)" class="error">
                    <div *ngIf="employeeTypeId.errors.required">employeeType is required</div>
                  </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1"  class="form-control" class="label col-sm-4 col-form-label listsubheader">Department</label>
                  <div class="col-sm-8">

                    <select placeholder="Select Gender" name="departmentId" #departmentId="ngModel"
                      [(ngModel)]="workData.departmentId" required>
                      <option value="">--Select Department---</option>
                      <option *ngFor="let dept of allDepartment" [value]="dept.option_value">{{dept.option_text}}
                      </option>
                    </select>

                    <div *ngIf="departmentId.invalid && (departmentId.dirty || departmentId.touched)" class="error">
                      <div *ngIf="departmentId.errors.required">Department is required</div>
                    </div>


                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Reporting Manager</label>
                  <div class="col-sm-8">
                    <select placeholder="Select Manager"  class="form-control"  name="reportingManagerId" #reportingManagerId="ngModel"
                    [(ngModel)]="workData.reportingManagerId" required>
                    <option value="">--Select Manager---</option>
                    <option *ngFor="let dept of Manager" [value]="dept.option_value">{{dept.option_text}}
                    </option>
                  </select>

                  <div *ngIf="reportingManagerId.invalid && (reportingManagerId.dirty || reportingManagerId.touched)" class="error">
                    <div *ngIf="reportingManagerId.errors.required">Department is required</div>
                  </div>

                   

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Location</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter location" name="location"
                      #location="ngModel" [(ngModel)]="workData.location" required>
                    <div *ngIf="location.invalid && (location.dirty ||location.touched)" class="error">
                      <div *ngIf="location.errors.required"> location is required</div>
                    </div>

                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Link Expiring Date</label>
                  <div class="col-sm-8">
                    <ngx-date [(value)]='workData.linkExpireDate' #linkExpireDate name="linkExpireDate" id="linkExpireDate">
                    </ngx-date>
                    <div *ngIf="!validdate" class="error">
                      <div> Date is required</div>
                    </div>


                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader">Work Email</label>
                  <div class="col-sm-8">

                    <input type="text" nbInput fullWidth placeholder="Enter location" name="workEmail"
                      #workEmail="ngModel" [(ngModel)]="workData.workEmail" required>
                    <div *ngIf="workEmail.invalid && (workEmail.dirty ||workEmail.touched)" class="error">
                      <div *ngIf="workEmail.errors.required"> location is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-sm-4 col-sm-8">
                    <button *ngIf="submitbtnPressed" nbButton status="primary" class="d-flex column">Processing &nbsp;
                      <i class="fa fa-spin fa-spinner"></i></button>
                    <button type="submit" nbButton status="primary" *ngIf="!submitbtnPressed"
                      (click)="proceedtoofferLetter()" [disabled]="! formvalidate">Proceed</button>
                  </div>
                </div>


               
              </form>
            </div>



          </div>

          <!--Offer Letter Panel ////////////////////////////////-->
          <div *ngSwitchCase="'offerletterPanel'">

            <div class="fmContainer">
              <!-- <div style="display: flex; flex-direction: row;">
                <div
                  style="border:  0.800000011920929px solid #CED4DA; padding: 10px;display: flex;align-items: center; border-radius: 5px;">
                  <img src="assets/icons/smartaceLogo.png" style="width:10.8125rem">
                </div>
                <div style="display: flex;align-items: center;padding-left:10px;">
                  <span class="a-normal" style="cursor: pointer;">Change Logo</span>
                </div>
              </div> -->

              <div [innerHTML]="prepareOffer.offerLetterContent">
              </div>
            </div>
            <div style="background-color:#EDF1F7 ;padding: 20px;"></div>
            <!-- <div class="fmContainer">
              <div style="padding-bottom: 10px;">
                <p class="listsubheader">Email Message</p>
              </div>

              <form>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-3 col-form-label listsubheader">Recipient Address</label>
                  <div class="col-sm-8">
                    <input type="text" nbInput fullWidth placeholder="Recipient Address">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-3 col-form-label listsubheader">Subject</label>
                  <div class="col-sm-8">
                  
                    
                    <input type="text" nbInput fullWidth placeholder="Enter subject " name="offerTitle"
                      #offerTitle="ngModel" [(ngModel)]=" OfferLetter.offerTitle" required>
                    <div *ngIf="offerTitle.invalid && (offerTitle.dirty || offerTitle.touched)"
                      class="error">
                      <div *ngIf=" offerTitle.errors.required"> subject is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail1" class="label col-sm-3 col-form-label listsubheader">Body</label>
                  <div class="col-sm-9">
                    <ngx-wysisyg-input [(value)]="prepareOffer.offerLetterContent" name="offerLetterContent"></ngx-wysisyg-input>
                    <div *ngIf="offerContent.invalid && (offerContent.dirty ||offerContent.touched)" class="error">
                      <div *ngIf="offerContent.errors.required"> location is required</div>
                    </div>

                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-sm-3 col-sm-8">
                    <button type="submit" nbButton status="primary" (click)="proceedfferLetter()">Send Offer</button>
                  </div>
                </div>
              </form>
            </div> -->
          </div>

        </div>
        <div class="col-md-3" style="margin: 5px;">
          <div class="fmContainer" style="padding:4rem 2rem 4rem 2rem;">
            <div style="padding-bottom: 10px;">
              <p class="header6-medium">Account Setup</p>
            </div>
            <div class="row">
              <div class="col-md-12 " style="display: flex;flex-direction: column;">
                <div style="display:flex;padding-bottom: 35px;">
                  <div
                    [ngClass]="{'q-connector': selectedPanel == 'personalInfoPanel','q-connector-inactive': selectedPanel != 'personalInfoPanel'}"
                    style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: 2px;">

                  </div>
                  <div (click)="gotoPanel('personalInfoPanel','Personal Information')"
                    style="width: 100%; padding: 1px 0px 0px 10px;cursor: pointer;">
                    Personal Information
                  </div>
                </div>

                <div style="display:flex;padding-bottom: 35px;">
                  <div
                    [ngClass]="{'q-connector': selectedPanel == 'workInfoPanel','q-connector-inactive': selectedPanel != 'workInfoPanel'}"
                    style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: 2px;">

                  </div>
                  <div (click)="gotoPanel('workInfoPanel','Work Information')"
                    style="width: 100%; padding: 1px 0px 0px 10px;cursor: pointer;">
                    Work Information
                  </div>
                </div>
                <div style="display:flex;padding-bottom: 35px;">
                  <div
                    [ngClass]="{'last-q-connector': selectedPanel == 'offerletterPanel','last-q-connector-inactive': selectedPanel != 'offerletterPanel'}"
                    style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: 2px;">

                  </div>
                  <div (click)="gotoPanel('offerletterPanel','Offer Letter')"
                    style="width: 100%; padding: 1px 0px 0px 10px;cursor: pointer;">
                    Offer Letter

                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>



    </div>

  </div>
</div>