<div class="row">
    <div class="col-md-8 col-xxl-8">
  <nb-card>
      <nb-card-body>
        <div>
            <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                <div style="flex: auto; display: flex;padding-top: 15px;">
                    <p style="color: #4847E0 !important;" class="listsubheader">Work Experience</p>
                </div>
                <button outline='true'  nbButton status="primary" style="min-width: unset !important;">
                    <nb-icon icon="plus"></nb-icon>&nbsp;Add
                </button>
                </div>
        </div>
      </nb-card-body>
  </nb-card>
    </div>
    <div class="col-md-4 col-xxl-4">
        <nb-card>
            <nb-card-body>
                <div>
                    <div style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                        <div style="flex: auto; display: flex;padding-top: 15px;">
                            <p style="color: #4847E0 !important;" class="listsubheader">Evaluation Score</p>
                        </div>
                  
                        </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
