<ngx-componentsheader pageName="KRAs" [requiredButton]="[]"></ngx-componentsheader>
<div class="main-page-container">
  <!-- <nb-tabset (changeTab)="selectTab($event)">
        <nb-tab tabTitle="Pending" [tabId]="TABS.PENDING">
        </nb-tab><nb-tab tabTitle="Reviewed" [tabId]="TABS.REVIEWED">
        </nb-tab>
        </nb-tabset> -->
  <ngx-tableheader *ngIf="!showEmpty"></ngx-tableheader>
  <ngx-default-content *ngIf="showEmpty" pageHeader="No KRA to review"
    pageDescription="" [loading]="loading">
  </ngx-default-content>
  <div style="display: flex; justify-content: flex-end;" *ngIf="!showEmpty">
    <button nbButton status="primary" (click)="gotoReview()">Review</button>
  </div>
  <ngx-tablecomponent [showActions]="false" *ngIf="!showEmpty" [tableColum]="tableColumns" [userData]="kras"
    [loading]="loading" (actionClick)="itemClicked($event)"></ngx-tablecomponent>
</div>
