
<ngx-componentsheader pageName='Employee Deployment Management'>

<div headerButton>
<ngx-bulk-upload btnoutline="false" [btnLabel]="'Batch Deployment'" (buttonClick)="getuploadedfile($event)"></ngx-bulk-upload>
</div>
</ngx-componentsheader>


<nb-card style="margin-top: 15px;">
    <nb-card-body>

        <nb-tabset #tset (click)="filtertabConf(tset.tabs._results)">
            <nb-tab tabTitle="Due">

            </nb-tab>
            <nb-tab tabTitle="Pending">

            </nb-tab>

            <nb-tab tabTitle="Approved">

            </nb-tab>
            <nb-tab tabTitle="Declined">

            </nb-tab>
        </nb-tabset>
        <ngx-default-content *ngIf="showEmpty" pageHeader="No Deployment Record"
        pageDescription="Click on the button above to Upload Batch Deployemnt" [loading]="loading"
        >
      </ngx-default-content>
      <ngx-tablecomponent *ngIf="!showEmpty" (filterChange)="filterUpdated($event)" [showActions]="true"
        [showFilter]="true" (actionClick)="tableActionClicked($event)" [actions]="tableActions" [userData]="allDeployment"
        [tableColum]="tableColumns" [totalItems]="totalItems" [currentPage]="currentPage" [loading]="loading">
      </ngx-tablecomponent>

    </nb-card-body>



    

</nb-card>