
<ngx-componentsheader pageName='Employee Deployment Management'>

<div headerButton>
<ngx-bulk-upload btnoutline="false" (buttonClick)="getuploadedfile($event)"></ngx-bulk-upload>
</div>
</ngx-componentsheader>


<nb-card style="margin-top: 15px;">
    <nb-card-body>

        <nb-tabset>
            <nb-tab tabTitle="Due">

            </nb-tab>
            <nb-tab tabTitle="Pending">

            </nb-tab>

            <nb-tab tabTitle="Approved">

            </nb-tab>
            <nb-tab tabTitle="Declined">

            </nb-tab>
            <nb-tab tabTitle="Extended">

            </nb-tab>
        </nb-tabset>
        <ngx-tableheader></ngx-tableheader>

        <ngx-tablecomponent [tableColum]="tableColumns"></ngx-tablecomponent>
    </nb-card-body>



    

</nb-card>