<ngx-componentsheader pageName="Performance Review"></ngx-componentsheader>

<div class="main-page-container">
    <div>
        <div class="row summary">
            <div class="col-sm-4">
                <div>Employee Name</div>
                <div>{{kra.employeeName}}</div>
            </div>
            <div class="col-sm-4">
                <div>Department</div>
                <div>{{kra.department}}</div>
            </div>
            <div class="col-sm-4">
                <div>Position</div>
                <div>{{kra.position}}</div>
            </div>
            <div class="col-sm-4">
                <div>Reviewer Name</div>
                <div>{{kra.reviewerName}}</div>
            </div>
            <div class="col-sm-4">
                <div>Reviewer Title</div>
                <div>{{kra.reviewerTitle}}</div>
            </div>
            <div class="col-sm-4">
                <div>Last appraised date</div>
                <div>{{kra.lastAppraisedDate | date}}</div>
            </div>
            <div class="col-sm-4">
                <div>Period under review</div>
                <div>{{kra.periodUnderReview}}</div>
            </div>
        </div>
    </div>

    <div style="border: 1px solid #15157A30; margin-top: 2rem; margin-bottom: 2rem;">
        <div style="font-weight: bold; padding: 0.5rem;">
            Appraisal module deployment
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Employee Score</th>
                    <th>Employee Comment</th>
                    <th  *ngIf="!isEmployeePage">Reviewer Score</th>
                    <th *ngIf="!isEmployeePage">Reviewer Comment</th>
                    <th *ngIf="!isEmployeePage && kra.reviewerTitle">Average Score</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let kpi of tempEditingData'>
                    <td>{{kpi.title}}</td>
                    <td>
                      <div *ngIf="kra.isEmployeeSubmitted">
                        {{kpi.employeeScore}}
                      </div>
                      <div *ngIf="!kra.isEmployeeSubmitted">
                        <input class="form-control" [(ngModel)]="kpi.employeeScore"/>
                      </div>
                    </td>
                    <td>
                      <div *ngIf="kra.isEmployeeSubmitted">
                        {{kpi.employeeComment}}
                      </div>
                      <div *ngIf="!kra.isEmployeeSubmitted">
                        <input class="form-control" [(ngModel)]="kpi.employeeComment"/>
                      </div>
                    </td>
                    <td *ngIf="!isEmployeePage">{{kpi.reviewerScore}}</td>
                    <td *ngIf="!isEmployeePage">{{kpi.reviewerComment}}</td>
                    <td *ngIf="!isEmployeePage && kra.isReviewerSubmitted">{{kpi.averageScore}}</td>
                </tr>
            </tbody>
            <tfoot>
                <!-- <tr>
                    <td colspan="5" style="text-align: right;">
                        Total
                    </td>
                    <td></td>
                </tr> -->
            </tfoot>
        </table>
    </div>
    <div>
        <div class="linear-form">
            <div class="form-group" *ngIf="!kra.isEmployeeSubmitted">
                <label>Employee's Comment</label>
                <input class="form-control" [(ngModel)]="employeeComment"/>
            </div>
            <div class="form-group" *ngIf="kra.isEmployeeSubmitted && !kra.isReviewerSubmitted">
                <label>Reviewer's Comment</label>
                <input class="form-control"/>
            </div>
            <div class="form-group" *ngIf="kra.isEmployeeSubmitted && !kra.isReviewerSubmitted">
                <label>Recommendations</label>
                <select class="form-control"></select>
            </div>
            <!-- <div class="form-group">
                <label></label>
                <div>
                    <button nbButton status='primary' outline style="border: none;">
                        <nb-icon icon='plus'></nb-icon>
                        Add more
                    </button>
                </div>
            </div> -->
            <div class="form-group">
                <label></label>
                <div>
                    <button nbButton status='primary' (click)="submit()">
                        Submit
                    </button>
                    <button nbButton status='primary' outline style="background: transparent; margin-left: 1rem;">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
