<ngx-componentsheader pageName="Employee Record" [requiredButton]="rbutton" (buttonClick)="getbtnaction($event)">

</ngx-componentsheader>

<nb-card >
    <nb-card-body>
        <ngx-default-content
        *ngIf="showEmpty"
        pageHeader="Create your first Employee"
        pageDescription="Click on the button to create Employee"
        buttonValue="Create Employee"
        [loading]="loading"
        (buttonClick)="modal('add_leave_year')"
      >
      </ngx-default-content>
        <ngx-tablecomponent  
        *ngIf="!showEmpty"
        (filterChange)="filterUpdated($event)"
        [showActions]="true"
        [showFilter]="true"
        (actionClick)="tableActionClicked($event)"
        [actions]="tableActions" 
        [userData]="allMyEmployees" 
        [tableColum]="tableColumns"
        [totalItems]="totalItems"
        [currentPage]="currentPage"
        [loading]="loading"
        [searchabletableColum]="searchabletableColum"
        >
    </ngx-tablecomponent>

    </nb-card-body>
</nb-card>
