

<!-- {{data|json}} -->
<ngx-page
  (topActionClicked)="pageActionClicked($event)"
  [(showModal)]="showModal"
  [pageTitle]="getPageTitle()"
  [requiredButton]="getRequiredButton()"
  [formConfig]="formConfig"
  [(value)]="editingData"
  (formCompleted)="submitForm()"
  (formCancelled)="hideModal()"
  [tableData]="data"
  [tableColumns]="tableColumns"
  [loadingSave]="loadingSave"
  [formTitle]="getFormTitle()"
  [emptyConfig]="emptyConfig"
  [loading]="loading"
  [tableActions]="tableActions"
  (tableActionClicked)="tableActionClick($event)"
></ngx-page>
