<ngx-componentsheader actions="actions" [pageName]="pagetitle" [requiredButton]="[{name:'newQuiz', label:'Create New', icon: 'plus'}]" (buttonClick)="toggleNewQuiz()"></ngx-componentsheader>
<nb-card style="padding: 10px;">
<ngx-tableheader></ngx-tableheader>
<div class="row">
  <div class="col-xxxl-4 col-md-4" >
    <nb-card style="border-left: 5px solid blue;">
      <div style="display: flex; justify-content: space-between; align-content: center; padding: 20px;">
          <div style="display: flex; flex-direction: column;">
            <div style="display: flex; flex-direction: column;">
              <span style="font-size: 16px; font-weight: 700; color: #080730 !important;">Technical Support</span>
              <span>Aptitude - <span class="smalltext" style="color: #6C757D;">127 Applicants</span></span>
            </div>

          </div>
          <div style="padding: 20px;"><button style="background: rgba(72, 71, 224, 0.08); padding: 7px; margin-top: 10px; color: #4847E0;">View</button>
          </div>
      </div>
    </nb-card>
  </div>

      <div class="col-xxxl-4 col-md-4" >
        <nb-card style="border-left: 5px solid red;">
          <div style="display: flex; justify-content: space-between; align-content: center; padding: 20px;">
             <div style="display: flex; flex-direction: column;">
               <div style="display: flex; flex-direction: column;">
                 <span style="font-size: 16px; font-weight: 700; color: #080730 !important;">Technical Support</span>
                 <span>Aptitude - <span class="smalltext" style="color: #6C757D;">127 Applicants</span></span>
               </div>

             </div>
             <div style="padding: 20px;"><button style="background: rgba(72, 71, 224, 0.08); padding: 7px; margin-top: 10px; color: #4847E0;">View</button>
             </div>
          </div>
        </nb-card>
     </div>

      <div class="col-xxxl-4 col-md-4" >
        <nb-card style="border-left: 5px solid green;">
          <div style="display: flex; justify-content: space-between; align-content: center; padding: 20px;">
             <div style="display: flex; flex-direction: column;">
               <div style="display: flex; flex-direction: column;">
                 <span style="font-size: 16px; font-weight: 700; color: #080730 !important;">Technical Support</span>
                 <span>Aptitude - <span class="smalltext" style="color: #6C757D;">127 Applicants</span></span>
               </div>

             </div>
             <div style="padding: 20px;"><button style="background: rgba(72, 71, 224, 0.08); padding: 7px; margin-top: 10px; color: #4847E0;">View</button>
             </div>
          </div>
        </nb-card>
     </div>
</div>
</nb-card>
