.limiter {
  width: 100%;
  margin: 0 auto
}

.header-label {
display: block;
font-size: 32px;
font-weight: 700;
color: #080730;
line-height: 38px;
text-align: center;
}

.subheader-label {
display: block;
font-size: 16px;
line-height: 19px;
text-align: center;
}

.container-login {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1
}

nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

label{
  color: #080730 !important;
  font-size: 1rem !important;
  font-style: normal !important;

}
