
<ngx-componentsheader pageName='Review Employee Payroll'>
</ngx-componentsheader>

<div class="container" style="padding-bottom: 0.5rem;">
    <i class="far fa-arrow-alt-circle-left">Back</i>
</div>

<nb-card>
    <div>
        <div>
            <nb-card>
                <nb-card-body>
                    <nb-card-header>
                        <p style="font-weight: bold;">Basic Details</p>
                    </nb-card-header>
                    <div class="" style="display: flex; flex-direction: column;">

                        <div class="card" style="margin-right: 2px;">
                            <div class="row mr-2">
                                <div class="col-sm-3"
                                    style="display: flexbox; align-items: center; justify-content: center;">

                                    <div class="d-flex ">
                                        <div class="mt-1">
                                            <img src="assets/images/nick.png" width="20%" style="background-size: cover;
                                                margin-top: 5px;" class="rounded-circle mb-1" alt="Card image">
                                        </div>
                                        <div style="margin-left: -210px; margin-top: 20px;">
                                            <h6 style="font-size: xx-small; font-weight: lighter;">Alicia Keys</h6>
                                            <h6 style="font-size: x-small;">Products</h6>
                                        </div>


                                    </div>


                                    <div
                                        style="display: flex;flex-direction: row;align-items: center; margin-left: 4rem;">
                                        <div class="mt-2">
                                            <i class="fas fa-users" style="color: blue;"></i>
                                        </div>
                                        <div class="ml-2">
                                            <h6 style="font-size: xx-small; font-weight: lighter;">Department</h6>
                                            <h6 style="font-size: x-small;">Product development</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="d-flex mt-4" style="margin-left: 15px;">
                                        <div class="mt-2">
                                            <i class="fas fa-users" style="color: blue;"></i>
                                        </div>
                                        <div class="ml-2">
                                            <h6 style="font-size: xx-small; font-weight: lighter;">Department</h6>
                                            <h6 style="font-size: x-small;">Product development</h6>
                                        </div>


                                    </div>
                                    <div class="d-flex mt-4" style="margin-left: 15px;">
                                        <div class="mt-2">
                                            <i class="fas fa-envelope" style="color: blue;"></i>
                                        </div>
                                        <div class="ml-2">
                                            <h6 style="font-size: xx-small; font-weight: lighter;">Email</h6>
                                            <h6 style="font-size: x-small;">sherif@smartace.ng</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-4" style="margin-left: 15px; padding-bottom: 10px;">
                                        <div class="mt-2">
                                            <i class="fas fa-users" style="color: blue;"></i>
                                        </div>
                                        <div class="ml-2">
                                            <h6 style="font-size: xx-small; font-weight: lighter;">Date of joining</h6>
                                            <h6 style="font-size: x-small;">15th january,2021</h6>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-3">
                                    <div class="d-flex mt-4">
                                        <div class="mt-2">
                                            <i class="fas fa-file-alt" style="color: blue;"></i>
                                        </div>
                                        <div class="ml-2">
                                            <h6 style="font-size: xx-small; font-weight: lighter; color: blue;">staff id
                                            </h6>
                                            <h6 style="font-size: x-small;">01345</h6>
                                        </div>


                                    </div>
                                    <div class="d-flex mt-4">
                                        <div class="mt-2" style="font-weight: lighter;">
                                            <i class="fas fa-phone" style=" color: blue;"></i>
                                        </div>
                                        <div class="ml-2">
                                            <h6 style="font-size: xx-small; font-weight: lighter;">Phone Number</h6>
                                            <h6 style="font-size: x-small;">080891434128</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-4">
                                        <div class="mt-2">
                                            <i class="fas fa-compass" style="color: blue;"></i>
                                        </div>
                                        <div class="ml-2">
                                            <h6 style="font-size: xx-small; font-weight: lighter;">Office Location</h6>
                                            <h6 style="font-size: x-small;">Marina, Lekki, Lagos</h6>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-3">
                                    <div class="d-flex mt-4">
                                        <div class="mt-2">
                                            <i class="fas fa-file-alt" style="color: blue;"></i>
                                        </div>
                                        <div class="ml-2">
                                            <h6 style="font-size: xx-small; font-weight: lighter; color: blue;">staff id
                                            </h6>
                                            <h6 style="font-size: x-small;">01345</h6>
                                        </div>


                                    </div>
                                    <div class="d-flex mt-4">
                                        <div class="mt-2" style="font-weight: lighter;">
                                            <i class="fas fa-phone" style=" color: blue;"></i>
                                        </div>
                                        <div class="ml-2">
                                            <h6 style="font-size: xx-small; font-weight: lighter;">Phone Number</h6>
                                            <h6 style="font-size: x-small;">080891434128</h6>
                                        </div>
                                    </div>
                                    <div class="d-flex mt-4">
                                        <div class="mt-2">
                                            <i class="fas fa-compass" style="color: blue;"></i>
                                        </div>
                                        <div class="ml-2">
                                            <h6 style="font-size: xx-small; font-weight: lighter;">Office Location</h6>
                                            <h6 style="font-size: x-small;">Marina, Lekki, Lagos</h6>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </nb-card-body>
            </nb-card>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <nb-card>
                    <nb-card>

                    </nb-card>
                    <nb-card-body>
                        <ngx-componentsheader pageName='Pay Element Breakdown' [requiredButton]="topActionButtons"
                            (buttonClick)='modal($event)'>
                        </ngx-componentsheader>
                        <nb-card-header>
                            <p style="font-weight: bold;">Earnings</p>
                        </nb-card-header>
                        <div class="row" *ngFor="let i of [0,1,2,3]">
                            <div class="col-sm-4">
                                <p>Basic</p>
                            </div>
                            <div class="col-sm-4">
                                <p>
                                    NGN.780000
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <span class="action"><a href="javascript:void(0)" (click)="showModal()">Edit</a></span>
                            </div>
                        </div>
                        <div></div>
                        <nb-card-header>
                            <p style="font-weight: bold;">Deductions</p>
                        </nb-card-header>
                        <div class="row" *ngFor="let i of [0,1,2,3]">
                            <div class="col-sm-4">
                                <p>Basic</p>
                            </div>
                            <div class="col-sm-4">
                                <p>
                                    NGN.780000
                                </p>
                            </div>
                            <div class="col-sm-4">
                                <span class="action"><a href="">Edit</a></span>
                            </div>
                        </div>
                    </nb-card-body>


                </nb-card>



            </div>
            <div class="col-sm-4">
                <nb-card>
                    <nb-card-body>
                        <nb-card-header>
                            <p style="font-weight: bold;">Summary</p>
                        </nb-card-header>
                        <div class="row" *ngFor="let i of [0,1,2]">
                            <div class="col-6">
                                <p>Total Earnings</p>
                            </div>
                            <div class="col-6">
                             <span>&#8358;780000</span>
                            </div>
                        </div>
                    </nb-card-body>

                  
                </nb-card>
            </div>
        </div>
    </div>
</nb-card>
<!-- ADDMODAL -->
<ngx-side-modal [(show)]="showAddModal">
    <div modal-header>
    </div>
    <div modal-body>
        <nb-card>
            <nb-card-header>
                <P>Add Pay Element</P>
            </nb-card-header>
            <nb-card-body>
                <form>


                    <div class="form-group row" style="margin-top: 15px;">
                        <label for="inputEmail1" class="label col-sm-2 col-form-label listsubheader"></label>
                        <div class="col-sm-10">
                            <div style="flex-wrap: wrap; display: flex; flex-direction: row; ">

                                <div style="display: flex; flex-direction: row; align-items: center;">
                                    <p
                                        style="margin-left: 1.2rem; align-items: center; padding-top: 0.2rem; font-weight: bold;">
                                    </p>
                                    <div>
                                        <input type="text" nbInput fullWidth placeholder="placeholder tetx">
                                    </div>
                                    <div style="margin-left: 1.2rem;">
                                        <input type="text" nbInput fullWidth placeholder="placeholder tetx">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Element Type" class="label col-sm-4 col-form-label listsubheader">Pay
                            Element</label>
                        <div class="col-sm-8">
                            <select aria-placeholder="select" name="" id="" (change)='selectionChanged($event)'
                                class="form-control">
                                <option [(value)]="pay.name" *ngFor="let pay of payElement">{{pay.name}}</option>
                            </select>
                        </div>
                        <div>
                            <ul *ngFor="let list of ElementList">
                                <div style="display: flex; flex-direction: row;">
                                    <div>
                                        <button style="background-color: white;">
                                            {{list.name}}
                                            <i class="far fa-window-close" (click)="onDelete(list)"></i>
                                        </button>
                                    </div>
                                </div>
                            </ul>
                        </div>

                    </div>

                    <div class="form-group row" style="margin-top: 15px;">
                        <label for="inputEmail1" class="label col-sm-4 col-form-label listsubheader"></label>
                        <div class="col-sm-8">
                            <nb-radio-group [(ngModel)]="selectedOption" class="d-flex">
                                <nb-radio value="1">on off</nb-radio>
                                <nb-radio value="2">recurrent</nb-radio>

                            </nb-radio-group>
                        </div>
                    </div>
                </form>


                <div modal-actions class="d-flex" style="margin-top: 10rem;   margin-left: 5rem;">


                    <div class="d-flex" style="display: flex;justify-items: center;">

                        <button nbButton status="primary" class="d-flex column"
                            style="margin-right: 0.8rem;">Add</button>
                        <button nbButton outline status="primary" class="d-flex column"
                            style="background-color: white; margin-left: 10px;">Cancel</button>

                    </div>





                </div>
            </nb-card-body>


        </nb-card>

    </div>
</ngx-side-modal>

<!-- EDIT MODAL -->

<ngx-side-modal [(show)]="showEditModal">
    <div modal-header>
    </div>
    <div modal-body>
        <nb-card>
            <nb-card-header>
                <P>Edit Pay Element</P>
            </nb-card-header>
            <nb-card-body>
                <form>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div>
                                <label for="Element Type" class="label  col-form-label listsubheader">Pension</label>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <input type="text" nbInput fullWidth placeholder="End Date">
                                <button nbButton outline status="danger" class="d-flex column"
                                    style="background-color: white; border: none; text-decoration: underline;">Delete</button>

                            </div>

                        </div>

                        <div class="">

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div>
                                <label for="Element Type" class="label  col-form-label listsubheader">Pension</label>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <input type="text" nbInput fullWidth placeholder="">
                                <button nbButton outline status="primary" class="d-flex column"
                                    style="background-color: white; border: none; text-decoration: underline;">Undo</button>

                            </div>

                        </div>

                        <div class="">

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <div>
                                <label for="Element Type" class="label  col-form-label listsubheader">Pension</label>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <input type="text" nbInput fullWidth placeholder="">
                                <button nbButton outline status="danger" class="d-flex column"
                                    style="background-color: white; border: none; text-decoration: underline;">Delete</button>

                            </div>

                        </div>

                        <div class="">

                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 15px;">
                        <label for="inputEmail1" class="label col-sm-1 col-form-label listsubheader"></label>
                        <div class="col-sm-11">
                            <nb-radio-group [(ngModel)]="selectedOption" class="d-flex">
                                <nb-radio value="1">on off</nb-radio>
                                <nb-radio value="2">recurrent</nb-radio>

                            </nb-radio-group>
                        </div>
                    </div>
                </form>


                <div modal-actions class="d-flex" style="margin-top: 10rem;   margin-left: 5rem;">


                    <div class="d-flex" style="display: flex;justify-items: center;">

                        <button nbButton status="primary" class="d-flex column"
                            style="margin-right: 0.8rem;">Add</button>
                        <button nbButton outline status="primary" class="d-flex column"
                            style="background-color: white; margin-left: 10px;">Cancel</button>

                    </div>





                </div>
            </nb-card-body>


        </nb-card>

    </div>

</ngx-side-modal>