<ngx-componentsheader pageName='Training Dashboard'></ngx-componentsheader>
<div class="container">
</div>

<div class="row" style="background-color: transparent;">
  <div class="col my-analytics-div">

    <div class="flex-child">
      <img src="../../../../assets/icons/department.jpg" alt="">
    </div>
    <div class="flex-child">
      <div class="title" style="padding-bottom: 20px;"><span style="font-size: 20px; font-weight: 400;">Requests</span></div>
      <div class="value"><span style="font-size: 25px; font-weight: 700;">123</span></div>
    </div>
  </div>
  <div class="col my-analytics-div">

    <div class="flex-child">
      <img src="../../../../assets/icons/ActiveTraining.png" alt="">
    </div>
    <div class="flex-child">
      <div class="title" style="padding-bottom: 20px;"><span style="font-size: 20px; font-weight: 400;">Active Training Plans</span></div>
      <div class="value"><span style="font-size: 25px; font-weight: 700;">567</span></div>
    </div>
  </div>
  <div class="col my-analytics-div">

    <div class="flex-child">
      <img src="../../../../assets/icons/vendors.png" alt="">
    </div>
    <div class="flex-child">
      <div class="title" style="padding-bottom: 20px;"><span style="font-size: 20px; font-weight: 400;">Vendors</span></div>
      <div class="value"><span style="font-size: 25px; font-weight: 700;">45</span></div>
    </div>
  </div>
  <div class="col my-analytics-div">

    <div class="flex-child">
      <img src="../../../../assets/icons/trainingbudget.png" alt="">
    </div>
    <div class="flex-child">
      <div class="title" style="padding-bottom: 20px;"><span style="font-size: 20px; font-weight: 400;">Training Budget</span></div>
      <div class="value"><span style="font-size: 25px; font-weight: 700;">N540K</span></div>
    </div>
  </div>
</div>

<!-- Pie Chart here -->
<div class="container">
  <!-- <<div echarts [options]="options" class="echart"></div> -->
  <div class="col-lg-6">
    <!-- <nb-card>
      <nb-card-header>Bar</nb-card-header>
      <nb-card-body>
        <chart type="pie" [data]="data" [options]="options"></chart>
      </nb-card-body>
    </nb-card> -->
    <ngx-default-content pageHeader="Pie Charts"></ngx-default-content>
  </div>

</div>

<!-- Bar Chart here -->

<div class="container">
<!-- <ngx-echarts-bar></ngx-echarts-bar> -->
<ngx-default-content pageHeader="Bar Charts"></ngx-default-content>
</div>

<!-- Training Reports -->
<div class="container">

  <div *ngIf="trainingReport == ''">
    <ngx-default-content pageHeader="You do not have any contents"></ngx-default-content>
  </div>


    <ngx-componentsheader pageName="Training Report"></ngx-componentsheader>
    <!-- <ngx-tablecomponent></ngx-tablecomponent> -->
    <div *ngIf="trainingReport != ''">
    <ngx-tableheader></ngx-tableheader>
  </div>

</div>

