<ngx-componentsheader
  pageName="Loan Type"
  [requiredButton]="[{name:'newtype', label:'Add New'}]" (buttonClick)="createLoanType()"
></ngx-componentsheader>

<div *ngIf="dataCounter < 1">
  <nb-card>
      <nb-card-body>
        <form #loanType="ngForm" name="loanType">
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Type Name</label>
          </div>

          <div class="col-sm-6">
            <input type="text" class="form-control" name="typeName" #typeName="ngModel"
            [(ngModel)]="loanTypeModel.name" placeholder="Enter Name" required>
            <div *ngIf="typeName.invalid && (typeName.dirty || typeName.touched)" class="error">
              <div *ngIf="typeName.errors.required">Type Name is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Type Code</label>
          </div>

          <div class="col-sm-6">
            <input type="text" class="form-control" name="typeCode" #typeCode="ngModel"
            [(ngModel)]="loanTypeModel.code" placeholder="Enter Code" required>
            <div *ngIf="typeCode.invalid && (typeCode.dirty || typeCode.touched)" class="error">
              <div *ngIf="typeCode.errors.required">Type Code is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Is Active? </label>
          </div>

          <div class="col-sm-6">
              <nb-checkbox status="basic" name="isActive" #isActive="ngModel"
              [(ngModel)]="loanTypeModel.isActive" [(checked)]="isActiveState"></nb-checkbox>&nbsp;&nbsp;
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Requires Guarantor? </label>
          </div>

          <div class="col-sm-6">
            <nb-checkbox status="basic" name="isGuarantorRequired" #isGuarantorRequired="ngModel"
            [(ngModel)]="loanTypeModel.requiresGuarantor" (checkedChange)="toggleGuarantor($event)"></nb-checkbox>
          </div>
        </div>

        <div *ngIf="isGuarantor == true" class="form-group row">
          <div class="col-sm-3">
            <label for="">Required Number of Guarantor </label>
          </div>

          <div class="col-sm-6">
            <input type="number" class="form-control" name="guarantorNo" #guarantorNo="ngModel"
            [(ngModel)]="loanTypeModel.requiredNoOfGuarantors" placeholder="Required Number of Guarantor">
            <div *ngIf="guarantorNo.invalid && (guarantorNo.dirty || guarantorNo.touched)" class="error">
              <div *ngIf="guarantorNo.errors.required">Number of guarantor is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Ledger Number</label>
          </div>

          <div class="col-sm-6">
            <input type="text" class="form-control" name="ledgerNo" #ledgerNo="ngModel"
            [(ngModel)]="loanTypeModel.ledgerNo" placeholder="Enter Ledger Number">
            <div *ngIf="ledgerNo.invalid && (ledgerNo.dirty || ledgerNo.touched)" class="error">
              <div *ngIf="ledgerNo.errors.required">Ledger Number is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Eligible Grades</label>
          </div>

          <div class="col-sm-6">
            <!-- <nb-select multiple [(ngModel)]="loanTypeModel.eligibleGrades" name="eligibleGrades"  placeholder="Select all Eligible Grades">
              <nb-option *ngFor="let grade of allGrades" value="garde.id">{{ grade.name }}</nb-option>
              <nb-option value="2">Grade 2</nb-option>
            </nb-select> -->
            <select [(ngModel)]="loanTypeModel.eligibleGrades" class="form-control" name="eligibleGrades">
              <option value="">--Select all Eligible Grades--</option>
              <option value="1">Grade 2</option>
            </select>
          </div>
        </div>


        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Tenor (Months)</label>
          </div>

          <div class="col-sm-6" style="display: flex; justify-content: space-between;">
            <input class="form-control" type="number" name="minTtenor" #minTtenor="ngModel"
            [(ngModel)]="loanTypeModel.minTenor" placeholder="Minimum Tenor" required>
            <span style="padding: 8px;"></span>
            <input class="form-control" type="number" name="maxTenor" #maxTenor="ngModel"
            [(ngModel)]="loanTypeModel.maxTenor" placeholder="Maximum Tenor" required>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Minimum Amount</label>
          </div>

          <div class="col-sm-6">
            <app-amount-input [(value)]="loanTypeModel.minAmount"></app-amount-input>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Maximum Amount</label>
          </div>

          <div class="col-sm-6">
            <app-amount-input [(value)]="loanTypeModel.maxAmount"></app-amount-input>
          </div>
        </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label for="">Interest Type</label>
            </div>

            <div class="col-sm-6">
              <nb-select placeholder="Select Interest Type" name="loanType" #typeName="ngModel"
              [(ngModel)]="loanTypeModel.interestType">
                <nb-option value="1">Option 1</nb-option>
              </nb-select>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Custom Question</label>
          </div>

          <div class="col-sm-6">
            <ngx-wysisyg-input [(value)]="loanTypeModel.customQuestion" style="padding-left: -10px;" ></ngx-wysisyg-input>
          </div>

        </div>


        <div class="form-group row">
          <div class="col-sm-3">
            <label for="">Description</label>
          </div>

          <div class="col-sm-6">
            <ngx-wysisyg-input [(value)]="loanTypeModel.description" style="padding-left: -10px;" ></ngx-wysisyg-input>
          </div>

        </div>

        <div class="form-group row">
          <div class="col-sm-3">
            <label for=""></label>
          </div>

          <div class="col-sm-6">
            <button type="submit" class="btn my-button" (click)="createLoanType()" [disabled]="!loanType.valid" nbButton status="primary">Submit</button>
            <span style="padding: 8px;"></span>
            <button type="submit" class="btn cancel-button" nbButton status="primary" outline>Cancel</button>
          </div>
        </div>

        </form>
      </nb-card-body>
  </nb-card>
</div>

<div *ngIf="dataCounter > 0">
<nb-card>
  <nb-card-body>
    <ngx-tableheader></ngx-tableheader>
      <ngx-tablecomponent [loading]='loading' [tableColum]="loanTypesTable" [userData]='allLoanTypes' [actions]='tableActions' (actionClick)="tableActionClicked($event)"></ngx-tablecomponent>
  </nb-card-body>
</nb-card>
</div>
