<div>
  <div class="container">
    <ngx-componentsheader [pageName]="pageTitle" [requiredButton]="rbutton" (buttonClick)="getbtnaction($event)"></ngx-componentsheader>

    <!-- Main Card -->
    <nb-card>
      <nb-card-header>
        <div style="display: flex;flex-direction: row;justify-self: center;">
          <div style="flex: auto;"><span style="text-transform: uppercase;">Personal Information</span></div>
          <div><a href="javascript:void(0)" (click)="updateMyProfile()">Edit Profile</a></div>
        </div>
      </nb-card-header>
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xxxl-3"><img src="assets/images/nick.png" width="40%" style="background-size: cover;
      margin-top: 20px; margin-left: 50px;" class="rounded-circle mb-1" alt="Cinque Terre">
          <br>
        </div>


        <div class="col-lg-3 col-sm-6 col-xxxl-3">
          <div class="d-flex mt-4" style="margin-left: 15px;">
            <div class="ml-2">
              <h6 class="profileName">{{profileData.firstName}} &nbsp; {{profileData.lastName}}</h6>
              <span style="font-size: x-small;"><a href="#">Change Avatar</a></span>
            </div>


          </div>
          <div class="d-flex mt-3" style="margin-left: 15px;">
            <div class="ml-2">
              <i class="fas fa-envelope"></i> <span style="font-size: 14px; padding-left: 5px;">Email</span>
              <h6 style="font-size: x-small;">{{profileData.email}}</h6>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-sm-6 col-xxxl-3">
          <div class="d-flex mt-4" style="margin-left: 15px;">
            <div class="ml-2">
              <i class="fas fa-phone"></i><span style="font-size: 14px; padding-left: 5px;">Phone</span>
              <h6 style="font-size: x-small;">{{profileData.mobile}}</h6>
            </div>

          </div>
          <div class="d-flex mt-4" style="margin-left: 15px;">
            <div class="ml-2">
              <i class="fas fa-map-marker"></i> <span style="font-size: 14px; padding-left: 5px;">Address</span>
              <h6 style="font-size: x-small;">{{profileData.address}}</h6>
            </div>
          </div>
        </div>


        <div class="col-lg-3 col-sm-6 col-xxxl-3">
          <div class="d-flex mt-4" style="margin-left: 15px;">
            <div class="ml-2">
              <i class="fas fa-link"></i> <span style="font-size: 14px; padding-left: 5px;">Website</span>
              <h6 style="font-size: x-small;">{{profileData.website}}</h6>
            </div>

          </div>
          <div class="d-flex mt-4" style="margin-left: 15px;">
            <div class="ml-2">
              <i class="fab fa-linkedin-in"></i><span style="font-size: 14px; padding-left: 5px;">LinkedIn</span>
              <h6 style="font-size: x-small;">{{profileData.linkedIn}}</h6>
            </div>
          </div>
        </div>
      </div>
    </nb-card>


    <!-- Work Experience -->

    <div class="row">
      <div class="col-md-8 col-xxl-8">
        <nb-card>
          <nb-card-body>
            <div>
              <div
                style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                <div style="flex: auto; display: flex;padding-top: 15px;">
                  <p style="color: #4847E0 !important; text-transform: uppercase;" class="listsubheader">Work Experience
                  </p>
                </div>
                <button outline='true' nbButton status="primary" (click)="addNewWork()" style="min-width: unset !important;">
                  <nb-icon icon="plus"></nb-icon>&nbsp;Add
                </button>
              </div>
            </div>
            <span style="padding: 10px;"></span>

            <div class="WorkExperience">
              <div>
                <span class="experienceCompany">Electronic Settlement Limited -</span><span
                  class="experienceTitle">Frontend Engineer</span>
              </div>
              <div style="display: flex;flex-direction: row;justify-self: center;">
                <div style="flex: auto;"><span class="employmentDate">Jan 2007 - Feb 2013</span></div>
                <div><a href="#">Edit</a><span style="padding:3px"></span><a href="#">Delete</a></div>
              </div>

              <div class="row">
                <div class="col-lg-8">
                  <p>
                    Wrote maintainable, responsive, and cross-browser code while updating
                    existing code to improve web application's performance.
                  </p>
                  <p>
                    Wrote maintainable, responsive, and cross-browser code while updating
                    existing code to improve web application's performance.
                  </p>
                </div>
              </div>
            </div>

            <div class="WorkExperience">
              <div>
                <span class="experienceCompany">Electronic Settlement Limited -</span><span
                  class="experienceTitle">Frontend Engineer</span>
              </div>
              <div style="display: flex;flex-direction: row;justify-self: center;">
                <div style="flex: auto;"><span class="employmentDate">Jan 2007 - Feb 2013</span></div>
                <div><a href="#">Edit</a><span style="padding:3px"></span><a href="#">Delete</a></div>
              </div>

              <div class="row">
                <div class="col-lg-8">
                  <p>
                    Wrote maintainable, responsive, and cross-browser code while updating
                    existing code to improve web application's performance.
                  </p>
                  <p>
                    Wrote maintainable, responsive, and cross-browser code while updating
                    existing code to improve web application's performance.
                  </p>
                </div>
              </div>
            </div>

            <div class="WorkExperience">
              <div>
                <span class="experienceCompany">Electronic Settlement Limited -</span><span
                  class="experienceTitle">Frontend Engineer</span>
              </div>
              <div style="display: flex;flex-direction: row;justify-self: center;">
                <div style="flex: auto;"><span class="employmentDate">Jan 2007 - Feb 2013</span></div>
                <div><a href="#">Edit</a><span style="padding:3px"></span><a href="#">Delete</a></div>
              </div>

              <div class="row">
                <div class="col-lg-8">
                  <p>
                    Wrote maintainable, responsive, and cross-browser code while updating
                    existing code to improve web application's performance.
                  </p>
                  <p>
                    Wrote maintainable, responsive, and cross-browser code while updating
                    existing code to improve web application's performance.
                  </p>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-body>
            <div>
              <div
                style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                <div style="flex: auto; display: flex;padding-top: 15px;">
                  <p style="color: #4847E0 !important; text-transform: uppercase;" class="listsubheader">Education</p>
                </div>
                <button outline='true' nbButton status="primary" (click)="toggleEducation()" style="min-width: unset !important;">
                  <nb-icon icon="plus"></nb-icon>&nbsp;Add
                </button>
              </div>
            </div>
            <span style="padding: 10px;"></span>

            <div class="reference">
              <div>
                <span class="experienceCompany">M.Sc at University of Lagos, Nigeria.</span>
              </div>
              <div style="display: flex;flex-direction: row;justify-self: center;">
                <div style="flex: auto;"><span>Jan 2007 - Feb 2013</span></div>
                <div><a href="#">Edit</a><span style="padding:3px"></span><a href="#">Delete</a></div>
              </div>

            </div>

            <div class="reference">
              <div>
                <span class="experienceCompany">M.Sc at University of Lagos, Nigeria.</span>
              </div>
              <div style="display: flex;flex-direction: row;justify-self: center;">
                <div style="flex: auto;"><span>Jan 2007 - Feb 2013</span></div>
                <div><a href="#">Edit</a><span style="padding:3px"></span><a href="#">Delete</a></div>
              </div>
            </div>

          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-body>
            <div>
              <div
                style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                <div style="flex: auto; display: flex;padding-top: 15px;">
                  <p style="color: #4847E0 !important; text-transform: uppercase;" class="listsubheader">Documents</p>
                </div>
                <button outline='true' nbButton status="primary" style="min-width: unset !important;">
                  <nb-icon icon="plus"></nb-icon>&nbsp;Add
                </button>
              </div>
            </div>
            <span style="padding: 10px;"></span>

            <div class="documents">

              <form>
                <div class="form-group">
                  <label for="documentType">Document Type</label>
                  <input type="text" class="form-control" placeholder="Enter document type">
                </div>
                <div class="form-group">
                  <label for="documents">Documents</label>
                  <ngx-file-upload (valueChange)="selectedFile($event,'')" class="form-control"></ngx-file-upload>
                </div>
              </form>
            </div>

          </nb-card-body>
        </nb-card>

      </div>


      <!-- Evaluation Score Panel -->
      <div class="col-md-4 col-xxl-4">
        <div class="row">
          <div class="col-md-12 col-xxl-12">
            <nb-card>
              <nb-card-body>
                <div>
                  <div
                    style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                    <div style="flex: auto; display: flex;padding-top: 15px;">
                      <p style="color: #4847E0 !important; text-transform: uppercase;" class="listsubheader">Evaluation
                        Score</p>
                    </div>

                  </div>
                </div>
                <span style="padding: 20px;"></span>
                <div>
                  <div
                    style="display: flex; flex-direction: column; justify-content: center; padding: 20px; background: rgba(72, 71, 224, 0.04);">
                    <!-- <div style="align-self: center; align-items: center; justify-content: center; padding: 20px;"> -->
                    <span
                      style="font-size: 72px; padding-top: 30px; font-weight: 700; align-self: center;">64%</span><br>
                    <span
                      style="text-align: center; padding-bottom: 20px; align-self: center; font-size: 18px; color:#27AE60">Excellent</span>
                    <!-- </div> -->
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 col-xxl-12">
            <nb-card>
              <nb-card-body>
                <div>
                  <div
                    style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                    <div style="flex: auto; display: flex;padding-top: 15px;">
                      <p style="color: #4847E0 !important; text-transform: uppercase;" class="listsubheader">Status</p>
                    </div>
                  </div>
                </div>
                <div style="margin: 5px;">
                  <div class="fmContainer" style="padding:4rem 2rem 4rem 2rem;">
                    <div class="row">
                      <div class="col-md-12 " style="display: flex;flex-direction: column;">
                        <div style="display:flex;padding-bottom: 35px;">
                          <div
                            [ngClass]="{'q-connector': selectedPanel == 'companyPanel','q-connector-inactive': selectedPanel != 'companyPanel'}"
                            style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: 2px;">

                          </div>
                          <div style="width: 100%; padding: 1px 0px 0px 10px;cursor: pointer;">
                            Applied to Customer Executive<span class="employmentDate" style="margin-left: 10px;">Jun
                              21</span>
                          </div>
                        </div>

                        <div style="display:flex;padding-bottom: 35px;">
                          <div
                            [ngClass]="selectedPanel == 'subscriptionPanel'?'q-connector':(selectedPanel == 'billingPanel'? 'q-connector':'q-connector-inactive')"
                            style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: 2px;">

                          </div>
                          <div style="width: 100%; padding: 1px 0px 0px 10px;cursor: pointer;">
                            Completed Interview stage 1. <span class="employmentDate" style="margin-left: 10px;">Jun
                              21</span>
                          </div>
                        </div>
                        <div style="display:flex;padding-bottom: 35px;">
                          <div
                            [ngClass]="{'last-q-connector': selectedPanel == 'modulesPanel','last-q-connector-inactive': selectedPanel != 'modulesPanel'}"
                            style="width: 10px; display: flex; flex-direction: column; align-items: center; margin-right: 5px; margin-top: 2px;">

                          </div>
                          <div style="width: 100%; padding: 1px 0px 0px 10px;cursor: pointer;">
                            Advanced to Interview stage 2. <span class="employmentDate" style="margin-left: 10px;">Jun
                              21</span>
                          </div>
                        </div>

                      </div>
                    </div>

                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xxl-12">
            <nb-card>
              <nb-card-body *ngIf="isApplicant">
                <div>
                  <div
                    style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                    <div style="flex: auto; display: flex;padding-top: 15px;">
                      <p style="color: #4847E0 !important; text-transform: uppercase;" class="listsubheader">Skills</p>
                    </div>
                    <button outline='true' (click)="toggleSkills()" nbButton status="primary" style="min-width: unset !important;">
                      <nb-icon icon="plus"></nb-icon>&nbsp;Add
                    </button>
                  </div>
                </div>
                <div>
                  <div style="flex: auto; color: #080730;"><span>Tenacity</span></div>
                  <div style="flex: auto; color: #080730;"><span>Time Management</span></div>
                  <div style="flex: auto; color: #080730;"><span>Complete Candor</span></div>
                  <div style="flex: auto; color: #080730;"><span>Good communication skills.</span></div>
                </div>
              </nb-card-body>

              <nb-card-body *ngIf="isInterviewer" style="background-color: transparent;">
                <div class="form-group row" style="display: flex; justify-content: center; align-self:center; align-items: center;">
                    <button (click)="openScorecard()" fullWidth nbButton status="primary">Open Scorecard</button>
                    <button (click)="toggleJobPreference()" fullWidth nbButton status="primary">Add Preference</button>
                </div>
              </nb-card-body>

              <nb-card-body *ngIf="isAdmin">
                <div class="form-group row">
                  <div class="col" style="display: flex; justify-content: space-between; align-items: center;">
                    <button nbButton style="color: #4847E0" (click)="toggleShareProfile()"><nb-icon icon="calendar"></nb-icon> Schedule</button>
                    <button nbButton style="color: #4847E0"><nb-icon icon="email"></nb-icon> Email</button>
                    <button nbButton style="color: #4847E0" (click)="toggleShareProfile()"><nb-icon icon="share"> </nb-icon>Share</button>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col">
                    <label for="">Recruitment Action</label>
                    <select name="recAction" id="" class="custom-select">
                      <option value="">--Select Action--</option>
                      <option *ngFor="let action of recruitmentAction" [value]="action.id">{{action.text}}</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col">
                    <button nbButton status="primary">Assign</button>
                    <span style="padding: 8px;"></span>
                    <button nbButton>Close</button>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </div>
        </div>
      </div>

      <!-- Education Panel -->
      <div class="col-md-8 col-xxl-8">

      </div>

      <!-- Document Panel -->
      <div class="col-md-8 col-xxl-8">

      </div>

      <!-- References Panel -->

      <div class="col-md-8 col-xxl-8">
        <nb-card>
          <nb-card-body>
            <div>
              <div
                style="border-bottom: 0.800000011920929px solid #CED4DA;padding-bottom: 10px; display: flex;flex-direction: row;">
                <div style="flex: auto; display: flex;padding-top: 15px;">
                  <p style="color: #4847E0 !important; text-transform: uppercase;" class="listsubheader">References</p>
                </div>
                <button outline='true' (click)="toggleReferences()" nbButton status="primary" style="min-width: unset !important;">
                  <nb-icon icon="plus"></nb-icon>&nbsp;Add
                </button>
              </div>
            </div>
            <span style="padding: 10px;"></span>

            <div class="reference" style="padding-bottom: 20px;">
              <div>
                <span class="experienceCompany">Dr. Awosika Tolani</span>
              </div>
              <div style="display: flex;flex-direction: row;justify-self: center;">
                <div style="flex: auto;"><span>Lecturer in Engineering</span></div>
                <div><a href="#">Edit</a><span style="padding:3px"></span><a href="#">Delete</a></div>
              </div>
              <div>
                <div style="flex: auto;"><span>University of Lagos</span></div>
                <div style="flex: auto;"><span>16, Abel Johann St. Lagos, Nigeria</span></div>
                <div style="flex: auto;"><span>08090086754</span></div>
                <div style="flex: auto;"><span>Awosika@gmail.com</span></div>
              </div>

            </div>

          </nb-card-body>
        </nb-card>
      </div>

    </div>

  </div>

  <ngx-side-modal [(show)]="newWork" style="margin-top: -75px;">
    <div modal-header>Add Work Experience</div>
    <div modal-body>
      <form>
        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Job Title</label>
            <input type="text" class="form-control" name="jobTitle" #jobTitle="ngModel" [(ngModel)]="workExperienceModel.jobTitle" placeholder="Name">
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Company</label>
            <input type="text" class="form-control" name="company" #company="ngModel" [(ngModel)]="workExperienceModel.companyName" style="width: 100%;">
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label  class="col-form-label mylabel">Responsibilities</label><br>
            <textarea name="responsibilities" id="" cols="30" rows="10" style="width: 100%;"></textarea>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label  class="col-form-label mylabel">Start Date</label><br>
            <ngx-date type="date" class="input-group date" [(ngModel)]="workExperienceModel.startDate"></ngx-date>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <nb-checkbox status="basic" name="currentWork" #currentWork="ngModel" [(ngModel)]="workExperienceModel.workHere" (checkedChange)="toggle($event)">I currently work here</nb-checkbox>
          </div>
        </div>

        <div *ngIf="workChecker == false" class="form-group row mydiv">
          <div class="col">
            <label  class="col-form-label mylabel">End Date</label><br>
            <ngx-date class="input-group date"[(ngModel)]="workExperienceModel.endDate"></ngx-date>
          </div>
        </div>



          <div class="form-group row">
            <div class="col">
              <button nbButton status="primary" (click)="updateWorkExperience()">Save Now</button>
              <span style="padding: 8px;"></span>
              <button nbButton>Cancel</button>
            </div>
          </div>
        </form>
          </div>

  </ngx-side-modal>


  <ngx-side-modal [(show)]="updateProfile" style="margin-top: -75px;">
    <div modal-header>Personal Information</div>
    <div modal-body>
      <form>
        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">First Name</label>
            <input type="text" class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="profileData.firstName" placeholder="First Name">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="error">
              <div *ngIf="firstName.errors.required">First Name is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Last Name</label>
            <input type="text" class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="profileData.lastName" placeholder="Last Name">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error">
              <div *ngIf="lastName.errors.required">Last Name is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Phone</label>
            <input type="tel" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="profileData.mobile" placeholder="Last Name">
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error">
              <div *ngIf="phone.errors.required">Phone is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Email</label>
            <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="profileData.email" placeholder="Last Name">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
              <div *ngIf="email.errors.required">Email is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Website</label>
            <input type="url" class="form-control" name="webs" #email="ngModel" [(ngModel)]="profileData.email" placeholder="Last Name">
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Address</label>
            <textarea name="address" #address="ngModel" [(ngModel)]="profileData.address" cols="30" rows="10" style="width: 100%;"></textarea>
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="error">
              <div *ngIf="address.errors.required">Address is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">LinkedIn</label>
            <input type="tel" class="form-control" name="linkedin" placeholder="LinkedIn">
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Instagram</label>
            <input type="tel" class="form-control" name="instagram" placeholder="Instagram">
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Twitter</label>
            <input type="tel" class="form-control" name="twitter" placeholder="Twitter">
          </div>
        </div>

          <div class="form-group row">
            <div class="col">
              <button nbButton status="primary" (click)="updateMyProfile()">Save</button>
              <span style="padding: 8px;"></span>
              <button nbButton>Cancel</button>
            </div>
          </div>
        </form>
          </div>

  </ngx-side-modal>


  <ngx-side-modal [(show)]="addReferences" style="margin-top: -75px;">
    <div modal-header>Add References</div>
    <div modal-body>
      <form>
        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Full Name</label>
            <input type="text" class="form-control"  name="fullName" #fullName="ngModel" [(ngModel)]="referenceModel.fullName" placeholder="Full Name" required>
            <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="error">
              <div *ngIf="fullName.errors.required">Full Name is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Profession</label>
            <input type="text" class="form-control"  name="profession" #profession="ngModel" [(ngModel)]="referenceModel.profession" placeholder="Profession" required>
            <div *ngIf="profession.invalid && (profession.dirty || profession.touched)" class="error">
              <div *ngIf="profession.errors.required">Profession is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Place of Work</label>
            <input type="text" class="form-control" name="workPlace" #workPlace="ngModel" [(ngModel)]="referenceModel.placeOfWork" placeholder="Place of Work" required>
            <div *ngIf="workPlace.invalid && (workPlace.dirty || workPlace.touched)" class="error">
              <div *ngIf="workPlace.errors.required">Place of Work is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Phone</label>
            <input type="tel" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="referenceModel.phoneNumber" placeholder="Phone" required>
            <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="error">
              <div *ngIf="phone.errors.required">Phone is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Email</label>
            <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="referenceModel.email" placeholder="Email" required>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
              <div *ngIf="email.errors.required">Email is required</div>
            </div>
          </div>
        </div>

          <div class="form-group row">
            <div class="col">
              <button nbButton status="primary" (click)="updateReferences()">Save</button>
              <span style="padding: 8px;"></span>
              <button nbButton>Cancel</button>
            </div>
          </div>
        </form>
          </div>

  </ngx-side-modal>

  <ngx-side-modal [(show)]="addSkiils" style="margin-top: -75px;">
    <div modal-header>Add Skills</div>
    <div modal-body>
      <form>
        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Skill Name</label>
            <input type="text" class="form-control" name="skillName" placeholder="Skill Name">
          </div>
        </div>

          <div class="form-group row">
            <div class="col">
              <button nbButton status="primary" (click)="updateSkills()">Save</button>
              <span style="padding: 8px;"></span>
              <button nbButton>Cancel</button>
            </div>
          </div>
        </form>
          </div>
  </ngx-side-modal>

  <ngx-side-modal [(show)]="share" style="margin-top: -75px;">
    <div modal-header>Schedule for Interview</div>
    <div modal-body>
      <form>
        <div class="form-group row mydiv">
          <div class="col">
            <label>Date</label>
            <ngx-date [(ngModel)]="interviewModel.interviewDate"></ngx-date>
        </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label>Interview Time</label>
            <!-- <input type="time" class="form-control" [(ngModel)]="interviewModel.interviewTime" name="interviewTime" #interviewTime="ngModel" min="09:00" max="18:00" required> -->
            <input type="datetime" class="form-control" [(ngModel)]="interviewModel.interviewTime" name="interviewTime" #interviewTime="ngModel">
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label>Duration (Minutes)</label>
            <input type="number" name="duration" class="form-control" #duration="ngModel" [(ngModel)]="interviewModel.duration">
        </div>
        </div>

        <div class="form-group row">
          <div class="col">
            <label for="">Interview Type</label>
            <select name="typeOfInterview" #typeOfInterview="ngModel" [(ngModel)]="interviewModel.interviewType" class="custom-select">
              <option value="">--Select Type--</option>
              <option *ngFor="let type of interviewType" [value]="type.id">{{type.label}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
          <label>Interviewers</label>
          <ngx-employee-master-search class="custom-select" (masterSubmitted)="getSelectedEmployee($event,'employee')" [allowmultipleselection]="allowmultipleselection" [selectionHeader]="selectionHeader" [addbtnText]="addbtnText"></ngx-employee-master-search>
        </div>
        </div>

          <div class="form-group row" style="padding-top: 100px;">
            <div class="col">
              <button *ngIf="!btnProcessing"  nbButton status="primary" (click)="scheduleForInterview()">Save</button>
              <button *ngIf="btnProcessing" nbButton status="primary">Now Processing &nbsp; <i class="fa fa-spin fa-spinner"></i></button>
              <span style="padding: 8px;"></span>
              <button nbButton (click)="cancelSchedule()">Cancel</button>
            </div>
          </div>
        </form>
          </div>
  </ngx-side-modal>

  <ngx-side-modal [(show)]="addEducation" style="margin-top: -75px;">
    <div modal-header>Add Education</div>
    <div modal-body>
      <form>
        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Country</label>
            <select name="country" #country="ngModel" [(ngModel)]="educationModel.country" class="custom-select" required>
              <option value="">--Select Country--</option>
              <option *ngFor="let mycountry of allCountries" [value]="mycountry.id">{{mycountry.name}}</option>
            </select>
            <div *ngIf="country.invalid && (country.dirty || country.touched)" class="error">
              <div *ngIf="country.errors.required">Country is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">School</label>
            <select type="text" class="form-control" name="school" #school="ngModel" [(ngModel)]="educationModel.school" placeholder="School">
              <option value="">--Select School--</option>
              <option *ngFor="let myschool of allInstitutions" [value]="myschool.id">{{myschool.name}}</option>
            </select>
            <div *ngIf="school.invalid && (school.dirty || school.touched)" class="error">
              <div *ngIf="school.errors.required">School is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Course</label>
            <select type="text" class="form-control" name="course" #course="ngModel" [(ngModel)]="educationModel.course" placeholder="Course">
              <option value="">--Select Course--</option>
              <option *ngFor="let mycourse of allCourses" [value]="mycourse.id">{{mycourse.name}}</option>
            </select>
              <div *ngIf="course.invalid && (course.dirty || course.touched)" class="error">
              <div *ngIf="course.errors.required">Course is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Grade</label>
            <select class="custom-select" name="grade" #grade="ngModel" [(ngModel)]="educationModel.grade" placeholder="Grade">
              <option value="">--Select Grade--</option>
              <option *ngFor="let mygrade of gradeData" [value]="mygrade.id">{{mygrade.text}}</option>
            </select>            <div *ngIf="grade.invalid && (grade.dirty || grade.touched)" class="error">
              <div *ngIf="grade.errors.required">Grade is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Degree</label>
            <select type="text" class="form-control" name="degree" #degree="ngModel" [(ngModel)]="educationModel.degree" placeholder="Qualification" required>
              <option value="">--Select Qualification--</option>
              <option *ngFor="let qualification of qualificationData" [value]="qualification.categoryId">{{qualification.name}}</option>
              </select>
              <div *ngIf="degree.invalid && (degree.dirty || degree.touched)" class="error">
                <div *ngIf="degree.errors.required">Qualification is required</div>
              </div>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Duration</label>
            <ngx-date-range [(start)]="educationModel.startDate" [(end)]="educationModel.endDate" required></ngx-date-range>
          </div>
        </div>



          <div class="form-group row">
            <div class="col">
              <button nbButton status="primary" (click)="updateEducation()">Save</button>
              <span style="padding: 8px;"></span>
              <button nbButton>Cancel</button>
            </div>
          </div>
        </form>
          </div>

  </ngx-side-modal>

  <ngx-side-modal [(show)]="jobPreference" style="margin-top: -75px;">
    <div modal-header>Add Job Preference</div>
    <div modal-body>
      <form>
        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Job Role</label>
                <select class="custom-select" name="jobRole" #jobRole="ngModel" [(ngModel)]="preferenceModel.jobName" placeholder="Job Name">
                  <option value="">--Select Job Type--</option>
                  <option *ngFor="let type of jobRoleData" value=""></option>
                </select>
                </div>
            </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Job Type</label>
            <select type="text" class="custom-select" name="jobType" #jobType="ngModel" [(ngModel)]="preferenceModel.jobType" placeholder="Job Name">
              <option value="">--Select Job Type--</option>
              <option *ngFor="let type of jobTypeData" value=""></option>
            </select>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Industry</label>
            <select type="text" class="custom-select" name="industry" #industry="ngModel" [(ngModel)]="preferenceModel.indusry" placeholder="Industry">
              <option value="">--Select Industry--</option>
              <option *ngFor="let myindustry of sectorData" value=""></option>
            </select>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Job Level</label>
            <select type="text" class="custom-select" name="jobLevel" #jobLevel="ngModel" [(ngModel)]="preferenceModel.jobLevel" placeholder="Job Level">
              <option value="">--Select Job Level--</option>
              <option *ngFor="let type of jobLevelData" value=""></option>
            </select>
          </div>
        </div>

        <div class="form-group row mydiv">
          <div class="col">
            <label class="col-form-label mylabel">Salary Range</label>
            <select type="tel" class="custom-select" name="salaryRange" #salaryRange="ngModel" [(ngModel)]="preferenceModel.salaryRange" placeholder="Salary Range">
              <option value="">--Select Job Type--</option>
              <option *ngFor="let salary of salaryData" value=""></option>
          </select>
          </div>
        </div>

      <!-- <button nbButton status='primary' outline style="background: transparent;" (click)="addNewJobPref()">Add New Preference</button> -->

          <div class="form-group row">
            <div class="col">
              <button *ngIf="!btnprocessing" nbButton status="primary" (click)="addPreference()">Save</button>
              <button *ngIf="btnprocessing" type="button" nbButton status="primary">Processing &nbsp; <i class="fa fa-spin fa-spinner"></i></button>
              <span style="padding: 8px;"></span>
              <button nbButton>Cancel</button>
            </div>
          </div>
        </form>
          </div>

  </ngx-side-modal>
