<nb-card>
    <nb-card-body style="height: 43vh;">
        <div style="width: 100%; position: relative;">
            <ngx-cal></ngx-cal>
            <button nbButton [nbPopover]="formcomponent" style="position: fixed; top: 50%; left: 50%;;"></button>
            <ngx-calender style="background-color: white; height: 700px;"></ngx-calender>
            <!-- <full-calendar style="display: none;" [options]="calendarOptions" style="margin-top: 50px;"></full-calendar> -->
        </div>
    </nb-card-body>
</nb-card>