<ngx-componentsheader pageName='Emloyee View'>

</ngx-componentsheader>

<div class="row">
    <div class="col-md-4 col-xxl-4">
    <nb-card>
    <nb-card-body style="padding: 1.5rem 1rem 0 1rem !important;">
      <div class="fmContainer">
        <div style="padding-bottom: 0;">
          <div style="display: flex;align-items: center;justify-content: center;">
          <div class="employee-avatar">
          <img [src]="newPromotion.profile_pic" onError="this.src='assets/icons/camera.jpg'">
          </div>
          </div>
        <div style="text-align: center; padding: 10px;">
            <p class="header6-medium" style="margin-bottom: 1rem !important;">{{employeeDetails.firstName}}&nbsp;{{employeeDetails.lastName}}</p>
                            <p style="color: #95A8B8 !important;">{{jobName}}</p>
        </div>
        </div>
        </div>
    </nb-card-body>
    <div>
        <div #linklist style="display: flex;flex-direction: column;" *ngFor="let hiringlist of employeeviewlist; let i = index">

            <div (click)="selectPanel(hiringlist,i)" [ngClass]="{'wizardlistactive': hiringlist.status == 'Active','wizardlistinactive': hiringlist.status != 'Active'}" style="display: flex;flex-direction: row;margin: .5rem 0 .5rem 0; align-items: center;cursor: pointer;">
            <div style="padding-left: 1rem;"><nb-icon icon="{{hiringlist.iconname}}" status="{{hiringlist.status == 'Active'? 'primary': 'none'}}"></nb-icon></div>
            <div style="padding-left: 0.625rem;"><span [ngClass]="{'listtextActive': hiringlist.status == 'Active','listtextInactive': hiringlist.status != 'Active'}" >{{hiringlist.label}} </span> </div>
            </div>

      </div>
    </div>

    </nb-card>
    </div>
    <div class="col-md-8 col-xxl-8">
        <nb-card>
            <nb-card-body>
                <div #scase [ngSwitch]="selectedCase">
                    <div class="fmContainer" *ngSwitchCase="'personal_Info'">
                        <nb-tabset>
                            <nb-tab tabTitle="Personal information">

                                <div style="font-weight: normal;">
                                    <div class="row" style="padding-bottom: 20px;">
                                        <div class="col-sm-4">
                                            <span>First Name</span>
                                        </div>
                                        <div class="col-sm-8">
                                            <span>{{employeeDetails.firstName}}</span>
                                        </div>
                                    </div>

                                    <div class="row" style="padding-bottom: 20px;">
                                      <div class="col-sm-4">
                                          <span>Last Name</span>
                                      </div>
                                      <div class="col-sm-8">
                                        <span>{{employeeDetails.lastName}}</span>
                                      </div>
                                  </div>

                                  <div class="row" style="padding-bottom: 20px;">
                                    <div class="col-sm-4">
                                        <span>Employee ID</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span>{{employeeDetails.id}}</span>
                                    </div>
                                </div>

                                <div class="row" style="padding-bottom: 20px;">
                                  <div class="col-sm-4">
                                      <span>Email Address</span>
                                  </div>
                                  <div class="col-sm-8">
                                    <span>{{employeeDetails.workEmail}}</span>
                                  </div>
                              </div>

                              <div class="row" style="padding-bottom: 20px;">
                                <div class="col-sm-4">
                                    <span>Position</span>
                                </div>
                                <div class="col-sm-8">
                                    <span>{{getPositionName(employeeDetails.contracts[0]?.positionName)}}</span>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 20px;">
                              <div class="col-sm-4">
                                  <span>Department</span>
                              </div>
                              <div class="col-sm-8">
                                <span>{{employeeDetails.contracts[0]?.departmentName}}</span>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-4">
                                <span>Address</span>
                            </div>
                            <div class="col-sm-8" *ngFor="let add of employeeDetails.addresses">
                                <div style="display: flex;flex-direction: column;">
                                <span>{{add.address1}}</span>
                                <span>{{add.address2}}</span>
                                <span>{{add.address_type_name}}</span>
                                <span>{{add.lga}}</span>
                                <span>{{add.state}}</span>                                           
                               </div>
                            </div>
                        </div>

                                </div>

                            </nb-tab>

                            <nb-tab tabTitle="Qualifications">
                                <nb-card-body>
                                    <ngx-default-content *ngIf="showEmptyQualifications" pageHeader="No Qualification Record Found"
                                    pageDescription="" buttonValue=""
                                >
                                  </ngx-default-content>
                                  <ngx-tablecomponent *ngIf="!showEmptyQualifications" [showFilter]="false"
                                     [userData]="employeeDetails.qualifications"
                                    [tableColum]="tableColumns" [totalItems]="totalItems" [currentPage]="currentPage" >
                                  </ngx-tablecomponent>
                                </nb-card-body>



                            </nb-tab>
                        </nb-tabset>
                    </div>
                    <div class="fmContainer" *ngSwitchCase="'promotion_info'">

                                <div style="font-weight:normal;">
                                  <h5 style="padding-bottom: 20px;">Promotion Information</h5>
                                  

                                    <div class="row" style="padding-bottom: 20px;">
                                      <div class="col-sm-4">
                                          <span>Confirmation Date</span>
                                      </div>
                                      <div class="col-sm-8">
                                       <span>{{newPromotion.date_of_confirmation | date}}</span>
                                      </div>
                                  </div>

                                  <div class="row" style="padding-bottom: 20px;">
                                    <div class="col-sm-4">
                                        <span>Last Promotion Date</span>
                                    </div>
                                    <div class="col-sm-8">
                                       <span>{{newPromotion.last_promotion_date | date}}</span>
                                    </div>
                                </div>

                                <div class="row" style="padding-bottom: 20px;">
                                  <div class="col-sm-4">
                                      <span>Effective Date</span>
                                  </div>
                                  <div class="col-sm-8">
                                   <span>{{newPromotion.effective_date | date}}</span>
                                  </div>
                              </div>

                              <div class="row" style="padding-bottom: 20px;">
                                <div class="col-sm-4">
                                    <span>Current Level</span>
                                </div>
                                <div class="col-sm-8">
                                   <span>{{getPositionName(newPromotion.current_position_id)}}</span>
                                </div>
                            </div>

                            <div class="row" style="padding-bottom: 20px;">
                              <div class="col-sm-4">
                                  <span>Duration in Grade</span>
                              </div>
                              <div class="col-sm-8">
                                  <span>{{newPromotion.years_in_current_grade}}</span>
                              </div>
                          </div>

                       

                        <div class="row" style="padding-bottom: 20px;">
                          <div class="col-sm-4">
                              <span>Next Level</span>
                          </div>
                          <div class="col-sm-8">
                             <span>{{getPositionName(newPromotion.next_position_id)}}</span>
                          </div>
                      </div>

                                </div>

                                <!-- <div class="row">
                                    <div class="col-md-4" style="display: flex;align-items:center">
                                        <div class="d-flex" style="margin-top: 40px; margin-bottom: 60px;">
                                          <button nbButton status="primary" class="d-flex column">Approve</button>
                                          <button nbButton outline status="primary" class="d-flex column"
                                              style="background-color: white; margin-left: 10px;">Discard</button>


                                        </div>
                                    </div>
                                    <div class="col-md-8 col-xxl-8 ">

                                    </div>
                                </div> -->
                    </div>

                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>
