<ngx-componentsheader
  pageName='Profile Details'>
<div headerButton>
  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <div style="margin-right: 5px;">
      <button *ngIf="(planDataCounter > 0) && !isSuccessor"   [outline]="true"   (click)="newCandidate()"   nbButton   status="primary" >
        Add Successor
       </button>
    </div>
    <div>
      <button *ngIf="(planDataCounter > 0 && !isSuccessor)"  (click)="modifyPlan()" nbButton status="primary">
        Modify Plan
        </button>
    </div>
  </div>

<button *ngIf="(planStatus == false && planDataCounter < 1) && !isSuccessor" (click)="addPlan()" nbButton status="primary">
Create Succession
</button>
<div style="display: flex;flex-direction: row;" *ngIf="isSuccessor">
    <div class="form-group row">
      <div class="col-md-8" style="display: flex; flex-direction: row; justify-content:left;">
        <div class="col-md-8">
          <label>Readines to Start</label>
        </div>
        <div class="col-md-4">
          <input type="number" name="readiness" min="0" max="12" class="form-control">
        </div>
      </div>
      <div class="col-md-4"><button nbButton status="primary"> Change </button></div>
    </div>

</div>

</div>
</ngx-componentsheader>

<div style="display: flex; flex-direction: row; justify-content: flex-start; flex: auto; padding-bottom: 5px;">
  <span><i class="far fa-arrow-alt-circle-left"></i><a (click)="goback()" style="margin-left: 3px;cursor: pointer;">Back</a></span>
</div>
<div>
  <nb-card>
    <nb-card-header>Employee Information</nb-card-header>
    <!-- <nb-card-body *ngIf="pageLoading == true">
      <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
        <div class="col-md">
          <img src="assets/icons/department.jpg" style="width:3rem;">
        </div>
      </div>
    </nb-card-body> -->

    <nb-card-body>
      <div class="row" style="display: flex; flex-direction: row; justify-content: space-between; align-items: flex-start;">
        <div class="col-md">
          <img src="assets/icons/department.jpg" style="width:3rem;">
        </div>
        <div class="col-md-10">
          <div class="row" style="display: flex; flex-direction: row; justify-content: space-between;">
            <div class="col-md-4 col-lg-4 col-sm-6">
              <span style="font-weight: 600; padding-right:25px;">Name:</span><span>{{employeeData.firstName}}  {{employeeData.lastName}}</span>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6">
              <span
                style="font-weight: 600; padding-right:25px;">Department:</span><span></span>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6">
              <span style="font-weight: 600; padding-right:25px;">Level:</span><span>{{ gradeName }}</span>
            </div>
          </div>

          <div class="row" style="display: flex; flex-direction: row; justify-content: space-between;">
            <div class="col-md-4 col-lg-4 col-sm-6">
              <span style="font-weight: 600; padding-right:25px;">Job Title:</span><span>{{ jobName }}</span>
            </div>

            <div class="col-md-4 col-lg-4 col-sm-6">
              <span style="font-weight: 600; padding-right:25px;">Location:</span><span>{{locationName}}</span>
            </div>
          </div>
        </div>


      </div>
    </nb-card-body>
  </nb-card>
</div>

<div style="padding: 10px"></div>

<nb-card>
  <nb-card-header *ngIf="isSuccessor == false" style="font-size: large; font-weight: bold;">Role Competencies</nb-card-header>
  <nb-card-header *ngIf="isSuccessor == true" style="font-size: large; font-weight: bold;">Required Competencies</nb-card-header>
  <nb-card-body>

      <div class="row" style="display: flex; flex-direction: row; justify-content: left; align-items: flex-start;">
        <div class="col-md-6">
          <span style="font-size:medium; font-weight: bold;">Qualifications</span>
          <div *ngIf="qualificationData.length > 0">
            <div *ngFor="let qualification of qualificationData">
              <div style="padding: 5px;"></div>
              <div style="display: flex; flex-direction: column; justify-self: center;">
                <span class="title">Qualifications</span>
                <span class="date">Date</span>
              </div>
            </div>
          </div>

          <div *ngIf="qualificationData.length < 1">
            <p>No record found</p>
          </div>

        </div>

        <div class="col-md-6">
          <span style="font-size:medium; font-weight: bold;">Certifications</span>
          <div style="padding: 5px;"></div>
          <div *ngIf="certificationData.length > 0">
            <div style="display: flex; flex-direction: column; justify-self: center;"
            *ngFor="let certification of certificationData">
            <span><i class="fas fa-circle"
                style="font-size:xx-small; color: #4847E0; padding-right: 4px;"></i>Cert</span>
          </div>
          </div>

          <div *ngIf="certificationData.length < 1">
            <p>No record found</p>
          </div>
        </div>
    </div>

    <div class="row" style="display: flex; flex-direction: row; justify-content: left; align-items: flex-start;">

      <div class="col-md-6">
        <span style="font-size:medium; font-weight: bold;">Work Experience</span>
        <div style="padding: 5px;"></div>
        <div *ngIf="experienceData.length > 0">
          <div style="display: flex; flex-direction: column; justify-self: center;"
          *ngFor="let experience of experienceData">
          <span><i class="fas fa-circle"
              style="font-size:xx-small; color: #4847E0; padding-right: 4px;"></i>Cert</span>
        </div>
        </div>
        <div *ngIf="experienceData.length < 1">
          <p>No record found</p>
        </div>
      </div>
      <div class="col-md-6">
        <span style="font-size:medium; font-weight: bold;">Skills</span>
        <div style="padding: 5px;"></div>
        <div *ngIf="skillsData.length > 0">
          <div style="display: flex; flex-direction: column; justify-self: center;"
          *ngFor="let skill of skillsData">
          <span><i class="fas fa-circle"
              style="font-size:xx-small; color: #4847E0; padding-right: 4px;"></i>Skill</span>
        </div>
        </div>
        <div *ngIf="skillsData.length < 1">
          <p>No record found</p>
        </div>
    </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="isSuccessor == true">
  <nb-card-header style="font-size: large; font-weight: bold;">Available Competencies</nb-card-header>
  <nb-card-body>

      <div class="row" style="display: flex; flex-direction: row; justify-content: left; align-items: flex-start;">
        <div class="col-md-6">
          <span style="font-size:medium; font-weight: bold;">Qualifications</span>
          <div *ngIf="qualificationData.length > 0">
            <div *ngFor="let qualification of qualificationData">
              <div style="padding: 5px;"></div>
              <div style="display: flex; flex-direction: column; justify-self: center;">
                <span class="title">Qualifications</span>
                <span class="date">Date</span>
              </div>
            </div>
          </div>

          <div *ngIf="qualificationData.length < 1">
            <p>No record found</p>
          </div>

        </div>

        <div class="col-md-6">
          <span style="font-size:medium; font-weight: bold;">Certifications</span>
          <div style="padding: 5px;"></div>
          <div *ngIf="certificationData.length > 0">
            <div style="display: flex; flex-direction: column; justify-self: center;"
            *ngFor="let certification of certificationData">
            <span><i class="fas fa-circle"
                style="font-size:xx-small; color: #4847E0; padding-right: 4px;"></i>Cert</span>
          </div>
          </div>

          <div *ngIf="certificationData.length < 1">
            <p>No record found</p>
          </div>
        </div>
    </div>

    <div class="row" style="display: flex; flex-direction: row; justify-content: left; align-items: flex-start;">

      <div class="col-md-6">
        <span style="font-size:medium; font-weight: bold;">Work Experience</span>
        <div style="padding: 5px;"></div>
        <div *ngIf="experienceData.length > 0">
          <div style="display: flex; flex-direction: column; justify-self: center;"
          *ngFor="let experience of experienceData">
          <span><i class="fas fa-circle"
              style="font-size:xx-small; color: #4847E0; padding-right: 4px;"></i>Cert</span>
        </div>
        </div>
        <div *ngIf="experienceData.length < 1">
          <p>No record found</p>
        </div>
      </div>
      <div class="col-md-6">
        <span style="font-size:medium; font-weight: bold;">Skills</span>
        <div style="padding: 5px;"></div>
        <div *ngIf="skillsData.length > 0">
          <div style="display: flex; flex-direction: column; justify-self: center;"
          *ngFor="let skill of skillsData">
          <span><i class="fas fa-circle"
              style="font-size:xx-small; color: #4847E0; padding-right: 4px;"></i>Skill</span>
        </div>
        </div>
        <div *ngIf="skillsData.length < 1">
          <p>No record found</p>
        </div>
    </div>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: space-between;">
       <button type="submit" class="btn my-button"     nbButton status="primary">Create Upskilling Plan</button>
       <span style="padding: 8px;"></span>
       <button type="submit" class="btn cancel-button" (click)="toggleCompetency()" nbButton status="primary" outline>Compare Competency</button>
     </div>

  </nb-card-body>
</nb-card>

<nb-card *ngIf="(successionEmployeesData.length > 0 && isSuccessor == false)">
  <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
    <h5 style="padding:20px;">Succesors</h5><a href="" style="padding:20px; font-weight:600; text-decoration: underline;">View Tree</a>
  </div>
  <ngx-tableheader></ngx-tableheader>
  <ngx-tablecomponent [loading]='loading' [tableColum]="successorsTable" [userData]='successionEmployeesData' (actionClick)="tableActionClicked($event)" [actions]='tableActions'></ngx-tablecomponent>
</nb-card>

<nb-card *ngIf="successionEmployeesData.length < 1">
  <ngx-default-content *ngIf="showEmpty" pageHeader="No successor found"
    pageDescription="Click on the button to add a successor" buttonValue="Create Plan" [loading]="loading"
    (buttonClick)="addPlan()">
  </ngx-default-content>
</nb-card>

  <ngx-side-modal [(show)]='newPlan' style="width: 600px;">
    <div modal-header>Create Succession Plan</div>
    <div modal-body>
            <form name="planForm" #planForm="ngForm">
              <div class="form-group row">
                <div class="col">
                  <label>Title</label>
                  <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="newSuccessionPlan.planTitle" required>
                  <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
                    <div *ngIf="title.errors.required">Title is required</div>
                  </div>
                </div>
              </div>

              <div class="row">
               <div class="form-group col">
                <label>Employee</label>
                <input type="text" class="form-control" [(value)]="employeeData.fullName" readonly>
                <!-- <div *ngIf="employee.invalid && (employee.dirty || employee.touched)" class="error">
                  <div *ngIf="employee.errors.required">Employee Name is required</div>
                </div> -->
              </div>
              </div>

              <!-- <div class="form-group row">
                <div class="col">
                  <label for="Department" class="col-form-label mylabel">Current Employee</label>
                  <ngx-employee-master-search (masterSearchOpened)="newPlan = false" (masterSubmitted)="getSelectedEmployee($event,'employee');newPlan = true" [allowmultipleselection]="allowmultipleselection" [selectionHeader]="selectionHeader" [addbtnText]="addbtnText"></ngx-employee-master-search>
                </div>
              </div> -->

              <!-- <div class="row">
                <div class="form-group col">
                 <label>Position</label>
                 <input type="text" class="form-control" name="position" required>
                 <div *ngIf="position.invalid && (position.dirty || position.touched)" class="error">
                  <div *ngIf="position.errors.required">Position is required</div>
                </div>
                </div>
               </div> -->

               <div class="form-group row">
                <div class="col">
                 <label>Competency</label>
                 <select class="custom-select" name="competencyId" #competencyTitle="ngModel" [(ngModel)]="newSuccessionPlan.competencyId" required>
                   <option value="">--Select--</option>
                   <option *ngFor="let competency of allCompetencies" [value]="competency.competencyId">{{ competency.competencyTitle }}</option>
                 </select>
                 <div *ngIf="competencyTitle.invalid && (competencyTitle.dirty || competencyTitle.touched)" class="error">
                  <div *ngIf="competencyTitle.errors.required">Competency is required</div>
                </div>
                </div>
               </div>

               <!-- <div class="form-group row">
                <div class="col">
                 <label>Successing Candidate</label>
                 <ngx-employee-master-search (masterSubmitted)="getSuccessingCandidate($event,'employee')" [allowmultipleselection]="allowmultipleselection" [selectionHeader]="selectionHeader" [addbtnText]="addbtnText"></ngx-employee-master-search>
                </div>
               </div> -->

               <div class="form-group row">
                <div class="col">
                 <label>Readiness to start</label>
                 <input type="number" class="custom-select" name="readinessToStart" #readinessToStart="ngModel" [(ngModel)]="newSuccessionPlan.readinessToStart" placeholder="Readiness in months" required>
                 <div *ngIf="readinessToStart.invalid && (readinessToStart.dirty || readinessToStart.touched)" class="error">
                  <div *ngIf="readinessToStart.errors.required">Readiness is required</div>
                </div>
                </div>
               </div>


               <div class="form-group row">
                <div class="col">
                 <label>Purpose</label>
                 <select type="text"  class="custom-select" name="purpose" #purpose="ngModel" [(ngModel)]="newSuccessionPlan.purpose">
                  <option value="">--Select--</option>
                  <option *ngFor="let purpose of allPurposes" [value]="purpose.name">{{purpose.title}}</option>
                </select>
                <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="error">
                  <div *ngIf="purpose.errors.required">Purpose is required</div>
                </div>
                </div>
               </div>
<!--
              <div class="row" style="margin-top: 20px">
               <div class="form-group col">
                <button nbButton status="primary" (click)="createSuccessionPlan()">Create</button>
               </div>
              </div> -->

              <div class="form-group row">
                <div class="col-sm-6" style="display: flex; flex-direction: row; justify-content: space-between;">
                 <button type="submit" class="btn my-button" (click)="createSuccessionPlan()" [disabled]="!planForm.valid" nbButton status="primary">Submit</button>
                 <span style="padding: 8px;"></span>
                 <button type="submit" class="btn cancel-button" (click)="cancelPlan()" nbButton status="primary" outline>Cancel</button>
               </div>
             </div>
            </form>

    </div>
    </ngx-side-modal>

  <ngx-side-modal [(show)]='newSuccessor' style="width: 600px;">
      <div modal-header>Add Employee to Plan</div>
      <div modal-body>
              <form name="addCandidateForm" #addCandidateForm="ngForm">
                <div class="form-group row">
                  <div class="col">
                    <label>Plan Title</label>
                    <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="planData.title" readonly>
                  </div>
                </div>

                <div class="row">
                 <div class="form-group col">
                  <label>Holding Employee</label>
                  <input type="text" class="form-control" name="holdersName" #holdersName="ngModel" [(ngModel)]="planData.holdersName" readonly>
                </div>
                </div>

                 <div class="form-group row">
                  <div class="col">
                   <label>Competency</label>
                   <input type="text" class="form-control" name="competency" #competency="ngModel" [(ngModel)]="planData.competencyName" readonly>
                   <!-- <select class="custom-select" name="competencyId" #competencyTitle="ngModel" [(ngModel)]="planData.purpose" required>
                     <option value="">--Select--</option>
                     <option *ngFor="let competency of allCompetencies" [value]="competency.competencyId">{{ competency.competencyTitle }}</option>
                   </select> -->
                  </div>
                 </div>

                 <div class="form-group row">
                  <div class="col">
                   <label>Purpose</label>
                   <input type="text" class="form-control" name="purpose" #purpose="ngModel" [(ngModel)]="planData.purpose" readonly>
                  </div>
                 </div>

                 <div class="form-group row">
                  <div class="col">
                   <label>Successing Candidate</label>
                   <ngx-employee-master-search (masterSubmitted)="getSuccessingCandidate($event,'employee')" [allowmultipleselection]="allowmultipleselection" [selectionHeader]="selectionHeader" [addbtnText]="addbtnText"></ngx-employee-master-search>
                  </div>
                 </div>

                 <div class="form-group row">
                  <div class="col">
                   <label>Readiness to start</label>
                   <input type="number" class="custom-select" name="readiness" #readiness="ngModel" [(ngModel)]="updateSuccessionPlan.readinessToStart" placeholder="Readiness in months" required>
                   <div *ngIf="readiness.invalid && (readiness.dirty || readiness.touched)" class="error">
                    <div *ngIf="readiness.errors.required">Readiness is required</div>
                  </div>
                  </div>
                 </div>

                <div class="form-group row">
                  <div class="col-sm-6" style="display: flex; flex-direction: row; justify-content: space-between;">
                   <button type="submit" class="btn my-button" (click)="addEmployeeToPlan()" nbButton status="primary">Submit</button>
                   <span style="padding: 8px;"></span>
                   <button type="submit" class="btn cancel-button" (click)="cancelPlan()" nbButton status="primary" outline>Cancel</button>
                 </div>
               </div>
              </form>

      </div>
      </ngx-side-modal>

  <ngx-side-modal [(show)]='editPlan' style="width: 600px;">
        <div modal-header>Update Plan</div>
        <div modal-body>
                <form name="planForm" #planForm="ngForm">
                  <div class="form-group row">
                    <div class="col">
                      <label>Title</label>
                      <input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="newSuccessionPlan.planTitle" required>
                      <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
                        <div *ngIf="title.errors.required">Title is required</div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                   <div class="form-group col">
                    <label>Employee</label>
                    <input type="text" class="form-control" [(value)]="employeeData.fullName" readonly>
                  </div>
                  </div>

                   <div class="form-group row">
                    <div class="col">
                     <label>Competency</label>
                     <select class="custom-select" name="competencyId" #competencyTitle="ngModel" [(ngModel)]="newSuccessionPlan.competencyId" required>
                       <option value="">--Select--</option>
                       <option *ngFor="let competency of allCompetencies" [value]="competency.competencyId">{{ competency.competencyTitle }}</option>
                     </select>
                     <div *ngIf="competencyTitle.invalid && (competencyTitle.dirty || competencyTitle.touched)" class="error">
                      <div *ngIf="competencyTitle.errors.required">Competency is required</div>
                    </div>
                    </div>
                   </div>

                   <div class="form-group row">
                    <div class="col">
                     <label>Readiness to start</label>
                     <input type="number" class="custom-select" name="readinessToStart" #readinessToStart="ngModel" [(ngModel)]="newSuccessionPlan.readinessToStart" placeholder="Readiness in months" required>
                     <div *ngIf="readinessToStart.invalid && (readinessToStart.dirty || readinessToStart.touched)" class="error">
                      <div *ngIf="readinessToStart.errors.required">Readiness is required</div>
                    </div>
                    </div>
                   </div>


                   <div class="form-group row">
                    <div class="col">
                     <label>Purpose</label>
                     <select type="text"  class="custom-select" name="purpose" #purpose="ngModel" [(ngModel)]="newSuccessionPlan.purpose">
                      <option value="">--Select--</option>
                      <option *ngFor="let purpose of allPurposes" [value]="purpose.name">{{purpose.title}}</option>
                    </select>
                    <div *ngIf="purpose.invalid && (purpose.dirty || purpose.touched)" class="error">
                      <div *ngIf="purpose.errors.required">Purpose is required</div>
                    </div>
                    </div>
                   </div>

                  <div class="form-group row">
                    <div class="col-sm-6" style="display: flex; flex-direction: row; justify-content: space-between;">
                     <button type="submit" class="btn my-button" (click)="createSuccessionPlan()" [disabled]="!planForm.valid" nbButton status="primary">Submit</button>
                     <span style="padding: 8px;"></span>
                     <button type="submit" class="btn cancel-button" (click)="cancelPlan()" nbButton status="primary" outline>Cancel</button>
                   </div>
                 </div>
                </form>
        </div>
    </ngx-side-modal>

  <ngx-side-modal [(show)]='compareCompetency' [position]="'Center'" style="width: 800px;">
      <div modal-header style="display: flex; flex-direction: row; justify-content: space-between;">
        <div modal-header>Compare Competency</div>
        <div modal-header><i class="fa fa-times" (click)="compareCompetencies()" aria-hidden="true"></i></div>
    </div>
      <div modal-body>
        <div>
          <nb-card>
            <nb-card-body>
                <div class="row" style="display: flex; flex-direction: row; justify-content:center; align-items: center;">
                    <div class="col-md-3 col-lg-3 col-sm-3"></div>

                      <div class="col-md-3 col-lg-3 col-sm-3">
                        <div>
                          <img src="assets/icons/department.jpg" style="width:3rem;">
                        </div>
                        <span style="font-weight: 600; padding-right:25px; text-align: center;">Philip Muyiwa</span><br>
                        <span>Sales</span>
                      </div>

                      <div class="col-md-3 col-lg-3 col-sm-3">
                        <div>
                          <img src="assets/icons/department.jpg" style="width:3rem;">
                        </div>
                        <span style="font-weight: 600; padding-right:25px; text-align: center;">Ridwan Olawunmi</span><br>
                        <span>Marketing</span>
                      </div>

                      <div class="col-md-3 col-lg-3 col-sm-3"></div>
                  </div>
            </nb-card-body>
          </nb-card>
                </div>

        <nb-card>
          <nb-card-header>Role Competencies</nb-card-header>
          <nb-card-body>
            <div>
              <div class="row" style="display: flex; flex-direction: row; justify-content: left; align-items: flex-start;">
                <div class="col-md-2">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">Tag</span>
                    <span class="title">Tag</span>
                    <span class="title">Tag</span>
                    <span class="title">Tag</span>
                  </div>
                </div>
                <div class="col-md-5">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">Bsc. in Sales and Marketing</span>
                    <span class="title">Bsc. in Sales and Marketing</span>
                    <span class="title">Bsc. in Sales and Marketing</span>
                    <span class="title">Bsc. in Sales and Marketing</span>
                  </div>
                </div>

                <div class="col-md-5">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">Bsc. in Sales and Marketing</span>
                    <span class="title">Bsc. in Sales and Marketing</span>
                    <span class="title">Bsc. in Sales and Marketing</span>
                    <span class="title">Bsc. in Sales and Marketing</span>
                  </div>
                </div>
                </div>

            </div>

          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>Skills</nb-card-header>
          <nb-card-body>
            <div>
              <div class="row" style="display: flex; flex-direction: row; justify-content: left; align-items: flex-start;">
                <div class="col-md-4">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">Communication</span>
                    <span class="title">Computer Literacy</span>
                    <span class="title">Time Management</span>
                    <span class="title">Complete Candor</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">No</span>
                    <span class="title">Yes</span>
                    <span class="title">Yes</span>
                    <span class="title">Yes</span>
                  </div>
                </div>

                <div class="col-md-4">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">Yes</span>
                    <span class="title">No</span>
                    <span class="title">Yes</span>
                    <span class="title">Yes</span>
                  </div>
                </div>
                </div>

            </div>

          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header>Qualification</nb-card-header>
          <nb-card-body>
            <div>
              <div class="row" style="display: flex; flex-direction: row; justify-content: left; align-items: flex-start;">
                <div class="col-md-4">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">Communication</span>
                    <span class="title">Computer Literacy</span>
                    <span class="title">Time Management</span>
                    <span class="title">Complete Candor</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">No</span>
                    <span class="title">Yes</span>
                    <span class="title">Yes</span>
                    <span class="title">Yes</span>
                  </div>
                </div>

                <div class="col-md-4">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">Yes</span>
                    <span class="title">No</span>
                    <span class="title">Yes</span>
                    <span class="title">Yes</span>
                  </div>
                </div>
                </div>

            </div>

          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header>Certification</nb-card-header>
          <nb-card-body>
            <div>
              <div class="row" style="display: flex; flex-direction: row; justify-content: left; align-items: flex-start;">
                <div class="col-md-4">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">Communication</span>
                    <span class="title">Computer Literacy</span>
                    <span class="title">Time Management</span>
                    <span class="title">Complete Candor</span>
                  </div>
                </div>
                <div class="col-md-4">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">No</span>
                    <span class="title">Yes</span>
                    <span class="title">Yes</span>
                    <span class="title">Yes</span>
                  </div>
                </div>

                <div class="col-md-4">
                  <div style="padding: 5px;"></div>
                  <div style="display: flex; flex-direction: column; justify-self: center;">
                    <span class="title">Yes</span>
                    <span class="title">No</span>
                    <span class="title">Yes</span>
                    <span class="title">Yes</span>
                  </div>
                </div>
                </div>

            </div>

          </nb-card-body>
        </nb-card>
      </div>
  </ngx-side-modal>


