  <div>
    <nb-card>
      <nb-card-header> Job title and Department details</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row mydiv">
            <label for="Title" class="col-sm-3 col-form-label mylabel">Job Title</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <input type="text" class="form-control" name="jobTitle" #jobTitle="ngModel" [(ngModel)]="newJobModel.position" placeholder="Job Title">
            </div>
          </div>

          <div class="form-group row ">
            <label for="Department" class="col-sm-3 col-form-label mylabel">Department</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <select class="custom-select" name="departmentName" #departmentName="ngModel"
              [(ngModel)]="newJobModel.departmentId" required>
                <option value="">--Select Department--</option>
                <option *ngFor="let department of allDepartments" [value]="department.id">{{ department.name }}</option>
              </select>
            </div>
          </div>

          <h6>Location</h6>
          <div class="form-group row mydiv">
            <label for="Country" class="col-sm-3 col-form-label mylabel">Country</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <select class="custom-select" required>
                <option value="">Select </option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>

          <div class="form-group row mydiv">
            <label for="Region" class="col-sm-3 col-form-label mylabel">Region, City or Zip Code</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <select class="custom-select" name="state" #state="ngModel" [(ngModel)]="newJobModel.state" required>
                <option value="">--Select State--</option>
                <option *ngFor="let state of allStates" [value]="state.id">{{state.name}}</option>
              </select>
            </div>
          </div>

          <h6>Description</h6>

          <div class="form-group row mydiv">
            <label for="Descripion" class="col-sm-3 col-form-label mylabel">Descripion</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <ngx-wysisyg-input [(ngModel)]="newJobModel.description" style="padding-left: -10px;"></ngx-wysisyg-input>
            </div>
          </div>

          <div class="form-group row mydiv">
            <label for="Descripion" [(ngModel)]="newJobModel.requirements" class="col-sm-3 col-form-label mylabel">Job Requirements</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <ngx-wysisyg-input style="padding-left: -10px;"></ngx-wysisyg-input>
            </div>
          </div>

          <h6>Employment Details</h6>

          <div class="form-group row mydiv">
            <label for="employmentType" class="col-sm-3 col-form-label mylabel">Employment Type</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <select class="custom-select" name="state" #state="ngModel" [(ngModel)]="newJobModel.employmentTypeId" required>
                <option value="">--Select Employment Type--</option>
                <option *ngFor="let employ of employmentTypes" [value]="employ.id">{{employ.name}}</option>
              </select>
            </div>

          </div>

          <div class="form-group row mydiv">
            <label for="availability" class="col-sm-3 col-form-label mylabel">Availability</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <select class="custom-select" name="state" #state="ngModel" [(ngModel)]="newJobModel.jobAvailabilityId" required>
                <option value="">--Select Availability--</option>
                <option *ngFor="let avail of jobAvailability" [value]="avail.id">{{avail.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group row mydiv">
            <label for="Region" class="col-sm-3 col-form-label mylabel">Experience</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
             <input type="number" class="form-control" name="experience" #experience="ngModel" [(ngModel)]="newJobModel.experience">
            </div>
          </div>

          <div class="form-group row mydiv">
            <label class="col-sm-3 col-form-label mylabel">Minimum Qualification</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <input type="text" class="form-control" name="minQualification" #minQualification="ngModel" [(ngModel)]="newJobModel.minQualificationId" placeholder="Minimum Education">
            </div>
          </div>

          <div class="form-group row mydiv">
            <label class="col-sm-3 col-form-label mylabel">Maximum Qualification</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <input type="text" class="form-control" name="maxQualification" #maxQualification="ngModel" [(ngModel)]="newJobModel.maxQualificationId" placeholder="Maximum Education">
            </div>
          </div>

          <h6>Annual Salary</h6>

          <div class="form-group row mydiv">
            <label for="Country" class="col-sm-3 col-form-label mylabel">Currency <span
                style="font-size: 16px; color: #95A8B8;">(optional)</span></label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <select class="custom-select" name="currency" #currency="ngModel" [(ngModel)]="newJobModel.currency" required>
                <option value="">Select </option>
                <option value="1">USD</option>
                <option value="2">NG</option>
                <option value="3">AUD</option>
              </select>
            </div>
          </div>

          <div class="form-group row mydiv">
            <label for="currency" class="col-sm-3 col-form-label mylabel">Min Salary<span
                style="font-size: 16px; color: #95A8B8;">(optional)</span></label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <app-amount-input [(value)]="newJobModel.maxSalary"></app-amount-input>
              <!-- <ngx-date [(value)]="loanModel.effectiveDate"></ngx-date> -->
            </div>
          </div>

          <div class="form-group row mydiv">
            <label for="currency" class="col-sm-3 col-form-label mylabel">Max Salary<span
                style="font-size: 16px; color: #95A8B8;">(optional)</span></label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <app-amount-input [(value)]="newJobModel.maxSalary"></app-amount-input>
            </div>
          </div>

          <hr style="margin: 40px 0px;">

          <div class="form-group row mydiv">
            <label for="currency" class="col-sm-3 col-form-label mylabel">Post Validity</label>
            <div class="col-sm-3 col-md-3 col-lg-3">
              <select class="custom-select" required>
                <option value="">From </option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
              <select class="custom-select" required>
                <option value="">To </option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="Beneficiary" class="col-sm-3 col-form-label">Reviewers</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <button type="submit" (click)="showMasterSearchModal()" class="btn cancel-button"
                style="padding: 5px 20px;">
                <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-plus" style="color: #4847E0; padding-right: 10px;"></i>
                  </span>
                </span>
                Add Reviewers
              </button>
              <ngx-employee-master-search></ngx-employee-master-search>

            </div>

          </div>


          <!-- Add reviewrs modal -->

          <div class="form-group row mydiv">
            <label for="Country" class="col-sm-3 col-form-label mylabel">Scorecard <span
                style="font-size: 16px; color: #95A8B8;">(optional)</span></label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <select class="custom-select" required>
                <option value="">Select </option>
                <option value="1">60%</option>
                <option value="2">87%</option>
                <option value="3">80%</option>
              </select>
            </div>
          </div>

          <div class="form-group row mydiv">
            <label for="Country" class="col-sm-3 col-form-label mylabel">Quiz <span
                style="font-size: 16px; color: #95A8B8;">(optional)</span></label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <select class="custom-select" required>
                <option type="button" class="select-button" value="">Select One</option>
                <option type="button" class="select-button" value="">Select Two</option>
                <option type="button" class="select-button" value="">Select Three</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="specialization" class="col-sm-3 col-form-label" style="font-weight: bold;"></label>
            <div class="col-sm-6">
              <button nbButton status="primary">Post</button>
              <span style="padding: 8px;"></span>
              <button nbButton>Save Draft</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>


  <ngx-side-modal [(show)]="showModal">
    <div modal-header>{{selectionHeader}}</div>
    <div modal-body>
      <nb-form-field>
        <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
        <input type="text" nbInput class="form-control">
      </nb-form-field>
      <div class="row">
        <div class="col-sm-4 form-group">
          <label>Department</label>
          <select class="form-control">
            <option></option>
          </select>
        </div>
        <div class="col-sm-4 form-group">
          <label>Branch</label>
          <select class="form-control">
            <option></option>
          </select>
        </div>
        <div class="col-sm-4 form-group">
          <label>Unit</label>
          <select class="form-control">
            <option></option>
          </select>
        </div>
        <div class="col-sm-4 form-group">
          <label>Level</label>
          <select class="form-control">
            <option></option>
          </select>
        </div>
        <div class="col-sm-4 form-group">
          <label>Gender</label>
          <select class="form-control">
            <option></option>
          </select>
        </div>
        <div class="col-sm-4 form-group">
          <label style="visibility: hidden;">Gender</label>
          <button nbButton status='primary' style="min-width: unset !important;">Search</button>
        </div>
      </div>
      <div>
        <div style="display: flex; justify-content: flex-end; margin: 1rem 0rem">
          <span style="color: #4847E0; cursor: pointer;">Select All</span>
        </div>
        <div style="border-top: 0.5px solid #CCCCCC;;">
          <div *ngFor="let i of [1,2,3,4,5]"
            style="display: flex; align-items: center; border-bottom: 0.5px solid #CCCCCC; padding: 1rem;">
            <input type="checkbox" style="margin-right: 2rem;" />
            <div style="display: flex;">
              <img style="width: 3rem; height: 3rem; border-radius: 50%; margin-right: 1rem;"
                src="https://via.placeholder.com/300/09f.png/fff%20C/O%20https://placeholder.com/" />
              <div style="display: flex; justify-content: space-between; flex-direction: column;">
                <div style="font-family: Rubik;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 19px;
                                    display: flex;">Sherrif Shorunke</div>
                <div style="font-family: Rubik;
                                    font-style: normal;
                                    font-weight: normal;
                                    font-size: 14px;
                                    display: flex;
                                    color: #6C757D;">UX</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: flex-end; margin: 1rem;">
        <button nbButton status='primary' style="margin-right: 0.5rem;">Add Reviewer</button>
        <button nbButton status='primary' outline style="background: transparent;">Cancel</button>
      </div>
    </div>
  </ngx-side-modal>

