<ngx-componentsheader actions="actions" [pageName]="pagetitle"></ngx-componentsheader>
<!-- <ngx-componentsheader *ngIf="!welcome && TrainingTypeData !='' && TrainingVendorData==''" [pageName]="pagetitle" [requiredButton]="addVendor"></ngx-componentsheader> -->
<!-- <ngx-componentsheader *ngIf="TrainingTypeData =='' && TrainingVendorData!=''" [pageName]="pagetitle" [requiredButton]="addType"></ngx-componentsheader> -->
<div style="padding: 10px;"></div>
<!-- New Tabs -->
<!-- <nb-card>
  <nb-card-body> -->
<div class="container" style="background-color: #ffffff; height: 1000px;">
  <nb-tabset>
    <nb-tab tabTitle="Vendors">
    <div *ngIf="welcome && TrainingVendorData ==''" id="home" class="container tab-pane active"><br>
      <div class="center">
        <h5 style="text-align: center;">You have not setup any training vendor</h5>
        <p style="text-align: center;">Click on the button to start your setup</p>

        <div class="col text-center">
          <button type="submit" class="btn my-button btn-md" (click)="addTraining()">Add Training Vendor</button>
        </div>
      </div>
      </div>

      <div *ngIf="welcome && TrainingVendorData !=''" id="home" class="container tab-pane active"><br>
        <ngx-tableheader></ngx-tableheader>
        <ngx-tablecomponent></ngx-tablecomponent>

      </div>

  <div *ngIf="newTraining" class="container" style="background-color: white; height: 800px;">
    <div style="padding: 20px 0px 5px 0px;">
      <span style="font-size: 15px; font-weight: bold;">Add Vendor Manually</span>
    </div>

      <br>
      <form>
        <div class="form-group row mydiv">
          <label for="vendorName" class="col-sm-3 col-form-label mylabel">Vendor Name</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="vendorName" placeholder="Vendor Name">
          </div>
        </div>
        <div class="form-group row mydiv">
          <label for="contactPerson" class="col-sm-3 col-form-label mylabel">Primary Contact Person</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="contactPerson" placeholder="Primary Contact Person">
          </div>
        </div>

        <div class="form-group row mydiv">
          <label for="phone" class="col-sm-3 col-form-label mylabel">Phone</label>
          <div class="col-sm-4">
            <input type="tel" class="form-control" id="phone" placeholder="Phone">
          </div>
        </div>

        <div class="form-group row mydiv">
          <label for="email" class="col-sm-3 col-form-label mylabel">Email</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
        </div>

        <div class="form-group row mydiv">
          <label for="website" class="col-sm-3 col-form-label mylabel">Website</label>
          <div class="col-sm-4">
            <input type="url" class="form-control" id="website" placeholder="Website">
          </div>
        </div>

        <div class="form-group row mydiv">
          <label for="specialization" class="col-sm-3 col-form-label mylabel">Specialization</label>
          <div class="col-sm-4">
              <select class="custom-select" required>
                <option value="">Select </option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="specialization" class="col-sm-3 col-form-label" style="font-weight: bold;"></label>
          <div class="col-sm-4">
            <button type="submit" class="btn my-button" style="padding: 5px 20px;">Save</button>
            <br>
            <div style="padding: 10px 10px 10px 0px;"><span>
              <a (click)="uploadVendor()" class="mylink" style="cursor: pointer; color: #4847E0; text-decoration: underline;">Add Vendor through Excel</a></span></div>

          </div>
        </div>
      </form>

    </div>

            <!-- Upload Vendor with Excel -->

    <div *ngIf="vendorWindow" class="container" style="background-color: white; height: 800px;">
      <div style="padding: 20px 0px 5px 0px;">
        <span style="font-size: 15px; font-weight: bold;">Upload Vendor List</span>
      </div>

        <br>
        <form>
          <div class="form-group row mydiv">
            <label for="website" class="col-sm-3 col-form-label mylabel">Vendor List</label>

            <ngx-file-upload></ngx-file-upload>

            <div class="col-sm-4">
              <i class="fa fa-download" style="color: #4847E0; padding: 10px;" aria-hidden="true"></i>
              <span style="color: #4847E0; padding: 10px;" >Download Template</span>
            </div>
          </div>

          <div class="form-group row">
            <label for="save" class="col-sm-3 col-form-label" style="font-weight: bold;"></label>
            <div class="col-sm-4" style="padding-left: 0px;">
              <button type="submit" class="btn my-button" style="padding: 5px 20px;">Save</button>
              <div style="padding: 10px 10px 10px 0px;"><span>
                <a (click)="uploadVendor()" style="cursor: pointer; color: #4847E0; text-decoration: underline;">Add Vendor through Excel</a></span></div>

            </div>
          </div>
        </form>

      </div>

<!-- Training Types -->

    </nb-tab>
    <nb-tab tabTitle="Types">
      <div *ngIf="trainingType && TrainingTypeData==''" id="home" class="container tab-pane active"><br>
        <div class="center">
          <h5 style="text-align: center;">You have not setup any training type</h5>
          <p style="text-align: center;">Click on the button to start your set up</p>

          <div class="col text-center">
            <button type="submit" class="btn my-button btn-md" (click)="addNewTraining()">Add Training Type</button>
          </div>
        </div>
      </div>


      <div *ngIf="trainingType && TrainingTypeData !=''" id="home" class="container tab-pane active"><br>
        <ngx-tableheader></ngx-tableheader>
        <ngx-tablecomponent></ngx-tablecomponent>
      </div>



      <div *ngIf="newTrainingType" class="container" style="background-color: white; height: 800px;">
        <!-- <div style="padding: 20px 0px 5px 0px;">
          <span style="font-size: 15px; font-weight: bold;">Add Vendor Manually</span>
        </div> -->

          <br>
          <form>
            <div class="form-group row mydiv">
              <label for="Title" class="col-sm-3 col-form-label mylabel">Title</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="vendorName" placeholder="Enter Text">
              </div>
            </div>
            <div class="form-group row mydiv">
              <label for="Specialization" class="col-sm-3 col-form-label mylabel">Specialization</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="contactPerson" placeholder="Specialization">
              </div>
            </div>

            <div class="form-group row mydiv">
              <label for="phone" class="col-sm-3 col-form-label mylabel">Category</label>
              <ngx-radio-button [items]="['Internal', 'External']" [(value)]="category"></ngx-radio-button>
            </div>

            <div *ngIf="category =='External'" class="form-group row mydiv">
              <label for="website" class="col-sm-3 col-form-label mylabel">Vendor</label>
              <div class="col-sm-4">
                <select class="custom-select" required>
                  <option value="">Select </option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>

            <div class="form-group row mydiv">
              <label for="cost" class="col-sm-3 col-form-label mylabel">Cost per head</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" name="costPerHead" id="cost" placeholder="Enter Amount">
              </div>
            </div>

            <div class="form-group row mydiv">
              <label for="training" class="col-sm-3 col-form-label mylabel">No of Trainees</label>
              <div class="col-sm-4">
                <input type="number" class="form-control" name="noOfTrainees" id="trainees" placeholder="Enter Text">
            </div>
            </div>

            <div class="form-group row mydiv">
              <label for="amount" class="col-sm-3 col-form-label mylabel">Overall budget cost (optional)</label>
              <div class="col-sm-4">
                <input type="text" class="form-control" id="amount" placeholder="Enter Amount">
              </div>
            </div>

            <div *ngIf="category =='Internal'" class="form-group row mydiv">
              <label for="website" class="col-sm-3 col-form-label mylabel">Content</label>
              <div class="col-sm-4">
                <ngx-file-upload></ngx-file-upload>
              </div>
            </div>

            <div *ngIf="category =='Internal'" class="form-group row mydiv">
              <label for="resourceperson" class="col-sm-3 col-form-label mylabel">Resource Person</label>
              <div class="col-sm-4">
                <select class="custom-select" name="resourcePerson" required>
                  <option value="">Select </option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="specialization" class="col-sm-3 col-form-label" style="font-weight: bold;"></label>
              <div class="col-sm-4">
                <button type="submit" class="btn my-button" style="padding: 7px 20px;">Save</button>
                <span style="padding: 8px;"></span>
                <button type="submit" class="btn cancel-button" style="padding: 5px 20px;">Cancel</button>
                <!-- <br>
                <div style="padding: 10px 10px 10px 0px;"><span>
                  <a (click)="uploadVendor()" class="mylink" style="cursor: pointer; color: #4847E0; text-decoration: underline;">Add Vendor through Excel</a></span></div> -->

              </div>
            </div>
          </form>

        </div>
    </nb-tab>
  </nb-tabset>
</div>
  <!-- </nb-card-body>
</nb-card> -->




<!-- <div *ngIf="welcome" class="container" style="background-color: white; height: 1000px;"> -->
<!--
  <br>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Vendors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu1">Types</a>
    </li>
  </ul> -->

<!-- Add New Training -->




