<ngx-componentsheader pageName="Performance Review"></ngx-componentsheader>

<ngx-default-content
*ngIf="loading"
pageHeader="Performance Review"
pageDescription=""
[loading]="loading"
>
</ngx-default-content>
<div class="main-page-container" *ngIf="!loading">
    <div>
        <div class="row summary">
            <div class="col-sm-4">
                <div>Employee Name</div>
                <div>{{employee.fullName}}</div>
            </div>
            <div class="col-sm-4">
                <div>Department</div>
                <div>{{contract.departmentName}}</div>
            </div>
            <div class="col-sm-4">
                <div>Position</div>
                <div>{{contract.positionName}}</div>
            </div>
            <div class="col-sm-4">
                <div>Reviewer Name</div>
                <div>{{reviewerName}}</div>
            </div>
            <div class="col-sm-4">
                <div>Reviewer Title</div>
                <div>{{kra.reviewerTitle}}</div>
            </div>
            <div class="col-sm-4">
                <div>Last appraised date</div>
                <div>{{kra.lastAppraisedDate | date}}</div>
            </div>
            <div class="col-sm-4">
                <div>Period under review</div>
                <div>{{kra.periodUnderReview | date}}</div>
            </div>
        </div>
    </div>

<ngx-performance-review [current_kra]="selectedKra" [performanceEmployeeType]="pageType" (next)="gotoNext()"></ngx-performance-review>
{{pageType}}
<div *ngIf="current_kra_is_last">
  <div style="margin-top: 20px;">
    <div class="linear-form">
        <div class="form-group" *ngIf="!kra.isEmployeeSubmitted">
            <label>Employee's Comment</label>
            <input class="form-control" [(ngModel)]="employeeComment" [disabled]="!employeeCanEdit"/>
        </div>
        <div class="form-group" *ngIf="isSupervisor">
            <label>Supervisor's Comment</label>
            <input class="form-control" [disabled]="!supervisorCanEdit" [(ngModel)]="supervisorComment"/>
        </div>
        <div class="form-group" *ngIf="isHR">
          <label>HR Comment</label>
          <input class="form-control" [(ngModel)]="hrComment"/>
      </div>
        <div class="form-group" *ngIf="isHR">
            <label>Recommendations</label>
            <select class="form-control" [(ngModel)]="recommendation">
              <option *ngFor="let rec of recommendations" [value]="rec.id">
                {{rec.text}}
              </option>
            </select>
        </div>
        <!-- <div class="form-group">
            <label></label>
            <div>
                <button nbButton status='primary' outline style="border: none;">
                    <nb-icon icon='plus'></nb-icon>
                    Add more
                </button>
            </div>
        </div> -->
        <div class="form-group">
            <label></label>
            <div>
              <ngx-loadable-button (click)="submit()" [loading]="loadingSave">Submit</ngx-loadable-button>
                <button nbButton status='primary' outline style="background: transparent; margin-left: 1rem;">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
</div>
</div>

