




.noborder{
    border-right: none  !important;
}

$red: #e66053;
$black: #4E4F4A;
$cream: #F6E9DC;
$smart: #95A8B8;

$thin-border: 0.5px solid $smart;

*, *::after, *::before {
  box-sizing: border-box;
}



main {
  background-color: $cream;
  box-shadow:
     0px 0px 0px 2px $smart,
     10px 10px 20px 10px fade-out($black, .5);
  flex-basis: 980px;
}

.calendar {
  table-display: fixed;
  border: $thin-border;
  width: 100%;
}

.calendar__day__header,
.calendar__day__cell {
  border: $thin-border;
  text-align: center;
  width: 100% / 7; // fix width
  vertical-align: middle;
  &:first-child {
    border-left: none;
  }
  &:last-child {
    border-right: none;
  }
}

.calendar__day__header,
.calendar__day__cell {
  padding: .75rem 0 1.5rem;
}



.calendar__day__header {
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.calendar__day__cell {
  font-size: 1.125rem;
  color: #0B1621;
  position: relative;
  height: 5.5rem;
  text-align: left;
  vertical-align: top;
}
.today{
    border-top: 4px solid #4847E0 !important;
    background: #ECECFC 0% 0% no-repeat padding-box;

}
.selectedDay{
    background: #ECECFC 0% 0% no-repeat padding-box;

}
.other-month{
    color:#e2e8ed !important;
}

tr:nth-child(odd) > .calendar__day__cell:nth-child(odd) {
  color: $black;
}

tr:nth-child(even) > .calendar__day__cell:nth-child(even) {
  color: $black;
}

.calendar__day__cell[data-moon-phase] {
  background-color: $red;
  color: $black;
  &:after {
    content: attr(data-moon-phase);
    color: $cream;
    display: block;
    font-weight: 400;
    font-size: .75rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    text-transform: uppercase;
  }
}
.afterSpan{
    padding: 0 0 15px 15px;
    display: block;
    font-weight: 400;
    font-size: .75rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    text-transform: uppercase;
    color: #4847E0 !important;;
}
.calendar__day__cell[data-bank-holiday] {
  background-color: $black;
  border-color: $black;
  
  border-bottom: none;
  color: $cream;
  &:after {
    content: attr(data-bank-holiday);
    color: $cream;
    display: block;
    font-size: .75rem;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    text-transform: uppercase;
  }
}
