<ngx-componentsheader pageName='Rating'></ngx-componentsheader>
<div class="main-page-container">
    <div style="display: flex; justify-content: flex-end;" class="table-buttons">
        <button nbButton outline text-button  status='primary'>
            <nb-icon icon='plus'></nb-icon>
            Add KPI
        </button>
        <button nbButton outline text-button  status='primary'>
            <nb-icon icon='download-outline'></nb-icon>
            Downlaod Template
        </button>
                    <button nbButton outline text-button  status='primary'>
            <nb-icon icon='upload-outline'></nb-icon>
            Upload KPI
        </button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Performance(From)</th>
                <th>Performance(To)</th>
                <th>Grade</th>
                <th>Description</th>
                <th>Recommendation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Performance(From)</td>
                <td>Performance(To)</td>
                <td>Grade</td>
                <td>Description</td>
                <td>Recommendation</td>
            </tr>
        </tbody>
    </table>
    <button nbButton status='primary'>Save</button>
</div>