.table-buttons {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}
.table-buttons button{
    border: none;
    background: transparent !important;
    min-width: unset !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}