<ngx-componentsheader
  pageName="Departments"
  [requiredButton]="topActionButtons"
  (buttonClick)="pageActionClicked($event)"
></ngx-componentsheader>
<div class="main-page-container">
<ngx-default-content
    *ngIf="showEmpty"
    pageHeader="Create your first Department"
    pageDescription="Click on the button to create a Department"
    buttonValue="Create Department"
    (buttonClick)="createNewClicked()"
  >
  </ngx-default-content>
  <ngx-tablecomponent
    *ngIf="!showEmpty"
    [tableColum]="tableColumns"
    [actions]="tableActions"
    [userData]="tableData"
    [loading]="loading"
    (filterChange)="filterUpdated($event)"
    [showFilter]="true"
    (actionClick)="tableActionClicked($event)"
  ></ngx-tablecomponent>
</div>
<ngx-side-modal [(show)]="showModal" (closed)="clearEditingData()">
  <div modal-header>Add New Department</div>
  <div modal-body>
    <div class="my-form">
      <div class="form-group">
        <label>Department Name</label>
        <div>
          <input
            class="form-control"
            [(ngModel)]="editingData.department_name"
            placeholder="Name"
        />
        <ng-template [ngIf]="errors['department_name']">
          <span *ngFor="let error of errors['department_name']" class="error">{{error}}</span>
        </ng-template>
        </div>
      </div>
      <div class="form-group">
        <label>Department Code</label>
        <div>
          <input
          class="form-control"
          [(ngModel)]="editingData.code"
          placeholder="Code"
        />
          <ng-template [ngIf]="errors['code']">
            <span *ngFor="let error of errors['code']" class="error">{{error}}</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div modal-actions>
    <ngx-loadable-button (click)="submitForm()" [loading]="loading" style="margin-right: 1rem;">Save</ngx-loadable-button>
    <!-- <button nbButton status="primary" (click)="submitForm()">save</button> -->
    <button nbButton status="primary" outline (click)="hideModal()">
      cancel
    </button>
  </div>
</ngx-side-modal>
