<ngx-componentsheader
  pageName="Performance Management Cycle"
  [requiredButton]="topActionButtons"
  (buttonClick)="pageActionClicked($event)"
></ngx-componentsheader>
<div class="main-page-container">
  <ng-template [ngIf]="!showModal">
    <ngx-tableheader *ngIf="!showEmpty"></ngx-tableheader
    ><ngx-default-content
      *ngIf="showEmpty"
      pageHeader="Create your first Cycle"
      pageDescription="Click on the button to create a performance cycle"
      buttonValue="Create Cycle"
      (buttonClick)="createNewClicked()"
      [loading]="loading"
    >
    </ngx-default-content>
    <ngx-tablecomponent
      *ngIf="!showEmpty"
      [tableColum]="tableColumns"
      [userData]="tableData"
      [loading]="loading"
      (pageChange)="loadNewPage($event)"
      [actions]="tableActions"
      (actionClick)="tableActionClick($event)"
      [loading]="loading"
    ></ngx-tablecomponent>
  </ng-template>
  <div *ngIf="showModal" title="New Performance Cycle">
    <div modal-header></div>
    <div modal-body>
      <div class="linear-form">
        <div class="form-group">
          <label>Review Purpose</label>
          <select class="form-control" [(ngModel)]="editingData.reviewPurposeId">
            <option>--Select Purpose--</option>
            <option *ngFor="let purp of reviewPurposes" value="purp.name">{{purp.label}}</option>
          </select>
          <!-- <ngx-multi-select [(idValue)]="editingData.reviewPurposeId" [singleSelection]="true" [items]="reviewPurposes"></ngx-multi-select> -->
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea [(ngModel)]="editingData.description" nbInput fullWidth></textarea>
          <!-- <ngx-wysisyg-input [(value)]="editingData.description"></ngx-wysisyg-input> -->
        </div>

        <div class="form-group">
          <label>Cycle Name</label>
          <input class="form-control" [(ngModel)]="editingData.name" />
        </div>

        <div class="form-group">
          <label>Appraisal Period Date</label>
          <ngx-date-range [(start)]="editingData.startDate" [(end)]="editingData.endDate"></ngx-date-range>
        </div>

        <div class="form-group">
          <label>Appraisal Due Date</label>
          <ngx-date [(value)]="editingData.dueDate"></ngx-date>
        </div>

        <div class="form-group">
          <label>Period Under Review</label>
          <ngx-date [(value)]="editingData.periodUnderReview"></ngx-date>
        </div>

        <div class="form-group">
          <label>Appraisal Type</label>
          <!-- <ngx-radio-button
            [items]="appraisalTypes"
            [(value)]="editingData.appraisalTypeId"
          ></ngx-radio-button> -->
          <nb-radio-group [(ngModel)]="editingData.appraisalTypeId">
            <nb-radio [value]="item.selectValue" *ngFor="let item of appraisalTypes">{{item.selectLabel}}</nb-radio>
          </nb-radio-group>
        </div>

        <!-- <div class="form-group">
          <label>Rating Type</label>
          <nb-radio-group [(ngModel)]="selectedOption">
            <nb-radio [value]="item.selectValue" *ngFor="let item of ratingTypes">{{item.selectLabel}}</nb-radio>
          </nb-radio-group> -->
          <!-- <ngx-radio-button
            [items]="ratingTypes"
            [(value)]="editingData.ratingTypeId"
          ></ngx-radio-button> -->
        <!-- </div> -->

        <!-- <div class="form-group"
          *ngIf="editingData.ratingTypeId==RATING_TYPE_VALUES.OPEN_ENDED">
          <label>Close Ended</label>
          <div style="display: flex;">
            <input class="form-control" [(ngModel)]="editingData.minRating" />
            <div style="margin: 1rem"></div>
            <input class="form-control" [(ngModel)]="editingData.maxRating" />
          </div>
        </div> -->

        <div class="form-group">
          <label>Department</label>
          <ngx-multi-select [(idValue)]="editingData.departmentId" [singleSelection]="true" [choice_name]="ChoiceName.departments"></ngx-multi-select>
        </div>

        <div class="form-group">
          <label>Unit/Division</label>
          <ngx-multi-select [(idValue)]="editingData.unitId" [singleSelection]="true" [choice_name]="ChoiceName.departments"></ngx-multi-select>
        </div>

        <div class="form-group">
          <label>Location</label>
          <ngx-multi-select [(idValue)]="editingData.locationId" [singleSelection]="true" [choice_name]="ChoiceName.locations"></ngx-multi-select>
        </div>

        <div class="form-group">
          <label>Mark as Active</label>
          <input type="checkbox" [(ngModel)]="editingData.isActive" />
        </div>
        <div class="form-group">
          <label></label>
          <div>
            <ngx-loadable-button (click)="submitForm()" [loading]="loadingSave" style="margin-right: 1rem;">Save</ngx-loadable-button>
            <button nbButton status="primary" outline style="background: transparent">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <div modal-actions>

    </div>
  </div>
</div>
