<ngx-componentsheader
          pageName="Performance Management Cycle"
          [requiredButton]="topActionButtons"
          (buttonClick)="pageActionClicked($event)"
        ></ngx-componentsheader><div class="main-page-container"><ngx-tableheader *ngIf="!showEmpty"></ngx-tableheader><ngx-default-content *ngIf="showEmpty" pageHeader="Create your first Cycle" pageDescription="Click on the button to create a performance cycle" buttonValue="Create Cycle" (buttonClick)="createNewClicked()">
    </ngx-default-content>
      <ngx-tablecomponent
        *ngIf="!showEmpty"
        [tableColum]="tableColumns"
        [userData]="tableData"
        [loading]="loading"
        (pageChange)="loadNewPage($event)"
      ></ngx-tablecomponent>
    </div><ngx-side-modal [(show)]="showModal" [isPage]="true" title='New Performance Cycle'>
      <div modal-header></div>
      <div modal-body>
        
        <div class="linear-form">
            
            <div class="form-group">
                <label>Review Purpose</label>
                <select class="form-control"></select>
            </div>
            

            <div class="form-group">
                <label>Description</label>
                <input class="form-control"/>
            </div>
            

            <div class="form-group">
                <label>Cycle Name</label>
                <input class="form-control"/>
            </div>
            

            <div class="form-group">
                <label>Appraisal Period Date</label>
                <ngx-date-range></ngx-date-range>
            </div>
            

            <div class="form-group">
                <label>Appraisal Due Date</label>
                <ngx-date></ngx-date>
            </div>
            

            <div class="form-group">
                <label>Period Under Review</label>
                <ngx-date></ngx-date>
            </div>
            

            <div class="form-group">
                <label>Appraisal Type</label>
                <ngx-radio-button [items]="['Self Appraisal', '180 Appraisal', '360 Appraisal']"></ngx-radio-button>
            </div>
            

            <div class="form-group">
                <label>Rating Type</label>
                <ngx-radio-button [items]="['Open Ended', 'Close Ended']"></ngx-radio-button>
            </div>
            

            <div class="form-group">
                <label>Close Ended</label>
                <div>
                    <input class="form-control">
                    <div style="margin: 1rem;"></div>
                    <input class="form-control">
                </div>
            </div>
            

            <div class="form-group">
                <label>Department</label>
                <select class="form-control"></select>
            </div>
            

            <div class="form-group">
                <label>Unit/Division</label>
                <select class="form-control"></select>
            </div>
            

            <div class="form-group">
                <label>Location</label>
                <select class="form-control"></select>
            </div>
            

            <div class="form-group">
                <label>Mark as Active</label>
                <input type='checkbox'/>
            </div>

            <hr/>
            <h4>Approval Workflow</h4>
            <ngx-workflow></ngx-workflow>
            
        </div>
        
      </div>
      <div modal-actions>
        <button nbButton status="primary" >Save</button>
        <button nbButton status="primary" outline style="background: transparent;">Cancel</button>
      </div>
    </ngx-side-modal>
    