<ngx-componentsheader pageName='Leave Plan' [requiredButton]="topActionButtons" (buttonClick)='modal($event)'>
</ngx-componentsheader>






<nb-card>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Approved"></nb-tab>
            <nb-tab tabTitle="Pending"></nb-tab>
            <nb-tab tabTitle="Rejected"></nb-tab>
        </nb-tabset>
        <ngx-tableheader></ngx-tableheader>
<ngx-tablecomponent [tableColum]="tableColumns"></ngx-tablecomponent>
    </nb-card-body>
</nb-card>





<ngx-createleave-request [showModalRequest]="showAddPlanModal"></ngx-createleave-request>

<ngx-createleave-plan [showModal]="showLeavePlanModal"></ngx-createleave-plan>