<ngx-componentsheader pageName='Score Card'></ngx-componentsheader>
<div class="main-page-container">
    <ngx-tableheader></ngx-tableheader>
    <table>
        <thead>
            <tr>
                <th>KRAs</th>
                <th>Weight</th>
                <th>Target(Actual)</th>
                <th>Target(Stretch)</th>
                <th>Average</th>
                <th>Performance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Financial</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>