<ngx-componentsheader pageName='Talent Pool'></ngx-componentsheader>
<div *ngIf="newPool==false" style="background-color: #ffffff;">
  <nb-card
    style="min-height: 100vh; display: flex; flex-direction: row; align-content: center; align-self: center; align-items: center; justify-content:center;">
    <nb-card-body>
      <div><br>
        <ngx-default-content pageHeader={{talentPoolHeader}} pageDescription="{{talentPoolDescription}}" buttonValue={{myButton}}
          (buttonClick)="addNewPool()"></ngx-default-content>
      </div>
    </nb-card-body>
  </nb-card>

</div>

<div *ngIf="newPool ==true">
  <nb-card>
    <nb-card-body>
      <form>
        <div class="form-group row mydiv">
          <label for="Title" class="col-sm-3 col-form-label mylabel">Title</label>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <input type="text" class="form-control" id="jobTitle" placeholder="Pool Title">
          </div>
        </div>

        <div class="form-group row mydiv">
          <label for="Department" class="col-sm-3 col-form-label mylabel">Description</label>
            <div class="col-sm-6 col-md-6 col-lg-6">
              <ngx-wysisyg-input style="padding-left: -10px;"></ngx-wysisyg-input>
          </div>
        </div>

        <h6>Pool Requirements</h6>
        <div class="form-group row mydiv">
          <label for="Country" class="col-sm-3 col-form-label mylabel">Category</label>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <select class="custom-select" required>
              <option value="">Select </option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="form-group row mydiv">
          <label for="Region" class="col-sm-3 col-form-label mylabel">Type</label>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <select class="custom-select" required>
              <option value="">Select </option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>

        <div class="form-group row mydiv">
          <label for="Region" class="col-sm-3 col-form-label mylabel">Recruitment Point</label>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <select class="custom-select" required>
              <option value="">Select </option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>



        <div class="form-group row mydiv">
          <label for="Skill Weight" class="col-sm-3 col-form-label mylabel">Skill Weight</label>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <input type="text" class="form-control" name="skillWeight" placeholder="Skill Weight">
          </div>
        </div>

        <div class="form-group row mydiv">
          <label for="Experience" class="col-sm-3 col-form-label mylabel">Experience</label>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <select class="custom-select" name="Experience" required>
              <option value="">Select </option>
              <option value="1">Beginner</option>
              <option value="2">Intermediate</option>
              <option value="3">Master</option>
            </select>
          </div>
        </div>

        <div class="form-group row mydiv">
          <label for="Experience Weight" class="col-sm-3 col-form-label mylabel">Experience Weight</label>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <input type="text" class="form-control" name="experienceWeight" placeholder="Experience Weight">
          </div>
        </div>


        <div class="form-group row">
          <label for="specialization" class="col-sm-3 col-form-label" style="font-weight: bold;"></label>
          <div class="col-sm-6">
            <button nbButton status="primary">Create Pool</button>
            <span style="padding: 8px;"></span>
            <button nbButton style="color: #4847E0;">Cancel</button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>

<div *ngIf="newPool == true">
      <nb-card class="cardTitle" (click)="toggleCard('applied')" #applied>
        <nb-card-header>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <span>Applied</span><span class="actions"><a href="">Edit</a><a style="padding: 10px; color:#EB5757;" href="">Delete</a></span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <p>This is a description of what the pool is all about</p>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <span>Shortlisted</span><span class="actions"><a href="javascript:void(0)"
              (click)="showModal()">Edit</a><a style="padding: 10px; color:#EB5757;" href="">Delete</a></span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <p>This is a description of what the pool is all about</p>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <span>Pending offer</span><span class="actions"><a href="">Edit</a><a style="padding: 10px; color:#EB5757;" href="">Delete</a></span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <p>This is a description of what the pool is all about</p>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>
          <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <span>Hired</span><span class="actions"><a href="">Edit</a><a style="padding: 10px; color:#EB5757;" href="">Delete</a></span>
          </div>
        </nb-card-header>
        <nb-card-body>
          <p>This is a description of what the pool is all about</p>
        </nb-card-body>
      </nb-card>
</div>
