<ngx-componentsheader
          pageName="Appraisals"
          [requiredButton]="topActionButtons"
          (buttonClick)="pageActionClicked($event)"
        ></ngx-componentsheader><div class="main-page-container">
        <!-- <nb-tabset (changeTab)="selectTab($event)">
        <nb-tab tabTitle="Pending" [tabId]="TABS.PENDING">
        </nb-tab><nb-tab tabTitle="Reviewed" [tabId]="TABS.REVIEWED">
        </nb-tab>
        </nb-tabset> -->
    <ngx-tableheader *ngIf="!showEmpty"></ngx-tableheader><ngx-default-content [loading]="loading" *ngIf="showEmpty" pageHeader="" pageDescription="You have no appraisals to review" buttonValue="" (buttonClick)="createNewClicked()">
    </ngx-default-content>
      <ngx-tablecomponent
        *ngIf="!showEmpty"
        [tableColum]="tableColumns"
        [userData]="data"
        [loading]="loading"
        (pageChange)="loadNewPage($event)"
        [showActions]="false"
        (actionClick)="tableActionClick($event)"
      ></ngx-tablecomponent>
    </div>

  aaa {{loading}}nnn
