<ngx-customizable-column-layout  [sideMenuToggle]="sideMenuToggle">
  <div Customizedmenu>
    <div class="row" style="display: flex; justify-content: flex-start; flex-direction: row; padding: 10px;">

      <div class="form-group">
          <h6>Type of Employment</h6>
          <nb-checkbox *ngFor="let emptype of employmentTypeData" (click)="filterBySalary(emptype.text)" style="display: flex; flex-direction: column;">{{emptype.text}}</nb-checkbox><br>
      </div>


        <div class="form-group">
          <h6>Level</h6>
          <nb-checkbox *ngFor="let level of jobLevelData" (click)="filterByLevel(level.text)" style="display: flex; flex-direction: column;">{{level.text}}</nb-checkbox><br>
        </div>

        <div style="padding: 20px;"></div>

        <div class="form-group">
          <h6>Industry</h6>
          <nb-checkbox *ngFor="let industry of industryData"(click)="filterByIndustry(industry.name)" style="display: flex; flex-direction: column;">{{industry.name}}</nb-checkbox><br>
        </div>

        <div style="padding: 20px;"></div>

        <div class="form-group">
          <h6>Salary</h6>
          <nb-checkbox *ngFor="let salary of salaryData" (click)="filterBySalary(salary.range)" style="display: flex; flex-direction: column;">{{salary.range}}</nb-checkbox><br>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</ngx-customizable-column-layout>
<!-- <ngx-single-column-header-layout>
<router-outlet></router-outlet>
</ngx-single-column-header-layout> -->
