<ngx-componentsheader [pageName]="title" [requiredButton]="rbutton"></ngx-componentsheader>

<div style="padding: 5px;"></div>
<div class="row">
    <div class="col-xxxl-3 col-md-3" >
      <nb-card>
        <div style="padding: 10px;display: flex; flex-direction: row;">
       <div style="display: flex;align-items: center;">
         <img src="assets/icons/totaltasks.jpg" style="width:3rem;">
       </div>
       <div style="flex-direction: column; padding-left: 10px;">
        <div style="padding:5px">
        <span class="smalltext">
          Total Tasks
        </span>
        </div>
        <div style="padding:5px">
          <span class="header5-bold">20</span>
        </div>
       </div>
       </div>
       </nb-card>
    </div>
    <div class="col-xxxl-3 col-md-3" >
      <nb-card>
        <div style="padding: 10px;display: flex; flex-direction: row;">
       <div style="display: flex;align-items: center;">
         <img src="assets/icons/TotalProjects.jpg" style="width:3rem;">
       </div>
       <div style="flex-direction: column; padding-left: 10px;">
        <div style="padding:5px">
        <span class="smalltext">
          Total Projects
        </span>
        </div>
        <div style="padding:5px">
          <span class="header5-bold">30</span>
        </div>
       </div>
       </div>
       </nb-card>
    </div>
    <div class="col-xxxl-3 col-md-3" >
      <nb-card>
        <div style="padding: 10px;display: flex; flex-direction: row;">
       <div style="display: flex;align-items: center;">
         <img src="assets/icons/NumberofShifts.jpg" style="width:3rem;">
       </div>
       <div style="flex-direction: column; padding-left: 10px;">
        <div style="padding:5px">
        <span class="smalltext">
         Number of Shifts
        </span>
        </div>
        <div style="padding:5px">
          <span class="header5-bold">21</span>
        </div>
       </div>
       </div>
       </nb-card>
    </div>
    <div class="col-xxxl-3 col-md-3" >
      <nb-card>
        <div style="padding: 10px;display: flex; flex-direction: row;">
       <div style="display: flex;align-items: center;">
         <img src="assets/icons/AverageTimespent.jpg" style="width:3rem;">
       </div>
       <div style="flex-direction: column; padding-left: 10px;">
        <div style="padding:5px">
        <span class="smalltext">
         Average Time Spent
        </span>
        </div>
        <div style="padding:5px">
          <span class="header5-bold">00:00:00</span>
        </div>
       </div>
       </div>
       </nb-card>
    </div>
  </div>
